<article class="small-blog">
		<time class="small-blog-date" th:datetime="${newsBlock.submitDate}" th:text="${{newsBlock.submitDate}}"></time>
		<div class="small-blog-title">
	        <a class="small-blog-title-ref" th:href="@{${newsBlock.url}}"><span th:text="${newsBlock.name}"></span></a>
	    </div>
	    <th:block th:if="${!#strings.isEmpty(newsBlock.description)"}>
		    <div class="small-blog-desc">
		        <span th:utext="${newsBlock.description}"></span>
		    </div>
		    <a class="small-blog-readmore" th:href="@{${newsBlock.url}}" th:text="#{blog.readmore}"></a>
	    </th:block>
</article>