@CHARSET "UTF-8";

.domain-col {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
 }

/*helper*/
.helper{vertical-align: middle;width: 0;height: 100%;padding: 0 !important;border: 0 !important;display: inline-block;}
.helper + *{vertical-align: middle;display: inline-block;word-break: break-word;word-wrap: break-word;}

.photo-block{
    height: 92px;width: 92px;background: #fff;padding: 4px;border: 1px solid #cbcbcb;font-size: 0;text-align: center;
}
.photo-block150{
    height: 150px;width: 150px;background: #fff;padding: 4px;border: 1px solid #cbcbcb;font-size: 0;text-align: center;
}
.photo-block200{
	height: 200px;width: 200px;background: #fff;padding: 4px;border: 1px solid #cbcbcb;font-size: 0;text-align: center;
}

[class^="photo-block"] img{border: 0;padding: 0;-moz-box-shadow:  none; -webkit-box-shadow:  none; box-shadow:  none;max-height: 100%!important;max-width: 100%!important;width: auto!important;margin-right: 0;float: none !important;}



.a-photo-out a{text-decoration: none;}
.a-photo-out .photo-block{width: 50px;height: 50px;background: #fff;border: 1px solid #cbcbcb;float: left;margin-right: 12px;font-size: 0;padding: 4px;}
.a-photo-out .photo-block img{max-width: 100%;max-height: 100%;box-shadow: none;padding: 0;border: 0px;}


.select2-result-repository { padding-top: 4px; padding-bottom: 3px; }
.select2-result-repository__avatar { float: left; width: 60px; margin-right: 10px; }
.select2-result-repository__avatar img { width: 100%; height: auto; border-radius: 2px; }
.select2-result-repository__meta { margin-left: 70px; }
.select2-result-repository__title { color: black; font-size: 11px; font-weight: bold; word-wrap: break-word; line-height: 1.1; margin-bottom: 4px; }
.select2-result-repository__additional { margin-right: 1em; display: inline-block; color: #aaa; font-size: 11px; }
.select2-result-repository__description { font-size: 11px; color: #777; margin-top: 4px; }
.select2-results__option--highlighted .select2-result-repository__title { color: white; }
.select2-results__option--highlighted .select2-result-repository__additional, .select2-results__option--highlighted, .select2-results__option--highlighted .select2-result-repository__description, .select2-results__option--highlighted  { color: #c6dcef; }
