<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
 <head>
   <title>Welcome to inShop</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <link rel="stylesheet" type="text/css" media="all" href="../../resources/css/style.css" th:href="@{/resources/css/style.css}"/>
</head>
<title>inShop Title</title>
  <body>
    <header>
      <h1>Header</h1>
    </header>
    <div class="clearfix" layout:fragment="content">
 		Content
    </div>
  </body>
</html>