<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  layout:decorator="layouts/admin-default">
	<head>
	    <th:block th:remove="all">
			<title>inShop Admin productsForOrder</title>
		    <meta charset="utf-8"/>
		    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		    <meta name="viewport" content="width=device-width, initial-scale=1"/>
		    <meta name="description" content=""/>
		    <meta name="author" content=""/>
		    <!-- Bootstrap Core CSS -->
		    <link href="../../resources/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" th:href="@{/resources/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
			<!-- Custom css -->	    
	    	<link href="../../resources/css/sb-admin-2.css" rel="stylesheet" th:href="@{/resources/css/sb-admin-2.css}"/>
		    <!-- Custom Fonts -->
	    	<link href="../../resources/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" th:href="@{/resources/bower_components/font-awesome/css/font-awesome.min.css}"/>
    	</th:block>
	    	<link href="../../resources/css/style.css" rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}"/>
	    	<link href="../../resources/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" th:href="@{/resources/bower_components/bootstrap/dist/css/bootstrap-theme.min.css}"/>
			<!-- Treegrid -->
		 	<link href="../../resources/css/jquery.treegrid.css" rel="stylesheet" th:href="@{/resources/css/jquery.treegrid.css}"/>
			<!-- Select2 -->		 	
		 	<link href="../../resources/css/select2.min.css" rel="stylesheet" th:href="@{/resources/css/select2.min.css}"/>
			<style type="text/css">
				body {
				    margin:0;     /* This is used to reset any browser-default margins */
				    height:100vh; /* This is needed to overcome a Chrome bug. */
				    width:100vw;  /* As above. */
				}
			 	table { table-layout: fixed; }
 				table th, table td { overflow: hidden; }
				td.domain-col {
				    overflow: hidden;
				    text-overflow: ellipsis;
				    white-space: nowrap;
				 }
				mark {
					border: 1px dashed black; !important;
				 }
			</style>	    	    	
	</head>
<body>
   <th:block layout:fragment="breadcrumb">

   </th:block>
    <div class="container-fluid">
		<div class="row" >
		  <div class="col-lg-12" > 
	       <div class="panel panel-default" layout:fragment="content">
	           <div class="panel-heading">
	               <span>Products for order</span>
	           </div> 	 
	             <div class="panel-body">
 	                  <div class="row" style="margin-bottom:10px;">
 	                      <div class="col-md-4">
							<div class="input-group">
							    <select id="searchTerm" class="js-example-data-ajax form-control">
    							</select>
							  <div class="input-group-btn">
								<button id="doSearch" type="button" class="btn btn-default">
									<i class="fa fa-search"></i>
								</button>
								<button id="clearSearch" type="button" class="btn btn-default" >
									<i class="fa fa-times"></i>
								</button>
							  </div>
							</div>
 	                      </div>
 	                  </div>  
 	                  <div class="row">
 	                    <div class="col-md-12">	               
						      <table class="tree table table-striped table-bordered table-hover table-condensed table-responsive" id="categoryDataTable" data-checkid="">
						        <thead >
							      <tr >
							          <th class="col-md-1"></th>
						              <th class="col-md-7 text-center" th:text="#{admin.catalog.attributecategory.name}">Name</th>
						  	      </tr>
						 	    </thead>
						 	    <tbody>      
							        <tr >
							            <td class="text-center">						

									    </td>
										<td></td>
							        </tr>
						        </tbody>
						      </table> 
						   </div>
						</div>      
				     </div> 
               </div>    
	       </div>
	    </div>
    </div> 
    <!-- jQuery -->
    <script src="../../resources/bower_components/jquery/dist/jquery.min.js" th:src="@{/resources/bower_components/jquery/dist/jquery.min.js}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../../resources/bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{/resources/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
    <th:block layout:fragment="script"> 
		<!-- Treegrid -->
	    <script src="../../resources/bower_components/jquery/dist/jquery.treegrid.min.js" th:src="@{/resources/bower_components/jquery/dist/jquery.treegrid.min.js}"></script>
	    <script src="../../resources/bower_components/jquery/dist/jquery.cookie.js" th:src="@{/resources/bower_components/jquery/dist/jquery.cookie.js}"></script>
		<script src="../../resources/bower_components/jquery/dist/jquery.treegrid.bootstrap3.js" th:src="@{/resources/bower_components/jquery/dist/jquery.treegrid.bootstrap3.js}"></script>
        <!-- Tree grid search -->
        <script src="../../resources/js/inShop-treegrid-search.js" th:src="@{/resources/js/inShop-treegrid-search.js}"></script>		
	    <!-- Select2 -->
	    <script src="../../resources/js/select2.full.min.js" th:src="@{/resources/js/select2.full.min.js}"></script>
	    <script src="../../resources/js/ru.js" th:src="@{/resources/js/ru.js}"></script>
	    <script th:inline="javascript" type="text/javascript">
	      //<![CDATA[
	           var $ajax = $(".js-example-data-ajax");
	           $(document).ready(function() {
    		    $("#categoryDataTable").treegrid({
    		    		treeColumn: 1, 
		    			saveState: true,
		    		});
	            });
	           function formatRepo (repo) {
	        	      if (repo.loading) return repo.text;

	        	      var markup = "<div class='select2-result-repository clearfix'>" +
	        	       "<div class='a-photo-out'>"+
	        	        "<div class='photo-block'><img src='" + (repo.images[0]) + "' /></div></div>" +
	        	        "<div class='select2-result-repository__meta'>" +
	        	          "<div class='select2-result-repository__title'>" + repo.name + "</div>";
         	          markup += "<div class='select2-result-repository__description'>" + (repo.code ? "Артикул:" + repo.code + " <i class='fa fa-asterisk'></i> " : "") + "Вариант:" + repo.optionValues.join() + "</div>";
	        	      markup += "<div class='select2-result-repository__statistics'>" +
	        	        "<div class='select2-result-repository__price'><i class='fa fa-rub'></i> " + (repo.salePrice ? "<span style='text-decoration: line-through;'>"+repo.retailPrice.toFixed(2)+"</span> <span>"+ repo.salePrice.toFixed(2) +"</span>" : repo.retailPrice.toFixed(2))+"</div>" +
	        	        "<div class='select2-result-repository__stargazers'><i class='fa fa-star'></i> " + repo.model + "</div>" +
	        	        "<div class='select2-result-repository__watchers'><i class='fa fa-eye'></i> " + repo.productStatus + "</div>" +
	        	      "</div>" +
	        	      "</div></div>";
	        	      
	        	      return markup;
	        	    }

	        	    function formatRepoSelection (repo) {
	        	      return repo.name || repo.description;
	        	    }

	        	    $ajax.select2({
	        	      ajax: {
	        	        url: /*[[@{/order/product-search}]]*/,
	        	        dataType: 'json',
	        	        delay: 250,
	        	        data: function (params) {
	        	          return {
	        	            q: params.term, // search term
	        	            page: params.page
	        	          };
	        	        },
	        	        processResults: function (data, params) {
	        	          // parse the results into the format expected by Select2
	        	          // since we are using custom formatting functions we do not need to
	        	          // alter the remote JSON data, except to indicate that infinite
	        	          // scrolling can be used
	        	          params.page = params.page || 1;

	        	          return {
	        	            results: data.items,
	        	            pagination: {
	        	              more: (params.page * 30) < data.itemsCount
	        	            }
	        	          };
	        	        },
	        	        cache: true
	        	      },
	        	      escapeMarkup: function (markup) { return markup; },
	        	      minimumInputLength: 3,
	        	      templateResult: formatRepo,
	        	      templateSelection: formatRepoSelection
	        	    });

		   // ]]>
	     </script>
	     <th:block layout:fragment="scriptEditModal">
	     </th:block>
    </th:block>
</body>
</html>