<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>test page</title>
	<!-- Bootstrap Core CSS -->
    <link href="../../resources/css/lib/bootstrap.min.css" rel="stylesheet" th:href="@{/resources/css/lib/bootstrap.min.css}"/>
	<link href="../../resources/css/lib/lightbox.min.css" rel="stylesheet" th:href="@{/resources/css/lib/lightbox.min.css}"/>
	<link href="../../resources/css/style.css" rel="stylesheet" th:href="@{/resources/css/style.css}"/>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"/>
	<style type="text/css">
		.zoom-left{
		  float:left;
		  width:150px;
		
		  }
		/*set a border on the images to prevent shifting*/
		.gallery a img{border:2px solid white;}
		 
		/*Change the colour*/
		.active img{border:2px solid #333 !important;}
		 
		.quick-review-product-attributes table {
		    border-bottom: 1px solid #ddd;
		    border-right: 1px solid #ddd;
		    font-size: 12px;
		    font-weight: bold;
		}	
		.quick-review-product-attributes table th, .quick-review-product-attributes table td {
		    border-left: 1px solid #ddd;
		    border-top: 1px solid #ddd;
		    padding: 3px;
		}		 	
		.quick-review-product-attributes table th {
    		background: none repeat scroll 0 0 #f4f4f4;
		}	 
		.quick-review-product-attributes table td{
		 	font-weight: normal; !important;
		    font-style: italic;
		}		 	  		
	</style>	
</head>
<body>
	<div id="lightbox-container" style="display: none">
	</div>
	<div class="media">
		<div class="media-left">
			<div class="media-object">
				<img style="border:1px solid #e8e8e6;" id="quick-review-product-zoom" src="/home/akartkam/myprj/webcontent/images/КалоприемникФлексимаКоло.png" 
					 th:src="@{/images/КалоприемникФлексимаКоло.png}"
					 data-zoom-image="/home/akartkam/myprj/webcontent/images/КалоприемникФлексимаКоло.png"
					 th:attr="data-zoom-image=@{/images/КалоприемникФлексимаКоло.png}"
					 width="150"  />	
				<div id="quick-review-product-gallery" class="gallery" style="width:170px; float:left; ">
					<a  href="#" class="elevatezoom-gallery " data-update="" 
						data-image="/home/akartkam/myprj/webcontent/images/КалоприемникАлмарисПреференсНеДрен.jpg"
						data-zoom-image="/home/akartkam/myprj/webcontent/images/КалоприемникАлмарисПреференсНеДрен.jpg"
						th:attr="data-image=@{/images/КалоприемникАлмарисПреференсНеДрен.jpg}, data-zoom-image=@{/images/КалоприемникАлмарисПреференсНеДрен.jpg}"> 
					    <img src="/home/akartkam/myprj/webcontent/images/КалоприемникАлмарисПреференсНеДрен.jpg" width="50"
					     th:src="@{/images/КалоприемникАлмарисПреференсНеДрен.jpg}"/></a>		
					<a  href="#" class="elevatezoom-gallery" data-update="" data-image="/home/akartkam/myprj/webcontent/images/url_uploaded_file_13287871234f33aeb3d0793.jpg" 
						data-zoom-image="/home/akartkam/myprj/webcontent/images/url_uploaded_file_13287871234f33aeb3d0793.jpg"
						th:attr="data-image=@{/images/url_uploaded_file_13287871234f33aeb3d0793.jpg}, data-zoom-image=@{/images/url_uploaded_file_13287871234f33aeb3d0793.jpg}"> 
					    <img src="/home/akartkam/myprj/webcontent/images/url_uploaded_file_13287871234f33aeb3d0793.jpg" width="50"  
					    th:src="@{/images/url_uploaded_file_13287871234f33aeb3d0793.jpg}"/></a>		
					<a  href="#" class="elevatezoom-gallery active" data-update="" data-image="/home/akartkam/myprj/webcontent/images/КалоприемникФлексимаКоло.png" 
						data-zoom-image="/home/akartkam/myprj/webcontent/images/КалоприемникФлексимаКоло.png"
						th:attr="data-image=@{/images/КалоприемникФлексимаКоло.png}, data-zoom-image=@{/images/КалоприемникФлексимаКоло.png}"> 
					    <img src="/home/akartkam/myprj/webcontent/images/КалоприемникФлексимаКоло.png" width="50"  
					    th:src="@{/images/КалоприемникФлексимаКоло.png}"/></a>		
				</div>
			</div>
		</div>
		<div class="media-body quick-review-product-attributes">
			<h4 class="media-heading">Параметры товара</h4>
            <table cellspacing="0">
                <tbody>
                    <tr class="cart-subtotal">
                        <th>Cart Subtotal</th>
                        <td><span class="amount">£15.00</span></td>
                    </tr>

                    <tr class="shipping">
                        <th>Shipping and Handling</th>
                        <td>Free Shipping</td>
                    </tr>

                    <tr class="order-total">
                        <th>Order Total</th>
                        <td><strong><span class="amount">£15.00</span></strong> </td>
                    </tr>
                </tbody>
            </table>
		</div>
	</div>
	<!-- jQuery -->
    <script src="../../resources/js/lib/jquery.min.js" th:src="@{/resources/js/lib/jquery.min.js}"></script>
	<!-- jquery.elevateZoom-3.0.8.min.js -->
	<script src="../../resources/js/lib/jquery.elevateZoom-3.0.8.min.js" th:src="@{/resources/js/lib/jquery.elevateZoom-3.0.8.min.js}"></script>					 	
	<!-- lightbox.min.js -->
	<script src="../../resources/js/lib/lightbox.min.js" th:src="@{/resources/js/lib/lightbox.min.js}"></script>					 	
	<script type="text/javascript">
	//<![CDATA[
		$(document).ready(function () {
			$("#quick-review-product-zoom").elevateZoom({gallery:"quick-review-product-gallery", cursor: 'pointer', scrollZoom: "true", 
				                       responsive: "true", galleryActiveClass: "active", easing : true}); 
			
			$("#quick-review-product-zoom").bind("click", function(e) {  
			  var ez =   $('#quick-review-product-zoom').data('elevateZoom');
			  ez.closeAll(); //NEW: This function force hides the lens, tint and window
			  $("#lightbox-container a").each(function(){$(this).remove()});
			  $(ez.getGalleryList()).each(function(){
		        	$("<a>").attr({
		        	    href: this.href,
		        	    "data-lightbox": "lightbox-container",
		        	}).appendTo("#lightbox-container");				  
			  });
			  $("#lightbox-container a").eq(0).trigger("click");
			  return false;
			}); 
		});
	// ]]>
	</script>
</body>
</html>