<th:block layout:decorator="layouts/fullPageLayout">
	<head>
        <title th:utext="#{raiting.reviews}"></title>
    </head>
    <div layout:fragment="content">
 		<ol class="breadcrumb">
  			<li><a th:href="@{/}"><span th:utext="#{mainMenu.main}">Главная</span></a></li>
  			<li class="active"><span th:utext="#{raiting.reviews}">Отзывы</span></li>
		</ol>
		<div th:object="${reviewList}" th:replace="rating/partials/reviewListBlock(itemId='', ratingType='COMMON')">
		</div>
	</div>
</th:block>