<th:block layout:decorator="layouts/fullPageLayout">
	<head>
		<th:block th:fragment="meta" th:remove="all">
			<meta name="description" th:if="${!#strings.isEmpty(page.metaDescription)}" th:content="${page.name}"/>
			<meta name="keywords" th:if="${!#strings.isEmpty(page.metaKeywords)}" th:content="${page.metaKeywords}"/>
		</th:block>
        <title th:utext="${page.name}"></title>
    </head>
    <div layout:fragment="content">
 		 <ol class="breadcrumb">
  			<li><a th:href="@{/}"><span th:utext="#{mainMenu.main}">Главная</span></a></li>
  			<li>
  				<span  th:utext="${page.name}"></span>
  			</li>
		</ol> 
		<div th:utext="${page.longDescription}">
		
		</div>
    </div>
</th:block>    