<div class="co-delivery-description" th:utext="${dv.longDescription}">
</div>
<div th:if="${!#lists.isEmpty(dv.stores)}">
	<label th:utext="#{order.store}"></label>
	<select  name="store" id="sl-stores">
	    <option value="">&nbsp;</option>
		<option th:each="st : ${dv.stores}" th:value="${st.id}"
			th:text="${st.name+'|'+#strings.defaultString(st.address,'')}"
			th:attr="data-store-address=${st.address}, data-store-phone=${st.phone}, data-store-map=${st.mapScript},
			data-store-wschedule=${st.workSchedule}, data-store-description=${st.longDescription}">
		</option>
	</select>
	<div style="display: none;" id="co-store-detail">
	
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-6 col-lg-6">
			<div id="co-store-map">
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-lg-6">
			<div id="co-store-description">
			</div>		
		</div>
	</div>
</div>
