<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" 
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorator="admin/order/order">
	<head>
	  <th:block th:remove="all">
		<title>inShop Admin Order edit</title>
	    <meta charset="utf-8"/>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	    <meta name="description" content=""/>
	    <meta name="author" content=""/>
	    <!-- Bootstrap Core CSS -->
	    <link href="../../../../resources/css/lib/bootstrap.min.css" rel="stylesheet" th:href="@{/resources/css/lib/bootstrap.min.css}"/>
	    <!-- DataTables CSS -->
   		<link href="../../../../resources/css/lib/dataTables.responsive.css" rel="stylesheet" type="text/css" th:href="@{/resources/css/lib/dataTables.responsive.css}"/>
	    <link href="../../../../resources/css/lib/dataTables.bootstrap.css" rel="stylesheet" th:href="@{/resources/css/lib/dataTables.bootstrap.css}"/>	    		
	    <!-- Custom Fonts -->
    	<link href="../../../../resources/css/lib/font-awesome.min.css" rel="stylesheet" type="text/css" th:href="@{/resources/css/lib/font-awesome.min.css}"/>
		<link href="../../../../resources/css/lib/bootstrap-theme.min.css" rel="stylesheet" type="text/css" th:href="@{/resources/css/lib/bootstrap-theme.min.css}"></link>    	
    	<link href="../../../../resources/css/admin/sb-admin-2.css" rel="stylesheet" th:href="@{/resources/css/admin/sb-admin-2.css}"/>
    	<!-- Select2 -->		 	
		<link href="../../../../resources/css/lib/select2.min.css" rel="stylesheet" th:href="@{/resources/css/lib/select2.smin.css}"/>
		<!-- bootstrap select -->
		<link href="../../../../resources/css/lib/bootstrap-select.min.css" rel="stylesheet" type="text/css" th:href="@{/resources/css/lib/bootstrap-select.min.css}"></link>
		
		<!-- admin-style.css -->
   		<link href="../../../../resources/css/admin/admin-style.css" rel="stylesheet" type="text/css" th:href="@{/resources/css/admin/admin-style.css}"/>	    	
		<style type="text/css">			
		 	table { table-layout: fixed; }
			td.domain-col {
			    overflow: hidden;
			    text-overflow: ellipsis;
			    white-space: nowrap;
			 }
			td.domain-col .price-val {width: 80px;}
		</style>					      			    	
      </th:block>
	</head>
<body>
  <div class="modal fade" id="editModal" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true" layout:fragment="editForm">
    <div class="modal-dialog" style="width:75vw; overflow:auto">
	  <div class="modal-content" id="editModalContent" >
	   <form method="post" class="form-horizontal" id="oeform" role="form" action="#" th:action="@{/admin/order/edit}" th:object="${ord}" th:fragment="editOrderForm">
		   <div class="modal-header">
	 			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"  th:text="${!ord.new}? #{admin.order.edit.title.edit}: #{admin.order.edit.title.add}">Edit Order</h4>
	 	   </div>
		 <!-- /modal-header -->
		   <div class="modal-body" style ="height:65vh; overflow:auto" id="editModalBody">
		          <div  th:if="${#fields.hasErrors('*')}" class="alert alert-danger alert-dismissable">
		          	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <span th:text="#{admin.edit.existsErrors}">There is some errors in the form</span>
					<ul>
					  <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
					</ul>                                 
                  </div>
	               <ul class="nav nav-tabs">
	                    <li th:class="${tabactive=='main'}? 'in active'"><a href="#main" data-toggle="tab" th:text="#{admin.edit.tab.description}">Описание</a>
	                    </li>
	                    <li th:class="${tabactive=='content'}? 'in active'"><a href="#content" data-toggle="tab" th:text="#{admin.edit.tab.content}">Содержание</a>
	                    </li>
	                </ul>
	                <!-- Tab panes -->
	                <div class="tab-content">
	                    <div class="tab-pane fade" th:classappend="${tabactive=='main'}? 'in active'" id="main">
						    <div class="field-box">
							  <input type="hidden" th:field="*{id}"/>
							  <input type="hidden" th:field="*{customer.id}"/>
							  <input type="hidden" th:field="*{createdDate}"/>	                              
				    		  <label>
					    	  	 <span th:text="#{admin.order.number}">Order number</span>
					   		  </label>
							  <label class="form-control">
					   		   	 <span style="font-style: italic;" th:text="${ord.orderNumber != null ? ord.orderNumber : 'Новый'}">1234567890</span>
							  </label> 
				   		    </div>
						    <div class="field-box">
				    		  <label>
					    	  	 <span th:text="#{admin.customer.customer}">Customer</span>
					   		  </label>
							  <select class="form-control selectpicker" id="selCustomer" th:field="*{customer}" data-live-search="true">
							        <option value="">&nbsp;</option>
								    <option th:each="oc: ${allCustomers}" 
								            th:text="${oc.fullName+'('+oc.email+')'}"
								            th:if="${oc.enabled}"
								            th:selected="${ord.customer.equals(oc)}"
								            th:value="${oc.id}">
								    </option>      
							  </select> 
					   		  <p class="text-danger" style="font-size: 8pt;" th:if="${#fields.hasErrors('customer')}" th:errors="*{customer}">Incorrect customer</p>
				   		    </div>
				   		    <div class="row">
				   		      <div class="col-md-4">
					   		    <div class="field-box" th:class="${#fields.hasErrors('emailAddress')}? has-error: 'field-box'">
		 			    		  <label>
						    	  	<span th:text="#{admin.email}">Email</span>
						   		   </label>
						   		   <input type="email" class="form-control" th:field="*{emailAddress}"/> 
						   		   <p class="text-danger" style="font-size: 8pt;" th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}">Incorrect email</p>
					   		    </div>
					   		  </div>
					   		  <div class="col-md-4">
					            <div class="field-box">
					                <label>
					    	   	        <span th:text="#{admin.order.date}">Submit date</span>			   		        
					    	   	    </label>
					                <div class="input-group date">
					                    <input type="text" class="form-control" id="order-submit-date-input" 
						                       name="submitDate" th:field="${{ord.submitDate}}"/>
					                    <span class="input-group-addon">
					                        <span class="fa fa-calendar"></span>
					                    </span>						                
					                </div>
					                <p class="text-danger" style="font-size: 8pt;" th:if="${#fields.hasErrors('submitDate')}" th:errors="*{submitDate}">Incorrect submitDate</p>
					            </div>
					          </div>
					          <div class="col-md-4">
					            <div class="field-box">
					                <label>
					    	   	        <span th:text="#{admin.order.status}">Order status</span>
					   		        </label>				            
			                        <select class="form-control" th:field="*{status}">
			                            <option value="">&nbsp;</option>
	            						<option th:each="status : ${allOrderStatus}" th:value="${status}" th:text="#{${'order.status.' + status}}">NEW</option>
						            </select> 
						            <p class="text-danger" style="font-size: 8pt;" th:if="${#fields.hasErrors('status')}" th:errors="*{status}">Empty status</p>
						        </div>
						      </div>
					        </div> 
	             		</div>
	                    <div class="tab-pane " th:classappend="${tabactive=='content'}? 'in active'" id="content">							
					        <div class="container-fluid">
							   <div class="row clearfix" style="margin-bottom:5px;">
								  <div class="col-md-8">
								    <div class="field-box">
						               <label>
						    	   	      <span th:text="#{admin.order.edit.addOrderItem}">Add order item</span>
						   		       </label>								    
									   <div class="input-group">							
										    <select id="slSearchSku" class="form-control">
			    							</select>
			    							<a href='#' class="input-group-addon add-new-sku">
									            <i class="fa fa-plus-circle"></i>
									        </a>
									   </div>
									</div>
								  </div>
								</div>									                    
							    <div class="row clearfix">
								   <div class="col-md-12 column" id="dOrderItemTable">
				                       	 <table class="table table-bordered table-hover" id="orderItemsDT" data-checkid="" th:object="${ord}" th:fragment="orderItemTable">
				                       	    <thead >
					                       	   <tr >
									              <th class="col-md-5 text-center" th:text="#{admin.catalog.product}">Product</th>
									              <th class="col-md-2 text-center" th:text="#{admin.catalog.price}">Price</th>
									              <th class="col-md-2 text-center" th:text="#{admin.quantity}">Quantity</th>
									              <th class="col-md-2 text-center" th:text="#{admin.cost}">Cost</th>
									              <th class="col-md-1 text-center"></th>
										  	   </tr>
									  	    </thead >
									  	    <tbody>
									  	       <tr th:each="oi, oiStat : *{orderItems}">
									  	       	  <td>
									  	       	     <input type="hidden" th:field="*{orderItems[__${oiStat.index}__].id}"/>
									  	       	     <input type="hidden" th:field="*{orderItems[__${oiStat.index}__].image}"/>
									  	       	     <input type="hidden" th:name="orderItems[__${oiStat.index}__].order" th:value="${ord.id}"/>
									  	       	     <input type="hidden" th:name="orderItems[__${oiStat.index}__].sku" th:value="${ord.orderItems[__${oiStat.index}__].sku.id}"/>
												     <div class="a-photo-out">
		                                                <span class="photo-block">
		                                                   <span class="helper"></span>
		                                                   <img th:src="@{${!#strings.isEmpty(oi.image)? oi.image: ''}}"  th:onerror="'this.src=\'' + @{/resources/img/noimage.png} + '\';'"/>
		                                                </span>
												        <span th:text="${oi.sku.name}">name</span>
												        <br/> 
												        <span style="font-size: 9pt;" th:text="${oi.sku.code}">code</span>&nbsp;
												        <span th:if="${oi.sku.code != null &amp;&amp; !''.equals(oi.sku.commaDelemitedPOVL)}" style='display: inline-block; color: #aaa; font-size: 11px;'>&#9679;</span>&nbsp;
												        <span style="font-size: 9pt;" th:text="${oi.sku.commaDelemitedPOVL}">sku</span>
												     </div>																	  	       	      		  
									  	       	  </td>
												  <td class="domain-col">
 									  	       	      <input type="text" class="form-control input-md price-val row-total-changer" th:attr="data-id=${oi.id}" data-oldtext="" 
 									  	       	             style="display: inline-block; font-size: 9pt;" th:id="${'price_'+oi.id}" 
 									  	       	             th:name="orderItems[__${oiStat.index}__].price" th:value="${#numbers.formatDecimal((ord.orderItems[__${oiStat.index}__].price == null ? 0 : ord.orderItems[__${oiStat.index}__].price),1,2,'POINT')}" />											  
												      <span style="font-size: 9pt;" th:text="${T(java.util.Currency).getInstance(#locale.getDefault()).getSymbol()}">руб.</span>
												  </td>									  	       	  
												  <td th:class="${#fields.hasErrors('orderItems[__${oiStat.index}__].quantity')}? has-error: ''">
 									  	       	      <input type="number" min="1" class="form-control quantity-val input-md row-total-changer" th:attr="data-id=${oi.id}" data-oldtext=""  
 									  	       	             th:id="${'quantity_'+oi.id}" th:field="*{orderItems[__${oiStat.index}__].quantity}"/>
 									  	       	      <p class="text-danger" style="font-size: 8pt;" th:if="${#fields.hasErrors('orderItems[__${oiStat.index}__].quantity')}" th:errors="*{orderItems[__${oiStat.index}__].quantity}">Incorrect quantity</p>
									  	       	  </td>
									  	       	  <td class="text-center">
									  	       	  	  <span style="font-size: 9pt;" th:id="${'rowTotal_'+oi.id}" th:text="${#numbers.formatDecimal(oi.rowTotal,1,2,'POINT')}">10.00</span>	
									  	       	  	  <span style="font-size: 9pt;" th:text="${T(java.util.Currency).getInstance(#locale.getDefault()).getSymbol()}">руб.</span>
									  	       	  </td>
									  	       	  <td >
			  				            	  		 <div class="btn-group" role="group" > 
						                                  <button type="button" data-toggle="modal" data-target="#deleteOi" 
							                                      class="open-deleteDialog-oi btn btn-outline btn-default btn-xs"
							                                      th:attr="data-id=${oi.id}">
							                                <i class="fa fa-trash-o"></i>
							                              </button>	
					                            	 </div>
									  	       	  </td>
									  	       </tr>
									  	    </tbody>
									  	    <tfoot>
									  	    	<tr>
									  	    		<td colspan="5">
											  	    	<div style="float: right;">
											  	    	  <p><span th:text="#{admin.order.subTotal}"></span>: 
											  	    	     <span style="font-weight: bold;" id="subTotal" 
											  	    	           th:text="${ord.subTotal != null? beans.currencyNumberFormatter.print(ord.subTotal, #locale.getDefault()): 0}"></span>
											  	    	  </p>
											  	    	  <p><span th:text="#{admin.order.deliveryCost}"></span>: 
											  	    	     <span style="font-weight: bold;" id="deliveryTotal" 
											  	    	           th:text="${ord.deliveryTotal != null? beans.currencyNumberFormatter.print(ord.deliveryTotal, #locale.getDefault()): 0}"></span>
											  	    	  </p>
											  	    	  <p><span th:text="#{admin.order.total}"></span>: 
											  	    	     <span style="font-weight: bold;" id="total" 
											  	    	           th:text="${ord.total != null? beans.currencyNumberFormatter.print(ord.total, #locale.getDefault()): 0}"></span>
											  	    	  </p>
											  	    	</div>
									  	    		</td>
									  	    	</tr>
									  	    </tfoot>
				                       	 </table>
									  </div>
								 </div>
		                     </div>       						  	   	
                       	  </div>  
 	                    </div> 
 	                 </div>      
		 <!-- /modal-body -->
	 	     <div class="modal-footer">
	 		   <button type="button" class="btn btn-default"  
	 		          th:text="#{admin.catalog.category.edit.button.close}"
	 		          data-dismiss="modal">Close</button>
			   <button type="submit" class="btn btn-primary" th:text="#{admin.catalog.attribute.edit.button.save}">Save changes</button>
		     </div>  
		 <!-- /modal-footer -->
	     </form>	
      </div> 
    </div> 
  </div>	    
   <!-- jQuery -->
   <script src="../../../../resources/js/lib/jquery.min.js" th:src="@{/resources/js/lib/jquery.min.js}"></script>
   <!-- Bootstrap Core JavaScript -->
   <script src="../../../../resources/js/lib/bootstrap.min.js" th:src="@{/resources/js/lib/bootstrap.min.js}"></script>
   <!-- DataTables JavaScript -->
   <script src="../../../../resources/js/lib/jquery.dataTables.min.js" th:src="@{/resources/js/lib/jquery.dataTables.min.js}"></script>
   <script src="../../../../resources/js/lib/dataTables.bootstrap.min.js" th:src="@{/resources/js/lib/dataTables.bootstrap.min.js}"></script>
   <th:block th:fragment="scriptEditModal">
	   <!-- Select2 -->
	   <script src="../../../../resources/js/lib/select2.full.min.js" th:src="@{/resources/js/lib/select2.full.min.js}"></script>
	   <script src="../../../../resources/js/lib/ru.js" th:src="@{/resources/js/lib/ru.js}"></script>   

       <script src="../../../../resources/js/sku-search.js" th:src="@{/resources/js/sku-search.js}"></script>
       <!-- bootstrap-select -->
	   <script src="../../../../resources/js/lib/bootstrap-select.min.js" th:src="@{/resources/js/lib/bootstrap-select.min.js}"></script>
   </th:block>
   <th:block layout:fragment="scriptEditModal"> 
	   <script th:inline="javascript" type="text/javascript">
	      //<![CDATA[
		     $(document).ready(function() {
		    	 $("#editModal").modal({
		    		    backdrop: 'static',
		    		    keyboard: false
		    		});		
                 $("#order-submit-date-input").pickmeup_twitter_bootstrap({
               	 	locale		   : "ru",
               	  	format         : 'd.m.Y',
               	  	position       : "right",
               	  	hide_on_select : true
               	  });
	             $(".selectpicker").selectpicker();
	             makeSkuSelect2 ($("#slSearchSku"), /*[[@{/product-search}]]*/'');
			});
		// ]]>	  
	   </script>
   </th:block>
</body>
</html>

