<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
</head>
<body>
	<p>&nbsp;</p>
	<table  width="521">
		<tbody>
			<tr>
				<td style="text-align: center;" bgcolor="#5a88ca">
					<h2>
						<span style="color: #ffffff;">&nbsp;Спасибо за Ваш заказ в
						</span><br /> <span style="color: #ffffff;">интернет-магазине
							Форпост!</span>
					</h2>
				</td>
			</tr>
			<tr>
				<td>
					<p>Ваш заказа сформирован и наш менеджер свяжется с Вами в
						ближайшее время!</p>
					<h2>
						<strong th:utext="${'Заказ №'+order.orderNumber}">Заказ № 12376645454</strong>
					</h2>
				</td>
			</tr>
		</tbody>
	</table>
	<p>&nbsp;</p>
    <table cellspacing="0">
	    <thead>
	        <tr>
	            <th>N</th>
	            <th class="product-name"><span th:utext="#{product.name}">Product</span></th>
	            <th class="product-price"><span th:utext="#{sku.priceForPackageUnit}">Price</span></th>  
	            <th class="product-quantity"><span th:utext="#{sku.quantity}">Quantity</span></th>
	            <th class="product-subtotal"><span th:utext="#{cart.subTotal}">Sub Total</span></th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr th:each="oi, oiStat : ${order.orderItems}" class="cart_item">
	            <td th:utext="${oiStat.index+1}"></td>
	            <td class="product-name" >
                	<span aid:product_modifyed_display_name_utext="${oi.sku}"></span>
<!--                 	<span th:if="${!#lists.isEmpty(ci.itemAttributes.values())}"  th:utext="${', '+#strings.listJoin(ci.itemAttributes.values(),', ')}"></span> -->
	            </td>
	            <td class="product-price">
	                <span class="amount" th:utext="${{oi.price}}">£15.00</span> 
	            </td>
	            <td class="product-quantity">
	                <span th:utext="${oi.quantity}"></span>
	            </td>
	            <td class="product-subtotal">
	                <span class="amount" th:text="${{oi.rowTotal}}">£15.00</span> 
	            </td>
	        </tr>
	        <tr>
				<td class="cart-total" colspan="2">
	                <span th:utext="#{cart.total}">Total</span>
	            	<span  th:text="${{order.total}}">£15.00</span> 
	            </td>
	        </tr>
	    </tbody>
	</table>
	<p>&nbsp;</p>
	<h2>Данные клинта:</h2>
	<h2>&nbsp;</h2>
	<h2>Способ доставки:</h2>
	<h2>&nbsp;</h2>
</body>
</html>