<div class="product-options-container">
	<div class="product-options" th:fragment="productOptions">
		<h3 th:utext="${product.name}"></h3>
	   	   <form method="POST" th:action="@{/cart/add}">
		      <input type="hidden" name="productId" th:value="${product.id}" />
			  <input type="hidden" name="quantity" value="1" />
			  <div th:object="${product}" th:replace="catalog/partials/productOptions"></div>
			  <div class="product-options-modal-buttons">
			     <button type="button" class="add-to-cart" th:text="#{button.toCart}"></button>
			     <button type="button" th:text="#{button.buy1click}"></button>
			    </div>	
	   	   </form>
	</div>
</div>