<div class="product-options" th:fragment="productOptions">
	<aid:product_options product="${product}" />
	<div id="po-data" hidden="hidden" th:attr="data-po-pricing=${poPricing}" />
	<div th:each="po: ${#lists.toList(product.productOptions)}">
		<label><span th:utext="${po.label}"></span><span th:if="${po.unit}" th:utext="${'&nbsp;('+#messages.msg('unit.'+po.unit)+')'}"></span>&nbsp;<attr th:if="${po.required}" class="required">*</attr></label>
		<select class="product-option-values" th:name="${'itemAttributes[' + po.name + ']'}">
            <option th:each="ov : ${product.getPOVByPO(po)}" th:attr="data-id=${ov.id}" th:value="${ov.optionValue}" th:utext="${ov.optionValue}"></option>
        </select> 
	</div>
	
	<span class="po-error-quantity" style="display: none;" th:utext="#{error.bad.quantity}">Bad quantity!</span>
	<span class="po-error-incomplete" style="display: none;" th:utext="#{error.incomplete.productOptions}">All options required!</span>
	<span class="po-error" style="display: none;" th:utext="#{error.productOptions}">All options required!</span>
<!--     <span class="errorproductOptionsSpan centered" style="display: none;"><span th:utext="#{product.productOptionValidationError}">Product Option Validation Failed</span></span> -->

<!--     <span class="error errorMessage" style="display: none;"></span>	 -->
</div>