<div class="filter" th:if="${!#lists.isEmpty(filterDTO.brandFacets) || !#lists.isEmpty(filterDTO.modelFacets) || !#maps.isEmpty(filterDTO.attributesFacets)}">
	<form action="#" th:action="@{/apply-filter}" th:object="${filterDTO}" method="post">
		<input type="hidden" th:field="${filterDTO.categoryId}"/>
		<input type="hidden" th:field="${filterDTO.brandId}"/>
		<div class="filter-block-title">
			<h2 class="default-head-title"><i class="fa fa-filter"></i>&nbsp;<span th:utext="#{product.filter}"></span></h2>
		</div>
		<div class="filter-item" th:unless="${#lists.isEmpty(filterDTO.brandFacets)}">
			<div class="filter-head">
	          <div class="filter-title"><span th:utext="#{brand.name}"></span></div>
	        </div>
	        <div class="filter-content">
	        	<div class="filter-checkgroup" th:each="fbr, fbrStat : ${filterDTO.brandFacets}">
	        		<div class="filter-checkbox">
	        			<input type="hidden" th:field="${filterDTO.brandFacets[__${fbrStat.index}__].id}"/>
	        			<input type="checkbox" class="apply-filter" th:field="${filterDTO.brandFacets[__${fbrStat.index}__].active}"/> 
	        		</div>
	      			<label th:for="brandFacets__${fbrStat.index}__.active1">
	       				<span th:utext="${fbr.id}"></span>
	      			</label>
	        	</div>
	        </div>
	    </div>	
		<div class="filter-item" th:unless="${#lists.isEmpty(filterDTO.modelFacets)}">
			<div class="filter-head">
	          <div class="filter-title"><span th:utext="#{product.model}"></span></div>
	        </div>
	        <div class="filter-content">
	        	<div class="filter-checkgroup" th:each="fmodel, fmodelStat : ${filterDTO.modelFacets}">
	        		<div class="filter-checkbox">
	        			<input type="hidden" th:field="${filterDTO.modelFacets[__${fmodelStat.index}__].id}"/>
	        			<input type="checkbox" class="apply-filter" th:field="${filterDTO.modelFacets[__${fmodelStat.index}__].active}"/>
	        		</div>
	      			<label th:for="modelFacets__${fmodelStat.index}__.active1">
	       				<span th:utext="${fmodel.id}"></span>
	      			</label>
	        	</div>
	        </div>
	    </div>
		<div class="filter-item" th:each="fattr : ${filterDTO.mapAttributesFacets}" >
			<div class="filter-head">
	          <div class="filter-title"><span th:utext="${fattr.key}"></span></div>
	        </div>
	        <div class="filter-content">
	        	<div class="filter-checkgroup" th:each="fattrv : ${fattr.value}">
	        		<input type="hidden" th:field="*{attributesFacets[__${fattrv.index}__].facet}" th:value="${fattr.key}" />
	        	    <input type="hidden" th:field="*{attributesFacets[__${fattrv.index}__].index}"/>
					<input type="hidden" th:field="*{attributesFacets[__${fattrv.index}__].id}"/>
	        		<div class="filter-checkbox">
						<input type="checkbox" class="apply-filter" th:field="*{attributesFacets[__${fattrv.index}__].active}"/> 
	        		</div>
	      			<label th:for="attributesFacets__${fattrv.index}__.active1">
	       				<span th:utext="${fattrv.id}"></span>
	      			</label>
	        	</div>        
			</div>        
		</div>	
		<div class="filter-item">
			<button type="button" class="button-primary drop-filter" th:attr="data-path=@{''+${filterDTO.dropFilterUrl}}">
				<i class="fa fa-refresh"></i>
				<span th:utext="#{button.dropFilter}"></span>
			</button>
		</div>
    </form>	
</div>