<div class="product-options" th:fragment="productOptions">
	<aid:product_options product="${product}" />
	<div id="po-data" hidden="hidden" th:attr="data-po-pricing=${poPricing}" />
	<div th:each="po: ${#lists.toList(product.productOptions)}">
		<label><span th:utext="${po.label}"></span>&nbsp;<attr th:if="${po.required}" class="required">*</attr></label>
		<select class="product-option-values" th:name="${'itemAttributes[' + po.name + ']'}">
            <option th:each="ov : ${po.productOptionValues}" th:value="${ov.optionValue}" th:utext="${ov.optionValue}"></option>
        </select> 
	</div>
</div>