<div class="container-fluid" style="padding-top: 15px; padding-bottom: 15px;">
	<div class="row">
		<div class="col-lg-12" >
<!--  			<div id="lightbox-container" style="display: none">
			</div> -->
			<div class="media">
				<div class="media-left">
					<div class="media-object">
						<img style="border:1px solid #e8e8e6;" class="quick-review-product-zoom"  
							 th:src="@{${!#lists.isEmpty(product.allImages)? product.allImages[0]: ''}}"  th:onerror="'this.src=\'' + @{/resources/img/noimage.png} + '\';'"
							 th:attr="data-large=@{${!#lists.isEmpty(product.allImages)? product.allImages[0]: ''}}" width="150" height="200"/>	
						<div id="quick-review-product-gallery" class="gallery" style="width:170px; float:left; ">
						    <img th:each="image, imageStat: ${product.allImages}" class="imzoom-gallery" th:classappend="${imageStat.index == 0}? 'active'" width="50"
							     th:src="@{${image}}"
							     th:attr="data-large=@{${image}}"/>		
						</div>
					</div>
				</div>
				<div class="media-body quick-review-product-info">
				   <h4 class="media-heading"><a th:utext="${product.longDisplayName}" th:href="${product.url}"></a></h4>
		           <table cellspacing="0">
		               <tbody>
						   <tr>
						   	   <th><span th:utext="#{brand.name}"></span></th>
						   	   <td><a th:utext="${product.brand.name}" th:href="${product.brand.url}"></a></td>
						   </tr>
						   <tr>
						   	   <th><span th:utext="#{product.articuls}"></span></th>
						   	   <td><span th:utext="${product.skuCodes}"></span></td>
						   </tr>
		                   <tr th:each="av : ${product.attributeValues}">
		                       <th><span th:utext="${av.attribute.name}"></span></th>
		                       <td><span th:utext="${av.value}"></span>&nbsp;<span th:if="${av.attribute.unit != null}" th:utext="#{${'unit.' + av.attribute.unit}}"></span></td>
		                   </tr>
						   <tr>
						   	   <th><span th:utext="#{sku.price}"></span></th>
						   	   <td>
								 <ins th:if="${product.defaultSku.salePrice != null &amp;&amp; product.defaultSku.salePrice != 0}" th:utext="${{product.defaultSku.salePrice}}">$700.00</ins>
								 <ins th:unless="${product.defaultSku.salePrice != null &amp;&amp; product.defaultSku.salePrice != 0}" 
									  th:utext="${{product.defaultSku.retailPrice}}">$700.00</ins> <del th:if="${product.defaultSku.salePrice != null &amp;&amp; product.defaultSku.salePrice != 0}" th:utext="${{product.defaultSku.retailPrice}}">$100.00</del>
								 <br/>										  
                                    <span class="in-stock" th:if="${skuAvailableMap.get(product.defaultSku)}" th:utext="#{sku.available}"></span>	
                                    <span class="out-of-stock" th:unless="${skuAvailableMap.get(product.defaultSku)}" th:utext="#{sku.unAvailable}"></span>									  
						   	   </td>
						   </tr>
		               </tbody>
		           </table>
		           <div class="quick-review-product-buttons">
		           	   <button type="button" th:text="#{button.toCart}"></button>
		           	   <button type="button" th:text="#{button.buy1click}"></button>
           			   <button type="button" class="simplemodal-close" th:text="#{button.close}"></button>
		           </div>
			    </div>
  			</div>
		</div>
	</div>
</div>