<div class="container-fluid" style="padding-top: 15px; padding-bottom: 15px;">
	<div class="row">
		<div class="col-lg-12" >
<!--  			<div id="lightbox-container" style="display: none">
			</div> -->
			<div class="media">
				<div class="media-left">
					<div class="media-object">
						<img style="border:1px solid #e8e8e6;" class="quick-review-product-zoom"  
							 th:src="@{${!#lists.isEmpty(product.allImages)? product.allImages[0]: ''}}"  th:onerror="'this.src=\'' + @{/resources/img/noimage.png} + '\';'"
							 th:attr="data-large=@{${!#lists.isEmpty(product.allImages)? product.allImages[0]: ''}}" width="150" height="200"/>	
						<div id="quick-review-product-gallery" class="gallery" style="width:170px;">
						    <img th:each="image, imageStat: ${product.allImages}" class="imzoom-gallery" th:classappend="${imageStat.index == 0}? 'active'" width="50"
							     th:src="@{${image}}"
							     th:attr="data-large=@{${image}}"/>		
						</div>
					</div>
				</div>
				<div class="media-body quick-review-product-info">
				   <h4 class="media-heading"><a th:utext="${product.longDisplayName}" aid:phref="${product}"></a></h4>
		           <table cellspacing="0">
		               <tbody>
						   <tr>
						   	   <th><span th:utext="#{brand.name}"></span></th>
						   	   <td><a th:utext="${product.brand.name}" aid:phref="${product.brand}"></a></td>
						   </tr>
						   <tr th:if="${!#strings.isEmpty(product.model)}">
						   	   <th><span th:utext="#{product.model}"></span></th>
						   	   <td><span th:utext="${product.model}"></span></td>									   
						   </tr>
						   <tr>
						       <th:block th:unless="${product.hasAdditionalSkus()}">
							   	   <th><span th:utext="#{product.articul}"></span></th>
							   	   <td><span th:utext="${product.defaultSku.code}"></span></td>
						   	   </th:block>
						   	   <th:block th:if="${product.hasAdditionalSkus()}">
						   	   	   <th><span th:utext="#{product.articuls}"></span></th>
						   	   	   <td><span th:utext="${product.skuCodes}"></span></td>
						   	   </th:block>
						   </tr>
		                   <tr th:each="av : ${product.attributeValues}">
		                       <th><span th:utext="${av.attribute.name}"></span></th>
		                       <td><span th:utext="${av.value}"></span>&nbsp;<span th:if="${av.attribute.unit != null}" th:utext="#{${'unit.' + av.attribute.unit}}"></span></td>
		                   </tr>
		                   <tr th:each="at : ${product.additionalSkuAttributes}">
		                       <th><span th:utext="${at.name}"></span><span th:if="${at.unit}" th:utext="${'&nbsp;('+#messages.msg('unit.'+at.unit)+')'}"></span></th>
		                       <td><span th:utext="${#strings.listJoin(product.getAdditionalSkuAvAsStringsByAt(at),', ')}"></span></td>
		                   </tr>		                   
						   <tr th:if="${product.hasAdditionalSkus()}" th:each="po, poStat: ${product.productOptions}">
						   	  <th><span th:utext="${po.label}"></span><span th:if="${po.unit}" th:utext="${'&nbsp;('+#messages.msg('unit.'+po.unit)+')'}"></span></th>
						   	  <td><span th:utext="${#strings.listJoin(product.getPOVAsStringsByPO(po),', ')}"></span></td>
						   </tr>
		                   <tr>
		                   	   <th><span th:utext="#{sku.quantityPerPackage}"></span></th>	
		                   	   <td><span th:utext="${product.defaultSku.quantityPerPackage}"></span>&nbsp;<span class="price-piece-unit" th:utext="#{product.default.pricePieceUnit}"></span></td>
		                   </tr>						   
						   <tr>
						   	  <th><span th:utext="#{sku.priceForUnit}"></span></th>
						   	  <td>
						   	     <th:block th:unless="${product.hasAdditionalSkus()}">
									 <ins th:utext="${{product.defaultSku.price}}">$700.00</ins>
									 <del th:if="${product.defaultSku.isOnSale()}" th:utext="${{product.defaultSku.retailPrice}}">$100.00</del>
						   	     </th:block>
						   	     <th:block th:if="${product.hasAdditionalSkus()}" 
						   	               th:with="minMaxPrices=${product.minMaxPrice},
						                            minPrice=${minMaxPrices[0] != null? beans.currencyNumberFormatter.print(minMaxPrices[0], #locale.getDefault()): 0}, 
						                            maxPrice=${minMaxPrices[1] != null? beans.currencyNumberFormatter.print(minMaxPrices[1], #locale.getDefault()): 0}">
						            <th:block th:unless="${minPrice.equals(maxPrice)}">
										<ins th:utext="${minPrice}">$700.00</ins>
										<ins th:utext="#{product.default.minMaxPricesDelemiter}"></ins>		                                
										<ins th:utext="${maxPrice}">$800.00</ins>
									</th:block>
									<th:block th:if="${minPrice.equals(maxPrice)}">
										<ins th:utext="${minPrice}">$700.00</ins>
									</th:block>
						   	     </th:block>
							  </td>
						   </tr>
						   <tr th:if="${product.defaultSku.quantityPerPackage != 1}">   
							  <th><span th:utext="#{sku.priceForPackageUnit}"></span></th>
							  <td>
							  	<th:block th:unless="${product.hasAdditionalSkus()}">
							  		<ins th:utext="${{product.defaultSku.priceForPackage}}">$700.00</ins>
							  	</th:block>
								<th:block th:if="${product.hasAdditionalSkus()}" 
						   	              th:with="minMaxPricesForPackage=${product.minMaxPriceForPackage},
						                           minPriceForPackage=${minMaxPricesForPackage[0] != null? beans.currencyNumberFormatter.print(minMaxPricesForPackage[0], #locale.getDefault()): 0}, 
						                           maxPriceForPackage=${minMaxPricesForPackage[1] != null? beans.currencyNumberFormatter.print(minMaxPricesForPackage[1], #locale.getDefault()): 0}">
						            <th:block th:unless="${minPriceForPackage.equals(maxPriceForPackage)}">
										<ins th:utext="${minPriceForPackage}">$700.00</ins>
										<ins th:utext="#{product.default.minMaxPricesDelemiter}"></ins>		                                
										<ins th:utext="${maxPriceForPackage}">$800.00</ins>
									</th:block>
									<th:block th:if="${minPriceForPackage.equals(maxPriceForPackage)}">
										<ins th:utext="${minPriceForPackage}">$700.00</ins>
									</th:block>
						        </th:block>
							  </td>
						   </tr>
<!-- 						   <tr>	  -->
<!-- 						      <th><span th:utext="#{sku.availability}"></span></th>   -->
<!-- 							  <td th:unless="${product.hasAdditionalSkus()}">										   -->
<!--                                  <span class="in-stock" th:if="${skuAvailableMap.get(product.defaultSku)}" th:utext="#{sku.available}"></span>	 -->
<!--                                  <span class="out-of-stock" th:unless="${skuAvailableMap.get(product.defaultSku)}" th:utext="#{sku.unAvailable}"></span> -->
<!--                               </td>  -->
<!--                               <td th:if="${product.hasAdditionalSkus()}"> -->
<!--                               		<span style="font-size: 7pt;" th:utext="#{product.availabilityWithSkus}"></span> -->
<!--                               </td> 									   -->
<!-- 						   </tr> -->
		               </tbody>
		           </table>
		           <div class="quick-review-product-buttons">
		           	   <form method="POST" th:action="@{'/ajax-product-options-modal?ID='+product.id}"
		           	         th:attr="data-add-to-cart-path=@{'/cart/add'}, data-buy1click-path=@{'/checkout/buy1click'}">
		           	   	   <input type="hidden" name="productId" th:value="${product.id}" />
            			   <input type="hidden" name="quantity" value="1" />
            			   <input type="hidden" name="hasProductOptions" th:value="${product.hasAdditionalSkus()}" />
			           	   <button type="button" class="add-to-cart" th:text="#{button.toCart}"></button>
			           	   <button type="button" class="buy1click" th:text="#{button.buy1click}"></button>
			           	   <button type="button" class="simplemodal-close" th:text="#{button.close}"></button>
		           	   </form>
		           </div>
			    </div>
  			</div>
		</div>
	</div>
</div>