<div class="container-fluid" style="padding-top: 15px; padding-bottom: 15px;">
	<div class="row">
		<div class="col-lg-12" >
<!--  			<div id="lightbox-container" style="display: none">
			</div> -->
			<div class="media">
				<div class="media-left">
					<div class="media-object">
						<img style="border:1px solid #e8e8e6;" id="quick-review-product-zoom" src="/home/akartkam/myprj/webcontent/images/КалоприемникФлексимаКоло.png" 
							 th:src="@{/images/КалоприемникФлексимаКоло.png}"
							 data-zoom-image="/home/akartkam/myprj/webcontent/images/КалоприемникФлексимаКоло.png"
							 th:attr="data-zoom-image=@{/images/КалоприемникФлексимаКоло.png}"
							 width="150"  />	
						<div id="quick-review-product-gallery" class="gallery" style="width:170px; float:left; ">
							<a  href="#" class="elevatezoom-gallery " data-update="" 
								data-image="/home/akartkam/myprj/webcontent/images/КалоприемникАлмарисПреференсНеДрен.jpg"
								data-zoom-image="/home/akartkam/myprj/webcontent/images/КалоприемникАлмарисПреференсНеДрен.jpg"
								th:attr="data-image=@{/images/КалоприемникАлмарисПреференсНеДрен.jpg}, data-zoom-image=@{/images/КалоприемникАлмарисПреференсНеДрен.jpg}"> 
							    <img src="/home/akartkam/myprj/webcontent/images/КалоприемникАлмарисПреференсНеДрен.jpg" width="50"
							     th:src="@{/images/КалоприемникАлмарисПреференсНеДрен.jpg}"/></a>		
							<a  href="#" class="elevatezoom-gallery" data-update="" data-image="/home/akartkam/myprj/webcontent/images/url_uploaded_file_13287871234f33aeb3d0793.jpg" 
								data-zoom-image="/home/akartkam/myprj/webcontent/images/url_uploaded_file_13287871234f33aeb3d0793.jpg"
								th:attr="data-image=@{/images/url_uploaded_file_13287871234f33aeb3d0793.jpg}, data-zoom-image=@{/images/url_uploaded_file_13287871234f33aeb3d0793.jpg}"> 
							    <img src="/home/akartkam/myprj/webcontent/images/url_uploaded_file_13287871234f33aeb3d0793.jpg" width="50"  
							    th:src="@{/images/url_uploaded_file_13287871234f33aeb3d0793.jpg}"/></a>		
							<a  href="#" class="elevatezoom-gallery active" data-update="" data-image="/home/akartkam/myprj/webcontent/images/КалоприемникФлексимаКоло.png" 
								data-zoom-image="/home/akartkam/myprj/webcontent/images/КалоприемникФлексимаКоло.png"
								th:attr="data-image=@{/images/КалоприемникФлексимаКоло.png}, data-zoom-image=@{/images/КалоприемникФлексимаКоло.png}"> 
							    <img src="/home/akartkam/myprj/webcontent/images/КалоприемникФлексимаКоло.png" width="50"  
							    th:src="@{/images/КалоприемникФлексимаКоло.png}"/></a>		
						</div>
					</div>
				</div>
				<div class="media-body quick-review-product-attributes">
				   <h4 class="media-heading"><a th:utext="${product.defaultSku.name}" th:href="${product.url}"></a></h4>
		           <table cellspacing="0">
		               <tbody>
						   <tr>
						   	   <th><span th:utext="#{brand.name}"></span></th>
						   	   <td><a th:utext="${product.brand.name}" th:href="${product.brand.url}"></a></td>
						   </tr>
						   <tr>
						   	   <th><span th:utext="#{product.articul}"></span></th>
						   	   <td><span th:utext="${product.skuCodes}"></span></td>
						   </tr>
		                   <tr th:each="av : ${product.attributeValues}">
		                       <th><span th:utext="${av.attribute.name}"></span></th>
		                       <td><span th:utext="${av.value}"></span>&nbsp;<span th:if="${av.attribute.unit != null}" th:utext="#{${'unit.' + av.attribute.unit}}"></span></td>
		                   </tr>
		               </tbody>
		           </table>
				</div>
			</div>
		</div>
	</div>
</div>