<div class="single-product">
	<div th:each="ps, psStatus: ${#lists.toList(product.defaultSku.productStatus)}" th:class="#{${'product.status.class.'+ps}}" 
	     th:style="${psStatus.index == 0?'top: -10px;': psStatus.index == 1? 'top: 33px;': 'top: 66px;'}">
	</div>
	<div class="product-f-image">
		<img th:if="${pagination}" th:attr="data-original=@{${!#lists.isEmpty(product.defaultSku.images)? product.defaultSku.images[0]: ''}}" alt=""/>
		<img th:unless="${pagination}" th:src="@{${!#lists.isEmpty(product.defaultSku.images)? product.defaultSku.images[0]: ''}}" alt=""/>
		<div class="product-hover">
			<form method="POST" th:action="@{/cart/add}">
				<input type="hidden" name="productId" th:value="${product.id}" />
				<input type="hidden" name="skuId" th:value="${product.defaultSku.id}" />
	           	<input type="hidden" name="quantity" value="1" />
				<a href="javascript:;" class="add-to-cart add-to-cart-link">
				   <i class="fa fa-shopping-cart"></i>  
				   <span th:text="#{button.toCart}">В корзину</span>
				</a>
			</form>	
			<a th:href="@{${'/ajax-quick-review-product?ID='+product.id}}" class="quick-review-product-link"><i class="fa fa-list-alt"></i> Параметры</a>
			<a aid:phref="${product}" class="view-details-link"><i class="fa fa-info"></i> Подробнее</a>
		</div>
	</div>
	<h2><a aid:phref="${product}"><span class="sort-by-name" th:utext="${product.name}">Samsung Galaxy s5- 2015</span></a></h2>
	<div class="product-carousel-price">
		<th:block th:unless="${product.hasAdditionalSkus()}">
			<ins th:attr="data-sort-value=${product.defaultSku.price}" th:utext="${{product.defaultSku.price}}">$700.00</ins>
		</th:block>
		<th:block th:if="${product.hasAdditionalSkus()}" 
		          th:with="minMaxPrices=${product.minMaxPrice},
                           minPrice=${beans.currencyNumberFormatter.print(minMaxPrices[0], #locale.getDefault())}, 
                           maxPrice=${beans.currencyNumberFormatter.print(minMaxPrices[1], #locale.getDefault())}					                                
                           ">
            <th:block th:unless="${minPrice.equals(maxPrice)}">
				<ins th:attr="data-sort-value=${minPrice}" th:utext="${minPrice}">$700.00</ins>
				<ins th:utext="#{product.default.minMaxPricesDelemiter}"></ins>		                                
				<ins th:utext="${maxPrice}">$800.00</ins>
			</th:block>
			<th:block th:if="${minPrice.equals(maxPrice)}">
				<ins th:attr="data-sort-value=${minPrice}" th:utext="${minPrice}">$700.00</ins>
			</th:block>
		</th:block>
		<span class="price-piece-unit-delemiter" th:utext="#{product.default.pricePieceUnitDelemiter}"></span>
		<span class="price-piece-unit" th:utext="#{product.default.pricePieceUnit}"></span> 
		<del th:if="${!product.hasAdditionalSkus() &amp;&amp; product.defaultSku.isOnSale()}" th:utext="${{product.defaultSku.retailPrice}}">$100.00</del>
	</div> 
	<div class="product-header-info">
	      <table cellspacing="0">
	          <tbody>
	          	  <tr th:if="${!#strings.isEmpty(product.defaultSku.code)}">
	          	  	<th class="domain-col mightOverflow"><span th:utext="#{product.articul}"></span></th>
	          	  	<td class="domain-col mightOverflow"><span th:utext="${product.defaultSku.code}"></span></td>
	          	  </tr>
	          	  <tr th:if="${product.category.showQuanPerPackOnProductHeader}">
	          	  	<th class="domain-col mightOverflow"><span th:utext="#{sku.quantityPerPackage}"></span></th>
	          	  	<td class="domain-col mightOverflow"><span th:utext="${product.defaultSku.quantityPerPackage}"></span>&nbsp;<span th:utext="#{product.default.pricePieceUnit}"></span></td>
	          	  </tr>
	             <tr th:each="av : ${product.attributeValues}" th:if="${av.attribute.isShowOnProductHeader}">
	                 <th class="domain-col mightOverflow"><span th:utext="${av.attribute.name}"></span></th>
	                 <td class="domain-col mightOverflow"><span th:utext="${av.value}"></span>&nbsp;<span th:if="${av.attribute.unit != null}" th:utext="#{${'unit.' + av.attribute.unit}}"></span></td>
	             </tr>
	          </tbody>
	      </table>	
	</div>
</div>
