<div th:each="product : ${products}" class="single-product" th:fragment="smallSingleProduct(products)">
	<div th:each="ps, psStatus: ${#lists.toList(product.defaultSku.productStatus)}" th:class="#{${'product.status.class.'+ps}}" 
	     th:style="${psStatus.index == 0?'top: -10px;': psStatus.index == 1? 'top: 33px;': 'top: 66px;'}">
		
	</div>
	<div class="product-f-image">
		<img th:src="@{${!#lists.isEmpty(product.defaultSku.images)? product.defaultSku.images[0]: ''}}" alt=""/>
		<div class="product-hover">
			<a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> В корзину</a>
			<a th:href="@{${'/ajax-quick-review-product?ID='+product.id}}" class="quick-review-product-link"><i class="fa fa-list-alt"></i> Параметры</a>
			<a th:href="@{'/product'+${product.url}}" class="view-details-link"><i class="fa fa-info"></i> Подробнее</a>
		</div>
	</div>
	
	<h2><a th:href="@{'/product'+${product.url}}"><span aid:product_modifyed_display_name_utext="${product}">Samsung Galaxy s5- 2015</span></a></h2>
	
	<div class="product-carousel-price">
		<ins th:if="${product.defaultSku.salePrice != null &amp;&amp; product.defaultSku.salePrice != 0}" 
		     th:utext="${{product.defaultSku.salePrice}}">$700.00</ins>
		<ins th:unless="${product.defaultSku.salePrice != null &amp;&amp; product.defaultSku.salePrice != 0}" 
		     th:utext="${{product.defaultSku.retailPrice}}">$700.00</ins> <del th:if="${product.defaultSku.salePrice != null &amp;&amp; product.defaultSku.salePrice != 0}" th:utext="${{product.defaultSku.retailPrice}}">$100.00</del>
	</div> 
</div>
