<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>inShop Admin</title>
    <link rel="icon" type="image/png" th:href="@{/favicon.png}" />
<!--     <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" /> -->
    <!-- Bootstrap Core CSS -->
    <link href="../../../resources/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" th:href="@{/resources/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <!-- MetisMenu CSS --> 
    <link href="../../../resources/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet" th:href="@{/resources/bower_components/metisMenu/dist/metisMenu.min.css}"/>
    <!-- Custom CSS -->
    <link href="../../../resources/css/sb-admin-2.css" rel="stylesheet" th:href="@{/resources/css/sb-admin-2.css}"/>
    <!-- Custom Fonts -->
    <link href="../../../resources/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" th:href="@{/resources/bower_components/font-awesome/css/font-awesome.min.css}"/>
			<!-- bootstrap select -->
			<link href="../../../resources/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap-select.min.css}"></link>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
    #ajaxlogo{
	    width:128px;
	    height: 128px;
	    position: fixed;
	    top: 60%;
	    left: 50%;
	    text-align:center;
	    margin-left: -50px;
	    margin-top: -100px;
	    z-index:2;
    	overflow: auto;
    	}
    </style>
</head>
<body>
	<div id="ajaxlogo">
	  <img src="../../../resources/img/ajax/ajax-loader-blue-128.gif" th:src="@{/resources/img/ajax/ajax-loader-blue-128.gif}"/>
	</div>
    <div layout:fragment="deleteForm" >
    </div>
    <div layout:fragment="editForm" >
    </div>
    <div layout:fragment="modals" th:remove="tag" >
    </div>
    <input type="hidden" id="currentContextName" th:value="@{/}"/>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0" role="navigation">
<!--           <div class="container"> -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../" th:href="@{/admin}" style="font-size: 80%"><img th:src="@{/resources/img/ok_logo.png}" src="../../../resources/img/ok_logo.png" style="max-width:110px; margin-top: -15px;"/></a>
        </div>
        <!-- /.navbar-header -->
        <!-- /.navbar-top-links -->
        <!--<div class="navbar navbar-default sidebar" role="navigation">-->
            <!--<div class="sidebar-nav navbar-collapse">-->
               <nav class="navbar-collapse collapse">
                 <ul class="nav navbar-nav">
                    <li><a href="#" th:href="@{/admin/order}"><span th:text= "#{admin.order}">Orders</span></a></li>
                    <li class="dropdown">
                    	<a href="#" class="dropdown-toggle" data-toggle="dropdown" ><span th:text= "#{admin.catalog}">Catalog</span><span class="caret"></span></a> 
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#" th:href="@{/admin/catalog/category}"><i class="fa fa-folder fa-fw">&nbsp;</i><span th:text= "#{admin.catalog.category}">Categories</span></a>
                            </li>
                            <li>
                                <a href="#" th:href="@{/admin/catalog/attributecategory}"><i class="fa fa-th-list fa-fw">&nbsp;</i><span th:text= "#{admin.catalog.attributecategory}">Attribute categories</span></a>
                            </li>
                            <li>
                                <a href="#" th:href="@{/admin/catalog/product}"><i class="fa   fa-tags fa-fw">&nbsp;</i><span th:text= "#{admin.catalog.product}">Product</span></a>
                            </li>                            
                            <li>
                                <a href="#" th:href="@{/admin/catalog/po}"><i class="fa   fa-sitemap fa-fw">&nbsp;</i><span th:text= "#{admin.catalog.productOption}">Product options</span></a>
                            </li>                            
                            <li>
                                <a href="#" th:href="@{/admin/catalog/brand}"><i class="fa  fa-gears fa-fw">&nbsp;</i><span th:text= "#{admin.catalog.brand}">Brand</span></a>
                            </li>                            
                        </ul>
                    </li>
                    <li class="dropdown">
                    	<a href="#" class="dropdown-toggle" data-toggle="dropdown" ><span th:text= "#{admin.people}">Users</span><span class="caret"></span></a> 
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#" th:href="@{${#authorization.expression('hasRole(''ADMIN'')')?'/admin/account/account':'#'}}">
                                	<i class="fa fa-user fa-fw">&nbsp;</i><span th:class="${#authorization.expression('hasRole(''ADMIN'')') ? '' : 'text-muted'}" th:text= "#{admin.users.list}">Users list</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" th:href="@{/admin/customer/customer}">
                                	<i class="fa fa-user fa-fw">&nbsp;</i><span th:text= "#{admin.customers.list}">Customers list</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
			       <form class="navbar-form navbar-left" role="search">
			         <div class="form-group input-group">
			             <input type="text" class="form-control" placeholder="Поиск..."/>
			             <span class="input-group-btn">
			                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
			             </span>
			         </div>
			       </form> 
                <ul class="nav navbar-top-links navbar-right">
	               <li class="dropdown">
	                  <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="messages-panel">
	                     <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
	                  </a>
					  <div th:if="${errormessage != null}" class="alert alert-danger alert-dismissable dropdown-menu dropdown-alerts">
	                     <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						 <span th:text="${errormessage}">Ошибки при выполнении операции</span>
					  </div>
				   </li>
                   <li class="dropdown">
	                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	                      <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
	                  </a>
	                  <ul class="dropdown-menu dropdown-user">
	                      <li>
<!-- 	                         th:href="@{/admin/account/userprofile}" -->
	                        <a href="#" class="editProfile" th:attr="data-path=@{/admin/account/account/userprofile/edit}">
	                        	<i class="fa fa-user fa-fw">&nbsp;</i>
	                        	<span sec:authentication="name">User Profile</span>
	                        </a>
	                      </li>
	                      <li><a href="#"><i class="fa fa-gear fa-fw"></i> Настройки</a>
	                      </li>
	                      <li class="divider"></li>
	                      <li>
	                         <a th:href="@{/logout}" ><i class="fa fa-sign-out fa-fw"></i><span th:text="#{login.logout}">Logout</span></a>
	                      </li>
	                  </ul>
                <!-- /.dropdown-user -->
                    </li>
            <!-- /.dropdown -->
                </ul>
            </nav>
<!-- </div>   -->
    </nav>
        <div class="container-fluid">
		  <ol class="breadcrumb">
		    <li><a th:href="@{/admin}">..</a></li>
		    <th:block layout:fragment="breadcrumb">
		    </th:block>
		  </ol>	             
        </div>
        <!-- Page Content-->  
        <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12" role="main">
				<div layout:fragment="content" >
				    <h1 class="page-header">Admin</h1>
				</div>                    
                <!-- /.col-lg-12 -->
              </div>  
        	</div>
            <!-- /.row -->
       </div>
            <!-- /.container-fluid -->
       <!--  /#page-wrapper -->
    
    <!-- jQuery -->
    <script src="../../../resources/bower_components/jquery/dist/jquery.min.js" th:src="@{/resources/bower_components/jquery/dist/jquery.min.js}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../../../resources/bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{/resources/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="../../../resources/bower_components/metisMenu/dist/metisMenu.min.js" th:src="@{/resources/bower_components/metisMenu/dist/metisMenu.min.js}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../../../resources/js/sb-admin-2.js" th:src="@{/resources/js/sb-admin-2.js}"></script>
	       <!-- bootstrap-select -->
		   <script src="../../../resources/js/bootstrap-select.min.js" th:src="@{/resources/js/bootstrap-select.min.js}"></script>
		   <script src="../../../resources/js/defaults-ru_RU.js" th:src="@{/resources/js/defaults-ru_RU.js}"></script>
	<script src="../../../resources/js/inShop-common.js" th:src="@{/resources/js/inShop-common.js}"></script>
    <script type="text/javascript">
       //<![CDATA[;
               var events = (function(){
            	   var eventNode = $({});
            	   return {
            	     on: on,
            	     trigger: trigger
            	   };
            	   function on(){
            	     eventNode.on.apply(eventNode, arguments);
            	   }
            	   function trigger(){
            	     eventNode.trigger.apply(eventNode, arguments);
            	   }
            	 })();
                $(document).ready(function() {
        	  		if($.urlParam("error")) {
        	  			 $("#messages-panel").dropdown("toggle");
        	  		}
     		        $('.modal').on('hidden.bs.modal', function( event ) {
    	                $(this).removeClass( 'fv-modal-stack' );
    	                $('body').data( 'fv_open_modals', $('body').data( 'fv_open_modals' ) - 1 );
    	                });

    				$( '.modal' ).on( 'shown.bs.modal', function ( event ) {
    	                   // keep track of the number of open modals
    	                   if ( typeof( $('body').data( 'fv_open_modals' ) ) == 'undefined' )
    	                   {
    	                     $('body').data( 'fv_open_modals', 0 );
    	                   }
    	                   // if the z-index of this modal has been set, ignore.
    	                if ( $(this).hasClass( 'fv-modal-stack' ) )
    	                        {
    	                        return;
    	                        }
    	                $(this).addClass( 'fv-modal-stack' );
    	                $('body').data( 'fv_open_modals', $('body').data( 'fv_open_modals' ) + 1 );
    	                $(this).css('z-index', 1040 + (10 * $('body').data( 'fv_open_modals' ))); 
    	                 });
    				//User profile edit
    				$("body").on("click",".editProfile", function () {
    					var path = $(this).data("path");
    					var id = $(this).data("id");
    					$.ajax({
    	                    url: path+((id != null)?"?ID="+id:""),
    	                    cache: false 
    	                  }).done(function (html) {
    	                	  $("#editModalAccount").remove();
                              $(html).appendTo("body");
                              $(".selectpicker").selectpicker();
      	                      $("#name").focus();
    	                	  $('[data-toggle="tooltip"]').tooltip();
    	                  }).always(function () {
    	                	  $("#editModalAccount").modal({
    	  		    		     backdrop: 'static',
    			    		     keyboard: false
    			    		  });
    	                  });
    				});
   		 		    $("body").on("change", "#roleAccount", function(){
       					$("#roleAccountIc").find("input").each(function(i,v){$(v).remove()});    		 			
       	 		        $(this).find("option:selected").each(function(i, v){
       	 		        	$("<input>").attr({
       	 		        	    type: "hidden",
       	 		        	    name: "rolesList["+i+"]",
       	 		        	    value: $(v).val()
       	 		        	}).appendTo("#roleAccountIc");								    		 		            
       	 		        });    		 			
       	 		
       	 			});
	    			$("body").on("click",".submit-account-edit", function () { 
	    				var path = $(this).data("path");
    	    			var form = $("#accountEditForm");
    	    			var formser;
    	    			if (form != "undefined" && form != null) formser = form.serialize();
    	    			$("#editModalAccountContent").text("");
                        $.ajax({
                        	type: "POST",
                            url: path,
                            data: formser,
                            cache: false
                        })
                        .done(function (html) {
                             if (html != "Ok") {
                            	 $("#editModalAccountContent").append(html);
                                 $(".selectpicker").selectpicker();
         	                     $("#name").focus();
       	                	     $('[data-toggle="tooltip"]').tooltip();                            	 
                             }
                        })
                        .always(function(html){
                        	if (html == "Ok") { 
                        		$("#editModalAccount").modal("hide");
                        		events.trigger("onReloadMainDataTableNeed");
                        		};
                        	});
    	    		});    				
          		});
                var $loading = $("#ajaxlogo").hide();
                $(document)
                  .ajaxStart(function () {
                    $loading.show();
                  })
                  .ajaxStop(function () {
                    $loading.hide();
                  });                
                
                
       // ]]>
	</script>
    <th:block layout:fragment="script"> 
    </th:block>
</body>

</html>
