<!DOCTYPE html>
<html lang="ru">
  <head>
	 <title th:utext="#{head.home.title}">ООО Форпост - технические средства реабилитации, ортопедические изделия, изделия медицинского назначения</title>
	 <th:block th:replace="/layouts/partials/head"></th:block>
 	 <th:block th:fragment="meta" th:remove="all">
		<meta name="description" th:content="#{head.home.metaDescription}" />
	    <meta name="keywords" th:content="#{head.home.metaKeywords}" />
	 </th:block>
  </head>
  <body>
	<header th:replace="layouts/partials/header" />
	<div id="content" role="main">
		<div th:replace="layouts/partials/topnav" />
	    <div class="container-fluid sidemenu-sticky-parent">
			<div class="row">
				<div class="col-sm-12 col-md-3 col-lg-2">
				    <div th:replace="layouts/partials/lsidenav" />
				</div>
				<div class="col-sm-12 col-md-9 col-lg-10 content">
					<div class="slider-area hidden-xs">
						<!-- Slider -->
						<div class="block-slider block-slider4">
							<ul class="" id="bxslider-home4">
								<li th:each="banner: ${mainSliderBanner}">
									<img th:src="@{${banner.value.imageUrl}}" alt="Slide"/>
									<div class="caption-group">
										<!--<h2 class="caption title">
											Coloplast  <span class="primary">6 <strong>Plus</strong></span> 
										</h2>-->
										<!--<h4 class="caption subtitle">Dual SIM</h4> -->
										<a class="caption button-radius" th:href="@{${banner.value.targetUrl}}"><span class="icon"></span>Показать</a>
									</div>
								</li>
							</ul>
						</div>
						<!-- ./Slider -->
					 </div> <!-- End slider area -->
					 <div class="maincontent-area">
						<div class="zigzag-bottom"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-12">
									<div class="main-page-product">
										<h2 class="section-title" th:utext="#{product.status.hits}">Лидеры продаж!</h2>
										<div class="product-carousel">
										  <th:block th:each="product : ${hitProducts}" th:object="${product}" th:include="catalog/partials/smallSingleProduct">
										  </th:block>										
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="main-page-product">
										<h2 class="section-title">Акции!</h2>
										<div class="product-carousel">
										  <th:block th:each="product : ${actionProducts}" th:object="${product}" th:include="catalog/partials/smallSingleProduct">
										  </th:block >										
										</div>										
									</div>
								</div>
							</div>	
							<div class="row">
								<div class="col-md-12">
									<div class="brands-area">
										<div class="zigzag-bottom"></div>
										<div class="container-fluid">
											<div class="row">
												<div class="col-md-12">
													<div class="brand-wrapper">
														<div class="brand-list">
															<a th:each="brand : ${brands}" aid:phref="${brand}"> 
																<img th:src="@{${brand.logoUrl}}" alt=""/>
															</a> 
														</div>
													</div>
												</div>
											</div>
										</div>
									</div> <!-- End brands area -->
								</div>
							</div>						
						</div>
					 </div> <!-- End main content area -->
			   </div>
			</div>
	    </div>
	</div>
	<th:block th:fragment="page-description" th:remove="all">
	    <div class="page-description">
			<h1 th:utext="#{footer.home.pageDescription.title}">Интернет-магазин компании Форпост</h1>
			<th:block th:remove="tag" th:utext="#{footer.home.pageDescription.text}"></th:block>
		</div>
	</th:block>
	<footer th:replace="layouts/partials/footer" />   
  </body>
</html>
