<!DOCTYPE html>
<html lang="ru">
  <head>
	 <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">ООО Форпост - технические средства реабилитации, ортопедические изделия, изделия медицинского назначения</title>
	 <th:block th:replace="/layouts/partials/head"></th:block>
  </head>
  <body>

	<header th:replace="layouts/partials/header" />
	<div id="content" role="main">
		<div th:replace="layouts/partials/topnav" />
	    <div class="container-fluid sidemenu-sticky-parent">
			<div class="row">
				<div class="col-sm-12 col-md-3 col-lg-2">
				    <div th:replace="layouts/partials/lsidenav" />
				</div>
				<div class="col-sm-12 col-md-9 col-lg-10 content">
				<div class="slider-area">
						<!-- Slider -->
						<div class="block-slider block-slider4">
							<ul class="" id="bxslider-home4">
								<li>
									<img src="images/banner/coloplast_image.png" alt="Slide"/>
									<div class="caption-group">
										<!--<h2 class="caption title">
											Coloplast  <span class="primary">6 <strong>Plus</strong></span> 
										</h2>-->
										<!--<h4 class="caption subtitle">Dual SIM</h4> -->
										<a class="caption button-radius" href="#"><span class="icon"></span>Показать</a>
									</div>
								</li>
								<li><img src="images/banner/coloplast_image1.png" alt="Slide"/>
									<div class="caption-group">
										<!--<h2 class="caption title">
											by one, get one <span class="primary">50% <strong>off</strong></span>
										</h2>
										<h4 class="caption subtitle">school supplies & backpacks.*</h4>-->
										<a class="caption button-radius" href="#"><span class="icon"></span>Показать</a>
									</div>
								</li>
								<li><img src="images/banner/convatec_hug.png" alt="Slide"/>
									<div class="caption-group">
										<!--<h2 class="caption title">
											by one, get one <span class="primary">50% <strong>off</strong></span>
										</h2>
										<h4 class="caption subtitle">school supplies & backpacks.*</h4>-->
										<a class="caption button-radius" href="#"><span class="icon"></span>Показать</a>
									</div>
								</li>
								<li><img src="images/banner/convatec_image.png" alt="Slide"/>
									<div class="caption-group">
										<!--<h2 class="caption title">
											by one, get one <span class="primary">50% <strong>off</strong></span>
										</h2>
										<h4 class="caption subtitle">school supplies & backpacks.*</h4>-->
										<a class="caption button-radius" href="#"><span class="icon"></span>Показать</a>
									</div>
								</li>						
								<li><img src="images/banner/seni_image.png" alt="Slide"/>
									<div class="caption-group">
										<!--<h2 class="caption title">
											by one, get one <span class="primary">50% <strong>off</strong></span>
										</h2>
										<h4 class="caption subtitle">school supplies & backpacks.*</h4>-->
										<a class="caption button-radius" href="#"><span class="icon"></span>Показать</a>
									</div>
								</li>
								<li><img src="images/banner/seni_image2_2.png" alt="Slide"/>
									<div class="caption-group">
										<!--<h2 class="caption title">
											by one, get one <span class="primary">50% <strong>off</strong></span>
										</h2>
										<h4 class="caption subtitle">school supplies & backpacks.*</h4>-->
										<a class="caption button-radius" href="#"><span class="icon"></span>Показать</a>
									</div>
								</li>
								<li><img src="images/banner/bbraun_image1.png" alt="Slide"/>
									<div class="caption-group">
										<!--<h2 class="caption title">
											by one, get one <span class="primary">50% <strong>off</strong></span>
										</h2>
										<h4 class="caption subtitle">school supplies & backpacks.*</h4>-->
										<a class="caption button-radius" href="#"><span class="icon"></span>Показать</a>
									</div>
								</li>
							</ul>
						</div>
						<!-- ./Slider -->
				    </div> <!-- End slider area -->
					
					<div class="maincontent-area">
						<div class="zigzag-bottom"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-12">
									<div class="main-page-product">
										<h2 class="section-title">Новинки</h2>
										<div class="product-carousel">
											<div th:each="newProduct : ${newProducts}" class="single-product">
												<div class="new_badge">New!</div>
												<div class="product-f-image">
													<img th:src="@{${!#lists.isEmpty(newProduct.defaultSku.images)? newProduct.defaultSku.images[0]: ''}}" alt=""/>
													<div class="product-hover">
														<a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> В корзину</a>
														<a th:href="@{/product'+${newProduct.url}}" class="view-details-link"><i class="fa fa-link"></i>Подробнее</a>
													</div>
												</div>
												
												<h2><a th:href="@{/product'+${newProduct.url}}"><span th:utext="${newProduct.defaultSku.name}">Samsung Galaxy s5- 2015</span></a></h2>
												
												<div class="product-carousel-price">
													<ins th:if="${newProduct.defaultSku.salePrice != null &amp;&amp; newProduct.defaultSku.salePrice != 0}" 
													     th:utext="${{newProduct.defaultSku.salePrice}}">$700.00</ins>
													<ins th:unless="${newProduct.defaultSku.salePrice != null &amp;&amp; newProduct.defaultSku.salePrice != 0}" 
													     th:utext="${{newProduct.defaultSku.retailPrice}}">$700.00</ins> <del th:if="${newProduct.defaultSku.salePrice != null &amp;&amp; newProduct.defaultSku.salePrice != 0}" th:utext="${{newProduct.defaultSku.retailPrice}}">$100.00</del>
												</div> 
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="main-page-product">
										<h2 class="section-title">Акции</h2>
										<div class="product-carousel">
											<div th:each="actionProduct : ${actionProducts}" class="single-product">
												<div class="action_badge">Stock!</div>
												<div class="product-f-image">
													<img th:src="@{${!#lists.isEmpty(actionProduct.defaultSku.images)? actionProduct.defaultSku.images[0]: ''}}" alt=""/>
													<div class="product-hover">
														<a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> В корзину</a>
														<a th:href="@{'/product'+${actionProduct.url}}" class="view-details-link"><i class="fa fa-link"></i>Подробнее</a>
													</div>
												</div>
												
												<h2><a th:href="@{'/product'+${actionProduct.url}}"><span th:utext="${actionProduct.defaultSku.name}">Samsung Galaxy s5- 2015</span></a></h2>
												
												<div class="product-carousel-price">
													<ins th:if="${actionProduct.defaultSku.salePrice != null &amp;&amp; actionProduct.defaultSku.salePrice != 0}" 
													     th:utext="${{actionProduct.defaultSku.salePrice}}">$700.00</ins>
													<ins th:unless="${actionProduct.defaultSku.salePrice != null &amp;&amp; actionProduct.defaultSku.salePrice != 0}" 
													     th:utext="${{actionProduct.defaultSku.retailPrice}}">$700.00</ins> <del th:if="${actionProduct.defaultSku.salePrice != null &amp;&amp; actionProduct.defaultSku.salePrice != 0}" th:utext="${{actionProduct.defaultSku.retailPrice}}">$100.00</del>
												</div> 
											</div>
										</div>										
									</div>
								</div>
							</div>	
							<div class="row">
								<div class="col-md-12">
									<div class="brands-area">
										<div class="zigzag-bottom"></div>
										<div class="container-fluid">
											<div class="row">
												<div class="col-md-12">
													<div class="brand-wrapper">
														<div class="brand-list">
															<a th:each="brand : ${brands}" th:href="@{'/brand'+${brand.url}}"> 
																<img th:src="@{${brand.logoUrl}}" alt=""/>
															</a> 
														</div>
													</div>
												</div>
											</div>
										</div>
									</div> <!-- End brands area -->
								</div>
							</div>						
						</div>
					</div> <!-- End main content area -->
				</div>
			</div>
	    </div>
	</div>
	<footer th:replace="layouts/partials/footer" />   
  </body>
</html>
