<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<style type="text/css">				
		* { font-family: Arial; }
		table thead tr th {
			text-align: center;
			font-size: 10pt;
			border: thin solid black;
			font-weight: 400;
		}
		table tbody tr td {
			font-size: 10pt;
		}
		
		table tfoot tr td {
			font-size: 10pt;
		}		
		
	</style>	
</head>
<body>
    <span style="font-size: 7pt;" th:utext="${'('+#messages.msg('order.status.'+order[13])+')'}">(Новый)</span>
	<table style="empty-cells: show; border-collapse:collapse; width:7in; overflow: hidden; table-layout:fixed;">
		<tbody>
			<tr>
				<td valign="top">
					<h3 style="text-align: center;">
						<strong th:utext="${'Заказ № '+order[0]}">Заказ № 12376645454</strong>
					</h3>
				</td>
			</tr>
			<tr><td><br/></td></tr>
			<tr><td><br/></td></tr>			
			<tr>
				<td><span>Дата и время заказа:&nbsp;</span><span style="font-weight: bold;" th:utext="${order[2]}">23.04.2017 20:33</span>
				</td>
			</tr>
			<tr>
				<td><span>Ф.И.О. клиента:&nbsp;</span><span style="font-weight: bold;" th:utext="${order[5]}">Иванов Иван Иванович</span> 
				</td>
			</tr>
			<tr>
				<td><span>Город:&nbsp;</span><span style="font-weight: bold;" th:utext="${order[12]}">New York</span> 
				</td>
			</tr>
			<tr>
				<td><span>Адрес:&nbsp;</span><span style="font-weight: bold;" th:utext="${order[7]}">Ленина, 1</span> 
				</td>
			</tr>
			<tr>
				<td><span>Телефон:&nbsp;</span><span style="font-weight: bold;" th:utext="${order[6]}">123-45-56</span> 
				</td>
			</tr>
			<tr>
				<td><span>Email:&nbsp;</span><span style="font-weight: bold;" th:utext="${order[8]}">some@soma.com</span> 
				</td>
			</tr>			
			<tr>
				<td><span>Способ доставки:&nbsp;</span><span style="font-weight: bold;" th:utext="${order[9]}">self delivery</span> 
				</td>
			</tr>			
			<tr>
				<td><span>Пункт самовывоза:&nbsp;</span><span style="font-weight: bold;" th:utext="${order[10]}">self delivery</span> 
				</td>
			</tr>			
			<tr>
				<td><span>Адрес пункта самовывоза:&nbsp;</span><span style="font-weight: bold;" th:utext="${order[11]}">self delivery</span> 
				</td>
			</tr>
			<tr><td><br/></td></tr>
			<tr><td><br/></td></tr>
		</tbody>
	</table>
    <table style="border-collapse: collapse; empty-cells: show; width: 7in; overflow:hidden; table-layout:fixed;">
	    <thead>
	        <tr>
	            <th width="5%">N</th>
	            <th width="40%"><span th:utext="#{product.name}">Product</span></th>
	            <th width="15%"><span th:utext="#{sku.priceForUnit}">Price</span></th>  
	            <th width="15%"><span th:utext="#{sku.priceForPackageUnit}">Price</span></th>  
	            <th width="10%"><span th:utext="#{sku.quantity}">Quantity</span></th>
	            <th width="20%"><span th:utext="#{cart.subTotal}">Sub Total</span></th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr th:each="oi, oiStat : ${orderItems}" class="cart_item">
	            <td style="font-size: 8pt; border: thin solid black;" th:utext="${oiStat.index+1}" align="center"></td>
	            <td class="product-name" style="font-size: 8pt; border: thin solid black;">
                	<span th:utext="${oi[0]}"></span>
	            </td>
	            <td style="border: thin solid black;" class="product-price" align="center">
	                <span class="amount" th:utext="${beans.currencyNumberFormatter.print(oi[2], #locale.getDefault())}">£15.00</span> 
	            </td>
	            <td style="border: thin solid black;" class="product-price" align="center">
	                <span class="amount" th:utext="${beans.currencyNumberFormatter.print(oi[2], #locale.getDefault())}">£15.00</span> 
	            </td>
	            <td style="border: thin solid black;" class="product-quantity" align="center">
	                <span th:utext="${oi[1]}"></span>
	            </td>
	            <td style="border: thin solid black;" class="product-subtotal" align="center">
	                <span class="amount" th:text="${beans.currencyNumberFormatter.print(oi[3], #locale.getDefault())}">£15.00</span> 
	            </td>
	        </tr>
	    </tbody>
  	    <tfoot>
  	    	<tr>
  	    		<td colspan="5">
		  	    	<div style="float: right;">
		  	    	  <p><span th:text="#{admin.order.subTotal}"></span>: 
		  	    	     <span style="font-weight: bold;" id="subTotal" 
		  	    	           th:text="${order[1] != null? beans.currencyNumberFormatter.print(order[1], #locale.getDefault()): 0}"></span>
		  	    	  </p>
		  	    	  <p><span th:text="#{admin.order.deliveryCost}"></span>: 
		  	    	     <span style="font-weight: bold;" id="deliveryTotal" 
		  	    	           th:text="${order[4] != null? beans.currencyNumberFormatter.print(order[4], #locale.getDefault()): 0}"></span>
		  	    	  </p>
		  	    	  <p><span th:text="#{admin.order.total}"></span>: 
		  	    	     <span style="font-weight: bold;" id="total" 
		  	    	           th:text="${order[3] != null? beans.currencyNumberFormatter.print(order[3], #locale.getDefault()): 0}"></span>
		  	    	  </p>
		  	    	</div>
  	    		</td>
  	    	</tr>
  	    </tfoot>	    
	</table>
</body>
</html>