<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
</head>
<body>
	<p>&nbsp;</p>
	<table  width="521">
		<tbody>
			<tr>
				<td style="text-align: center;" bgcolor="#5a88ca">
					<h2>
						<span style="color: #ffffff;">&nbsp;Спасибо за Ваш заказ в
						</span><br /> <span style="color: #ffffff;">интернет-магазине
							Форпост!</span>
					</h2>
				</td>
			</tr>
			<tr>
				<td>
					<p>Ваш заказа сформирован и наш менеджер свяжется с Вами в
						ближайшее время!</p>
					<h2>
						<strong th:utext="${'Заказ №'+order.orderNumber}">Заказ № 12376645454</strong>
					</h2>
				</td>
			</tr>
		</tbody>
	</table>
    <table cellspacing="0" width="521" border="1" style="font-size: 10pt;">
	    <thead>
	        <tr>
	            <th>N</th>
	            <th class="product-name"><span th:utext="#{product.name}">Product</span></th>
	            <th class="product-price"><span th:utext="#{sku.priceForPackageUnit}">Price</span></th>  
	            <th class="product-quantity"><span th:utext="#{sku.quantity}">Quantity</span></th>
	            <th class="product-subtotal"><span th:utext="#{cart.subTotal}">Sub Total</span></th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr th:each="oi, oiStat : ${order.orderItems}" class="cart_item">
	            <td th:utext="${oiStat.index+1}"></td>
	            <td class="product-name" style="font-size: 8pt;">
                	<span aid:product_modifyed_display_name_utext="${oi.sku}"></span>
                 	<span th:if="${!#strings.isEmpty(oi.sku.commaDelemitedPOVL)}"  th:utext="${oi.sku.commaDelemitedPOVL}"></span>
	            </td>
	            <td class="product-price" align="center">
	                <span class="amount" th:utext="${beans.currencyNumberFormatter.print(oi.price, #locale.getDefault())}">£15.00</span> 
	            </td>
	            <td class="product-quantity" align="center">
	                <span th:utext="${oi.quantity}"></span>
	            </td>
	            <td class="product-subtotal" align="center">
	                <span class="amount" th:text="${beans.currencyNumberFormatter.print(oi.rowTotal, #locale.getDefault())}">£15.00</span> 
	            </td>
	        </tr>
	        <tr>
	            <td th:colspan="3">

				</td>
				<td class="cart-total" colspan="2" align="right">
	                <span th:utext="#{cart.total}">Total</span>
	            	<span  th:text="${beans.currencyNumberFormatter.print(order.total, #locale.getDefault())}">£15.00</span> 
	            </td>
	        </tr>
	    </tbody>
	</table>
	<p>&nbsp;</p>
	<h3>Данные клинта:</h3>
	<span th:utext="#{person.fullName}"></span>:&nbsp;<span th:utext="${order.customer.firstName}"></span>&nbsp;
	<span th:utext="${order.customer.lastName}"></span>&nbsp;<span th:utext="${order.customer.middleName}"></span><br/> 
	<span th:utext="#{city}"></span>:&nbsp;<span th:utext="${order.customer.city}"></span><br/>
	<span th:utext="#{address}"></span>:&nbsp;<span th:utext="${order.customer.address}"></span><br/>
	<span th:utext="#{phone}"></span>:&nbsp;<span th:utext="${order.customer.phone}"></span><br/>
	<p>&nbsp;</p>
	<h3>Способ доставки:</h3>
	<span th:utext="${order.fulfillment.get(order.fulfillment.size() - 1).delivery.name}"></span>
	<p th:utext="${order.fulfillment.get(order.fulfillment.size() - 1).delivery.longDescription}">
	</p>
	<th:block th:with="store = ${order.fulfillment.get(order.fulfillment.size() - 1).store}" 
	          th:if="${order.fulfillment.get(order.fulfillment.size() - 1).store}">
	    <p>&nbsp;</p>      
		<h3>Пункт отпуска:</h3>
		<p th:utext="${store.name}"></p>	
		<p th:utext="${store.address}"></p>
		<p th:utext="${store.phone}"></p>
		<p th:if="${store.workSchedule}" th:utext="${store.workSchedule}"></p>
		<p th:if="${store.longDescription}" th:utext="${store.longDescription}"></p>
	</th:block>>
</body>
</html>