<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
           <form method="POST" th:action="@{${'/rating/add-review?item-id='+itemId+'&amp;rating-type='+ratingType}}"  >
			   <button type="button" class="modal-submit-review" th:text="#{raiting.submitReview}"/>
		   </form>
		</div>
    </div>
    <div class="row">
		<div class="col-lg-12 review-list-container">
			<p th:if="${#lists.isEmpty(reviewList)}" th:text="#{raiting.noReviews}">
			</p>
			<th:block th:unless="${#lists.isEmpty(reviewList)}" th:each="reviewDetail: ${reviewList}" 
			          th:object="${reviewDetail}" th:include="rating/partials/reviewBlock">
			</th:block>
		</div>						    	
    </div>
</div>
