<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" 
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorator="admin/catalog/category">
	<head>
	<!-- layout:decorator="admin/category" -->
	    <th:block th:remove="all">
			<title>inShop Admin Category</title>
		    <meta charset="utf-8"/>
		    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		    <meta name="viewport" content="width=device-width, initial-scale=1"/>
		    <meta name="description" content=""/>
		    <meta name="author" content=""/>
		
		    <!-- Bootstrap Core CSS -->
		    <link href="../../../../resources/css/lib/bootstrap.min.css" rel="stylesheet" th:href="@{/resources/css/lib/bootstrap.min.css}"/>
			<!-- Treegrid -->
		 	<link href="../../../../resources/css/lib/jquery.treegrid.css" rel="stylesheet" th:href="@{/resources/css/lib/jquery.treegrid.css}"/>
			<!-- summernote -->
			<link href="../../../../resources/css/lib/summernote.css" rel="stylesheet" type="text/css" th:href="@{/resources/css/lib/summernote.css}"></link>
			<!-- bootstrap select -->
			<link href="../../../../resources/css/lib/bootstrap-select.min.css" rel="stylesheet" type="text/css" th:href="@{/resources/css/lib/bootstrap-select.min.css}"></link>
		    <!-- Custom Fonts -->
	    	<link href="../../../../resources/css/lib/font-awesome.min.css" rel="stylesheet" type="text/css" th:href="@{/resources/css/lib/font-awesome.min.css}"/>
			<link href="../../../../resources/css/lib/bootstrap-theme.min.css" rel="stylesheet" type="text/css" th:href="@{/resources/css/lib/bootstrap-theme.min.css}"></link>    	
	    	<link href="../../../../resources/css/admin/sb-admin-2.css" rel="stylesheet" th:href="@{/resources/css/admin/sb-admin-2.css}"/>
	    </th:block>
	</head>
<body>
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true" th:attr="data-path=@{/admin/catalog/category}" layout:fragment="editForm">
    <div class="modal-dialog">
	   <div class="modal-content" id="editModalContent">
	   <form method="post" class="form-horizontal" role="form" action="#" th:action="@{/admin/catalog/category/edit}" th:object="${category}" th:fragment="editCategoryForm">
		   <div class="modal-header">
	 					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"  th:text="${!category.new}? #{admin.catalog.category.edit.title.edit}: #{admin.catalog.category.edit.title.add}">Edit Category</h4>
	 	   </div>
		 <!-- /modal-header -->
		    <div class="modal-body" style ="height:420px; overflow:auto">
		          <div  th:if="${#fields.hasErrors('*')}" class="alert alert-danger alert-dismissable">
		          	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <span th:text="#{admin.catalog.category.edit.existsErrors}">There is some errors in the form</span>
					<ul>
					  <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
					</ul>                                 
                  </div>
	               <ul class="nav nav-tabs">
	                    <li class="active"><a href="#main" data-toggle="tab" th:text="#{admin.edit.tab.description}">Описание</a>
	                    </li>
	                    <li><a href="#additional" data-toggle="tab" th:text="#{admin.edit.tab.params}">Параметры</a>
	                    </li>
	                    <li><a href="#links" data-toggle="tab" th:text="#{admin.edit.tab.links}">Связи</a>
	                    </li>
	                </ul>
	                <!-- Tab panes -->
	                <div class="tab-content">
	                    <div class="tab-pane fade in active" id="main">
						   <div class="field-box" th:class="${#fields.hasErrors('name')}? has-error: field-box">
							  <input type="hidden" th:field="*{id}"/>	                             
				    		  <label>
					    	  	 <span th:text="#{admin.catalog.category.edit.name}">Category1</span>
					   		  </label>
					   		  <input type="text" class="form-control" th:field="*{name}"/>
					   		  <p class="text-danger" style="font-size: 8pt;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect name</p>
				   		   </div>
						   <div class="field-box" th:class="${#fields.hasErrors('urlForForm')}? has-error: field-box">	
				    		  <label>
					    	  	 <span th:text="${#messages.msg('admin.catalog.category.edit.url') + (category.parent != null? ' ('+category.parent.url+'/)':'')}">url</span>
					   		  </label>
						      <div class="input-group">                              
						   		  <input type="text" class="form-control" th:field="*{urlForForm}"/>
							      <span class="input-group-btn">
							        <button class="btn btn-default" id="urlRefreshBtn" type="button"  th:title="#{button.autogenerate}"><i class="fa fa-refresh"></i></button>
							      </span>						   		  
						      </div>
							  <p class="text-danger" style="font-size: 8pt;" th:if="${#fields.hasErrors('urlForForm')}" th:errors="*{urlForForm}">Incorrect url</p>						      
				   		   </div>						   		   
				   		   <div class="field-box">
	 			    		  <label>
					    	  	<span th:text="#{admin.catalog.category.edit.description}">Description Category1</span>
					   		   </label>
					   		   <input type="text" class="form-control" th:field="*{description}"/>
				   		   </div>
				   		   <div class="field-box">
	 			    		   <label>
					    	  	<span th:text="#{admin.catalog.category.edit.longDescription}">Description Category1</span>
					   		   </label>
						       <textarea id="summernote" class="textarea form-control" placeholder="Введите текст..." th:field="*{longDescription}"></textarea>
  						   </div>
	             		</div>
	                    <div class="tab-pane fade" id="additional">
	                      <div class="field-box">
	                        <label>
						  	  	<span th:text="#{admin.catalog.category.edit.parent}">Parent category</span>
						    </label>
							 <select class="form-control" th:field="*{parent}">
							    <option value="">&nbsp;</option>
								<option th:if="${scategory.id != category.id}" 
								        th:each="scategory : ${allCategories}" 
								        th:value="${scategory.id}"
									    th:utext="${scategory.tag}"
									    >option 1</option>
							 </select>
						   </div>	 
   			   		       <div class="field-box">
	 			    		  <label>
					    	  	<span th:text="#{admin.catalog.category.edit.ordering}">Orderig</span>
					   		  </label>
					   		  <input type="text" class="form-control" th:field="*{ordering}"/>
						   </div>
						   <div class="field-box">
	                         <label>
	 					    	<input type="checkbox" th:field="*{enabled}"/>
							  	<span th:text="#{admin.catalog.category.enabled}">Active?</span>
							 </label>
						   </div>	 
	                    </div>
	                    <div class="tab-pane fade" id="links">
	                      <div class="field-box">
	                      	<div id="productAttributesIc" style="display: none">
		                    </div>
	                        <label>
						  	  	<span th:text="#{admin.catalog.category.edit.attributes}">Attributes</span>
						    </label>
							 <select class="form-control selectpicker" id="productAttributes" multiple="multiple" 
	          						 data-live-search="true">
								<optgroup th:if="${attributeCategory.hasActiveAttributes()}"
								          th:each="attributeCategory: ${allAttributeCategories}"  
								          th:label="${attributeCategory.name}">
								    <option th:if="${attribute.enabled}"
								            th:each="attribute: ${attributeCategory.attributes}" 
								            th:title="${attribute.name}"
								            th:selected="${#lists.contains(allAttributes, attribute)}"
								            th:disabled="${#lists.contains(allAttributes, attribute) &amp;&amp; !#lists.contains(selfAttributes, attribute)}"
								            th:value="${attribute.id}"
								            th:attr="data-content=${'&lt;span style=&quot;font-size: 8pt&#59;&quot;&gt; (' + #messages.msg('attribute.type.' + attribute.attributeType) +') &lt;/span&gt;' +
								                                    attribute.name + (!#strings.isEmpty(attribute.code) || !#strings.isEmpty(attribute.description)? '&lt;br&gt;': '') +
								                                    (!#strings.isEmpty(attribute.code)?'&lt;span style=&quot;font-size: 8pt&#59;&quot;&gt;['+attribute.code + ']&lt;/span&gt;':'') + 
								                                    (!#strings.isEmpty(attribute.description)? '&lt;span style=&quot;font-size: 8pt&#59;&quot;&gt; '+attribute.description+' &lt;/span&gt;':'')}">
								    </option>      
								</optgroup>
							 </select>
						   </div>	                    	
	                    </div>
	                </div>
		    </div>
		 <!-- /modal-body -->
	 	    <div class="modal-footer">
	 		  <!-- <button type="button" class="btn btn-default"  
	 		          th:text="#{admin.catalog.category.edit.button.close}"
	 		          th:onclick="'window.location=\''+@{/admin/catalog/category}+'\''">Close</button> -->
	 		  <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{admin.catalog.category.edit.button.close}">Close</button>        
			  <button type="submit" class="btn btn-primary" th:text="#{admin.catalog.category.edit.button.save}">Save changes</button>
		    </div>  
		 <!-- /modal-footer -->
	     </form>	
      </div> 
    </div> 
  </div>	    
   <!-- jQuery -->
   <script src="../../../../resources/js/lib/jquery.min.js" th:src="@{/resources/js/lib/jquery.min.js}"></script>
   <!-- Bootstrap Core JavaScript -->
   <script src="../../../../resources/js/lib/bootstrap.min.js" th:src="@{/resources/js/lib/bootstrap.min.js}"></script>
 
	   <th:block th:fragment="scriptEditModal">
		   <!-- Bootstrap bootstrap-wysiwyg.js -->
		   <script src="../../../../resources/js/lib/summernote.js" th:src="@{/resources/js/lib/summernote.js}"></script>
		   <script src="../../../../resources/js/lib/summernote-ru-RU.js" th:src="@{/resources/js/lib/summernote-ru-RU.js}"></script> 
		    <!-- bootstrap-select -->
		   <script src="../../../../resources/js/lib/bootstrap-select.min.js" th:src="@{/resources/js/lib/bootstrap-select.min.js}"></script>
		   <script src="../../../../resources/js/lib/defaults-ru_RU.js" th:src="@{/resources/js/lib/defaults-ru_RU.js}"></script>
	   </th:block>
   		<th:block layout:fragment="scriptEditModal"> 
	   	   <script type="text/javascript">
		     $(document).ready(function() {
		    	 $("#editModal").modal({
		    		    backdrop: 'static',
		    		    keyboard: false
		    		});
                 $('#summernote').summernote({
					    lang: "ru-RU"
				     });
                 $(".selectpicker").selectpicker();
                 $("#productAttributes").change();
                 $("#name").focus();                 
			 });
		   </script>
		 </th:block>  
</body>
</html>

