<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  layout:decorator="layouts/admin-default">
	<head>
	    <th:block th:remove="all">
			<title>inShop Admin Instruction</title>
		    <meta charset="utf-8"/>
		    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		    <meta name="viewport" content="width=device-width, initial-scale=1"/>
		    <meta name="description" content=""/>
		    <meta name="author" content=""/>
		    <!-- Bootstrap Core CSS -->
		    <link href="../../../../resources/css/lib/bootstrap.min.css" rel="stylesheet" th:href="@{/resources/css/lib/bootstrap.min.css}"/>
		    <!-- MetisMenu CSS --> 
		    <link href="../../../../resources/css/lib/metisMenu.min.css" rel="stylesheet" th:href="@{/resources/css/lib/metisMenu.min.css}"/>
			<!-- Custom css -->	    
	    	<link href="../../../../resources/css/admin/sb-admin-2.css" rel="stylesheet" th:href="@{/resources/css/admin/sb-admin-2.css}"/>
		    <!-- Custom Fonts -->
	    	<link href="../../../../resources/css/lib/font-awesome.min.css" rel="stylesheet" type="text/css" th:href="@{/resources/css/lib/font-awesome.min.css}"/>
    	</th:block>
	    <!-- DataTables CSS -->
	    <link href="../../../../resources/css/lib/dataTables.bootstrap.css" rel="stylesheet" th:href="@{/resources/css/lib/dataTables.bootstrap.css}"/>	    	
		<!-- DataTables Responsive CSS -->
   		<link href="../../../../resources/css/lib/dataTables.responsive.css" rel="stylesheet" type="text/css" th:href="@{/resources/css/lib/dataTables.responsive.css}"/>	    	
		<!-- summernote -->
		<link href="../../../../resources/css/lib/summernote.css" rel="stylesheet" type="text/css" th:href="@{/resources/css/lib/summernote.css}"></link>
		<style type="text/css">
			body {
			    margin:0;     /* This is used to reset any browser-default margins */
			    height:100vh; /* This is needed to overcome a Chrome bug. */
			    width:100vw;  /* As above. */
			}
			table th, table td { overflow: hidden; }
		</style>
	</head>
<body>
   <th:block layout:fragment="breadcrumb">
   	 <li class="active" th:text="#{admin.catalog.instructions}"></li>
   </th:block>
   <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true" layout:fragment="deleteForm">
	  <div class="modal-dialog">
	    <div class="modal-content" id="deleteModalContent">
 	        <form method="post" th:action="@{/admin/catalog/instruction/delete}">
	            <div class="modal-header">
	              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	              <h4 class="modal-title" id="deleteModalLabel"><span th:text="#{admin.catalog.category.delete.modalcaption}">Удаление</span></h4>
	            </div>
	            <div class="modal-body" id = "delete-modal-body">
                  <div class="field-box">
	                <span th:text="#{admin.catalog.instruction.delete.modalmessage}">Подтвердите удаление инструкции: </span>
	                <span style="font-weight:bold" id="ctgName"> Инструкция </span>
				  </div>	                
	              <div class="field-box" sec:authorize="hasRole('ADMIN')">
                      <label>
					   	<input type="checkbox" name="phisycalDelete"/>
					  	<span th:text="#{admin.catalog.category.delete.phisycalDelete}">Phisycal delete</span>
					  </label>
	              </div>
	            </div>
	            <div class="modal-footer" id = "delete-modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
	                <button type="submit" id="ID" name="ID" value="" class="btn btn-primary">Удалить</button>
		        </div> 
            </form>  	      
	     </div> 
	  </div> 
	</div>
    <!-- <div layout:fragment="editForm" >
    </div>-->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true" layout:fragment="editForm">
	  <div class="modal-dialog">
	    <div class="modal-content" id="editModalContent">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <h3>Modal Body</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>	      
	        </div> 
	     </div> 
	    </div> 
    </div>
    <div class="container-fluid" >
		<div class="row">
		  <div class="col-lg-12">
	       <div class="panel panel-default" layout:fragment="content"> 
	           <div class="panel-heading">
	               <span th:text="#{admin.catalog.instructions}" >Instructions</span>
	           </div> 	 
 	           <div class="panel-body" id="main-panel">  
 	                  <div class="row">
 	                    <div class="col-md-12">
					      <table class="table table-striped table-bordered table-hover table-condensed table-responsive" id="instructionDataTable" data-checkid="">
					        <thead >
						      <tr >
						         <th class="col-md-1"> </th>
					             <th class="col-md-3" th:text="#{admin.catalog.name}">Name</th>
								 <th class="col-md-3" th:text="#{admin.catalog.product}">Products</th>
								 <th class="col-md-3" th:text="#{admin.catalog.category}">Categories</th>
					             <th class="col-md-1 text-center" th:text="#{admin.catalog.category.enabled}">Enabled?</th>
					             <th class="col-md-1" th:text="#{admin.catalog.category.actions}">Actions</th>
					  	      </tr>
					 	    </thead>
					 	    <tbody>      
						       <tr th:each="ins : ${allInstructions}" th:class="${!ins[0].enabled ? 'text-muted' : ''}">
								  <td class="text-center">						
									  <input class="checkCategory" type="checkbox" th:id="${'check-'+ins[0].id}" th:value="${ins[0].id}"/>
								  </td>					         
								  <td class="mightOverflow domain-col"><span class="for-search" th:text="${ins[0].name}">Instruction 1</span></td>
								  <td><p class="dolessmore"> 
								       	  <th:block th:each="pr, prStat : ${ins[1]}">	
									       	 <span th:if="${prStat.index !=0}">,&nbsp;</span>
									         <a th:href="@{${'/admin/catalog/product/edit?ID='+pr.key}}">
									            <span th:utext="${pr.value}"></span>
									         </a>
								          </th:block>	
							          </p> 							  
								  </td> 
								  <td><p class="dolessmore"> 
								       	  <th:block th:each="ct, ctStat : ${ins[2]}">	
									       	 <span th:if="${ctStat.index !=0}">,&nbsp;</span>
									         <a th:href="@{${'/admin/catalog/category/edit?categoryID='+ct.key}}">
									            <span th:utext="${ct.value}"></span>
									         </a>
								          </th:block>	
							          </p> 							  
								  </td> 
					              <td class="text-center"><i th:class="${ins[0].enabled ? 'fa fa-check-circle' : ''}"></i></td>
					              <td class="text-center">
  				            	  		 <div class="btn-group" role="group" > 	
				                              <a class="btn btn-outline btn-default btn-xs" 
				                              	 th:href="@{${'/admin/catalog/instruction/edit?ID='+ins[0].id}}"> 
				                                <i class="fa fa-pencil"></i>
				                              </a>
				                              <a class="open-editDialog btn btn-outline btn-default btn-xs" 
				                                 th:href="@{${'/admin/catalog/instruction/add?ID='+ins[0].id}}"> 
				                                <i class="fa fa-copy"></i>
				                              </a>					                              
				                              <a th:disabled="${!ins[0].enabled}" data-toggle="modal" data-target="#deleteModal" 
				                                 class="open-deleteDialog btn btn-outline btn-default btn-xs"
				                                 th:attr="data-id=${ins[0].id}, data-name=${ins[0].name}"> 
				                                <i class="fa fa-trash-o"></i>
				                              </a>	
		                            	 </div>  
					               </td>
						        </tr>
					         </tbody>
					       </table> 
					     </div> 
					   </div>  
			         </div> 
			         <div class="panel-footer">
				      <div class="btn-toolbar" role="toolbar" aria-label="...">
					      <div class="btn-group" role="group" aria-label="...">
                            <a type="button" class="btn btn-outline btn-default btn-sm" 
                                 th:href="@{'/admin/catalog/instruction/add'}"> 
                              <i class="fa fa-plus-circle"></i>&nbsp;<span th:text="#{admin.catalog.category.add.buttoncaption}">Добавить</span>
                            </a>							  
					      </div> 
					  </div>	  
			        </div>
 				  </div> 
		       </div>   
		    </div>
		  </div> 
    <!-- jQuery -->
    <script src="../../../../resources/js/lib/jquery.min.js" th:src="@{/resources/js/lib/jquery.min.js}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../../../../resources/js/lib/bootstrap.min.js" th:src="@{/resources/js/lib/bootstrap.min.js}"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="../../../../resources/js/lib/metisMenu.min.js" th:src="@{/resources/js/lib/metisMenu.min.js}"></script>
    <th:block layout:fragment="script"> 
   	    <!-- DataTables JavaScript -->
	    <script src="../../../../resources/js/lib/jquery.dataTables.min.js" th:src="@{/resources/js/lib/jquery.dataTables.min.js}"></script>
	    <script src="../../../../resources/js/lib/dataTables.bootstrap.min.js" th:src="@{/resources/js/lib/dataTables.bootstrap.min.js}"></script>
		<!-- read more -->
        <script src="../../../../resources/js/lib/readmore.min.js" th:src="@{/resources/js/lib/readmore.min.js}"></script>
	    <!-- <th:block layout:fragment="scriptEditModal"> 
	    <th:block th:include="/admin/catalog/categoryEdit :: scriptEditModal">
        </th:block> -->
        <script>
            //<![CDATA[
			$(function(){
   		       $("#instructionDataTable").dataTable( {
	            	"language": {
	                   	"processing": "Подождите...",
	                   	  "search": "Поиск:",
	                   	  "lengthMenu": "Показать _MENU_ записей",
	                   	  "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
	                   	  "infoEmpty": "Записи с 0 до 0 из 0 записей",
	                   	  "infoFiltered": "(отфильтровано из _MAX_ записей)",
	                   	  "infoPostFix": "",
	                   	  "loadingRecords": "Загрузка записей...",
	                   	  "zeroRecords": "Записи отсутствуют.",
	                   	  "emptyTable:": "В таблице отсутствуют данные",
	                   	  "paginate": {
	                   	    "first": "Первая",
	                   	    "previous": "Предыдущая",
	                   	    "next": "Следующая",
	                   	    "last": "Последняя"
	                   	  },
	                   	  "aria": {
	                   	    "sortAscending": ": активировать для сортировки столбца по возрастанию",
	                   	    "sortDescending": ": активировать для сортировки столбца по убыванию"
	                   	  }
	                  },
	                  "bStateSave": true
   				} );
			
				$(".dolessmore").readmore({
					collapsedHeight: 100,
					moreLink: "<a href='javascript: void(0);'>еще...</a>",
					lessLink: "<a href='javascript: void(0);'>свернуть</a>"
				});
				
			    //Открытие окна удаления
			    $("body").on("click", ".open-deleteDialog", function () {
				    var ctgId = $(this).data("id");
				    var ctgName = $(this).data("name");
				    $("#delete-modal-footer #ID").val(ctgId);
				    $("#delete-modal-body #ctgName").html(ctgName);
				});				
			});
			// ]]>
		</script>
	    <th:block layout:fragment="scriptEditModal">
	    </th:block>
    </th:block>
</body>
</html>