<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  layout:decorator="layouts/admin-default">
	<head>
	    <th:block th:remove="all">
			<title>inShop Admin Product</title>
		    <meta charset="utf-8"/>
		    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		    <meta name="viewport" content="width=device-width, initial-scale=1"/>
		    <meta name="description" content=""/>
		    <meta name="author" content=""/>
		    <!-- Bootstrap Core CSS -->
		    <link href="../../../../resources/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" th:href="@{/resources/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
			<!-- Custom css -->	    
	    	<link href="../../../../resources/css/sb-admin-2.css" rel="stylesheet" th:href="@{/resources/css/sb-admin-2.css}"/>
		    <!-- Custom Fonts -->
	    	<link href="../../../../resources/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" th:href="@{/resources/bower_components/font-awesome/css/font-awesome.min.css}"/>
    	</th:block>
		    <!-- DataTables CSS -->
		    <link href="../../../../resources/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" th:href="@{/resources/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css}"/>	    	
			<!-- DataTables Responsive CSS -->
    		<link href="../../../../resources/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet" type="text/css" th:href="@{/resources/bower_components/datatables-responsive/css/dataTables.responsive.css}"/>	    	
	    	<link href="../../../../resources/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" th:href="@{/resources/bower_components/bootstrap/dist/css/bootstrap-theme.min.css}"/>
			<!-- summernote -->
			<link href="../../../../resources/css/summernote.css" rel="stylesheet" type="text/css" th:href="@{/resources/css/summernote.css}"></link>
			<!-- style.css -->
    		<link href="../../../../resources/css/style.css" rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}"/>
	    	<!-- bootstrap-select -->
			<link href="../../../../resources/css/bootstrap-select.min.css" rel="stylesheet" th:href="@{/resources/css/bootstrap-select.min.css}"/>
	    	<!-- bootstrap-datetimepicker -->
  			<link href="../../../../resources/css/bootstrap-datetimepicker.min.css" rel="stylesheet" th:href="@{/resources/css/bootstrap-datetimepicker.min.css}"/>			      			    	
    			    	
			<style type="text/css">			
				body {
				    margin:0;     /* This is used to reset any browser-default margins */
				    height:100vh; /* This is needed to overcome a Chrome bug. */
				    width:100vw;  /* As above. */
				}
			 	table { table-layout: fixed; }
 				/*table th, table td { overflow: hidden; }*/
				td.domain-col {
				    overflow: hidden;
				    text-overflow: ellipsis;
				    white-space: nowrap;
				 }
				mark {
					border: 1px dashed black; !important;
				 }
				tfoot {
				    display: table-header-group;
				}
				tfoot input {
			        width: 100%;
			        padding: 3px;
			        box-sizing: border-box;			        
			    } 
			    textarea:required:invalid, input:required:invalid {
			            background-color: lightyellow;
			    }		
				.table-responsive {
				  overflow-x: visible !important;
				  overflow-y: visible !important;
				}			    	    
			</style>			
	</head>
<body>
   <th:block layout:fragment="breadcrumb">
   	 <li class="active" th:text="#{admin.catalog.product}"></li>
   </th:block>
   <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true" layout:fragment="deleteForm">
	  <div class="modal-dialog">
	    <div class="modal-content" id="deleteModalContent">
 	        <form method="post" action="#" th:action="@{/admin/catalog/product/delete}" id="deleteForm">
	            <div class="modal-header">
	              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	              <h4 class="modal-title" id="deleteModalLabel"><span th:text="#{admin.catalog.category.delete.modalcaption}">Удаление</span></h4>
	            </div>
	            <div class="modal-body" id = "delete-modal-body">
	              <div class="field-box">
	                <span th:text="#{admin.catalog.category.delete.modalmessage}">Подтвердите удаление производителя: </span>
	                <span style="font-weight:bold" id="prName"> Производитель </span>
				  </div>	                
	              <div class="field-box" sec:authorize="hasRole('ADMIN')">
                      <label>
					   	<input type="checkbox" name="phisycalDelete"/>
					  	<span th:text="#{admin.catalog.category.delete.phisycalDelete}">Phisycal delete</span>
					  </label>
	              </div>
	            </div> 
	            <div class="modal-footer" id = "delete-modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
	                <button type="submit" id="ID" name="ID" value="" class="btn btn-primary">Удалить</button>
		        </div> 
            </form>  	      
	     </div> 
	  </div> 
	</div>
	   <div class="modal fade" id="deleteModalImage" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabelImage" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content" >
		            <div class="modal-header">
		              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		              <h4 class="modal-title"><span th:text="#{admin.catalog.delete.modalcaption}">Удаление</span></h4>
		            </div>
		            <div class="modal-body">
		              <div class="field-box">
						<span th:text="#{admin.catalog.product.image.delete.modalmessage}">
						  Подтвердите удаление изображение: 
						</span>
		                <span class="objname" style="font-weight:bold"> /image/i1.jpg </span>
					  </div>	                
		            </div> 
		            <div class="modal-footer" id = "delete-modal-footer-pov">
		                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
		                <button type="button" id="delImage" name="ID" value="" data-dismiss="modal" class="btn btn-primary">Удалить</button>
			        </div> 
<!-- 	            </form>  	       -->
		     </div> 
		    </div> 
		</div>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true" layout:fragment="editForm">
	  <div class="modal-dialog" style="width:65vw;overflow-y: initial !important">
	    <div class="modal-content" id="editModalContent">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <h3>Modal Body</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>	      
	        </div> 
	     </div> 
	   </div> 
    </div>
    <div class="container-fluid">
		<div class="row" >
		  <div class="col-lg-12" >
	       <div class="panel panel-default" layout:fragment="content">
	           <div class="panel-heading">
	               <span th:text="#{admin.catalog.product}">Product</span>
	           </div> 	 
	             <div class="panel-body">
 	                  <div class="row">
 	                    <div class="col-md-12">	              
						      <table class="table table-striped table-bordered table-hover table-condensed table-responsive" id="productDataTable" data-checkid="">
						        <thead >
							      <tr >
							          <th class="col-md-1"></th>
						              <th class="col-md-3 text-center" th:text="#{admin.catalog.name}">Name</th>
						              <th class="col-md-1 text-center" th:text="#{admin.catalog.category}">Category</th>
						              <th class="col-md-1 text-center" th:text="#{admin.catalog.url}">Url</th>
						              <th class="col-md-1 text-center" th:text="#{admin.catalog.brand}">Brand</th>
						              <th class="col-md-1 text-center" th:text="#{admin.catalog.model}">Model</th>
						              <th class="col-md-1 text-center" th:text="#{admin.catalog.price}">Price</th>
						              <th class="col-md-1 text-center" th:text="#{admin.catalog.ordering}">Ordering</th>
						              <th class="col-md-1 text-center" th:text="#{admin.catalog.enabled}">Enabled?</th>
						              <th class="col-md-1 text-center"></th>
						  	      </tr>
						 	    </thead>
						 	    <tfoot>
							      <tr >
							          <th ></th>
						              <th ></th>
						              <th ></th>
						              <th ></th>
						              <th ></th>
						              <th ></th>
						              <th ></th>
						              <th ></th>
						              <th ></th>
						              <th ></th>
						  	      </tr>
						 	    </tfoot>
						 	    <tbody>      
							        <tr th:each="pr : ${allProduct}" th:class="${!pr.enabled} ? 'text-muted'">
							            <td class="text-center">						
										    <input class="checkCategory" type="checkbox" th:id="${'check-'+pr.id}" th:value="${pr.id}"/>
									    </td>
										<td class="mightOverflow domain-col">
										    <div class="a-photo-out">
                                               <span class="photo-block">
                                                 <span class="helper"></span>
                                                 <img th:src="@{${!#lists.isEmpty(pr.getDefaultSku().getImages())? pr.getDefaultSku().getImages()[0]: ''}}"  th:onerror="'this.src=\'' + @{/resources/img/noimage.png} + '\';'"/>
                                               </span>
										       <span th:text="${pr.defaultSku.name}">name</span>
										       <br/>
										       <span style="font-size: 9pt;" th:text="#{admin.catalog.product.articul}+': '+${pr.defaultSku.code}">code</span>
										    </div>										
										</td>
										<td class="mightOverflow domain-col"><span th:text="${pr.category!=null? pr.category.name: ''}">Category Category Category Category Category Category Category</span></td>
										<td class="mightOverflow domain-col"><span th:text="${pr.url}">URL</span></td>
										<td class="mightOverflow domain-col"><span th:text="${pr.brand!=null? pr.brand.name: ''}">Brand</span></td>
										<td class="mightOverflow domain-col"><span th:text="${pr.model}">Model</span></td>
										<td style="font-size: 8pt;">
										      <span th:style="${pr.defaultSku.salePrice != null &amp;&amp; pr.defaultSku.salePrice != 0? 'text-decoration: line-through;': ''}" 
										            style="text-decoration: line-through;"
										            th:text="${{pr.defaultSku.retailPrice}}">10.00</span>
										      <br/>
										      <span th:text="${{pr.defaultSku.salePrice}}">9.00</span>
										</td>
										<td class="text-center" th:text="${pr.ordering}"></td>
						            	<td class="text-center"><i th:class="${pr.enabled} ? 'fa fa-check-circle'"></i></td>
						            	<td class="text-center">
											  <!--  data-toggle="modal" data-target="#editModal" -->
	  				            	  		 <div class="btn-group edit-btn-group" role="group" > 
				                                  <button type="button" class="open-editDialog btn btn-outline btn-default btn-xs" 
				                                          data-toggle="modal" data-target="#editModal" data-operation="edit" 
				                                          th:attr="data-id=${pr.id}, data-path=@{/admin/catalog/product/edit}"> 
				                                    <i class="fa fa-pencil"></i>
				                                  </button>	
				                                  <button type="button" class="open-editDialog btn btn-outline btn-default btn-xs" 
				                                          data-toggle="modal" data-target="#editModal" data-operation="add"
				                                          th:attr="data-id=${pr.id}, data-path=@{/admin/catalog/product/add}">
				                                    <i class="fa fa-copy"></i>
				                                  </button>
					                              <button th:disabled="${!pr.enabled}" type="button" data-toggle="modal" data-target="#deleteModal" 
					                                      class="open-deleteDialog btn btn-outline btn-default btn-xs"
					                                      th:attr="data-id=${pr.id}, data-name=${pr.defaultSku.name}"> 
					                                <i class="fa fa-trash-o"></i>
					                              </button>	
					                              <button class="btn btn-outline btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    													<i class="fa fa-sort-down"></i>
  											      </button>
	 			                            	  <ul class="dropdown-menu">
	    											<li><a th:href="@{${'/admin/catalog/sku?productID='+pr.id}}" th:text="#{admin.catalog.sku}">Sku</a></li>
	  											  </ul>
 			                            	 </div>   
			                             </td>
							        </tr>
  						         </tbody>
						      </table> 
						   </div>
						</div>      
				     </div> 
			         <div class="panel-footer">
				      <div class="btn-toolbar" role="toolbar" aria-label="...">
					      <div class="btn-group" role="group" aria-label="...">
					   		 <div class="btn-group" role="group" aria-label="..."> 
                                <button type="button" class="open-editDialog btn btn-outline btn-default btn-sm" 
                                        data-toggle="modal" data-target="#editModal" data-operation="add"
                                        th:attr="data-path=@{/admin/catalog/product/add}">
                                  <i class="fa fa-plus-circle"></i>
                                  <span> </span>
						          <span th:text="#{button.add.caption}">Add product</span> 
                                </button>
						     </div>
					      </div> 
					  </div>	  
			       </div>
               </div>    
	       </div>
	    </div>
    </div> 
    <!-- jQuery -->
    <script src="../../../../resources/bower_components/jquery/dist/jquery.min.js" th:src="@{/resources/bower_components/jquery/dist/jquery.min.js}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../../../../resources/bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{/resources/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
    <th:block layout:fragment="script"> 
	    <!-- DataTables JavaScript -->
	    <script src="../../../../resources/bower_components/datatables/media/js/jquery.dataTables.min.js" th:src="@{/resources/bower_components/datatables/media/js/jquery.dataTables.min.js}"></script>
	    <script src="../../../../resources/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js" th:src="@{/resources/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js}"></script>
	    <script src="../../../../resources/js/inShop-common.js" th:src="@{/resources/js/inShop-common.js}"></script>
	    <th:block th:include="/admin/catalog/productEdit :: scriptEditModal">
        </th:block>	    
	    <script type="text/javascript">
	      //<![CDATA[
	           $(document).ready(function() {
    		     var table = $("#productDataTable").DataTable( {
		            	"language": {
		                   	"processing": "Подождите...",
		                   	  "search": "Поиск:",
		                   	  "lengthMenu": "Показать _MENU_ записей",
		                   	  "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
		                   	  "infoEmpty": "Записи с 0 до 0 из 0 записей",
		                   	  "infoFiltered": "(отфильтровано из _MAX_ записей)",
		                   	  "infoPostFix": "",
		                   	  "loadingRecords": "Загрузка записей...",
		                   	  "zeroRecords": "Записи отсутствуют.",
		                   	  "emptyTable:": "В таблице отсутствуют данные",
		                   	  "paginate": {
		                   	    "first": "Первая",
		                   	    "previous": "Предыдущая",
		                   	    "next": "Следующая",
		                   	    "last": "Последняя"
		                   	  },
		                   	  "aria": {
		                   	    "sortAscending": ": активировать для сортировки столбца по возрастанию",
		                   	    "sortDescending": ": активировать для сортировки столбца по убыванию"
		                   	  }
		                  }
    				});
  	                $('#productDataTable tfoot th').each( function () {
	  	            	 if ($(this).is(":first-child") || $(this).is(":last-child")) return;
		                 var title = $('#productDataTable thead th').eq( $(this).index() ).text();
		                 $(this).html( '<input type="text" placeholder="Фильтр '+title+'" />' );
		            });
    		     	table.columns().every( function () {
	  	               var that = this;
	  	        
	  	               $( 'input', this.footer() ).on( 'keyup change', function () {
	  	            	   that
	  	                       .search( this.value )
	  	                       .draw();
	  	                   
	  	               });
	  	           });
   		           //Проверка перед сабмитом
   		           $("body").on("click", ".btnSubmit" , function() {
   	                	//check for change category
   	                	var previd = $("#category").data("previd");
   	                	var currid = $("#category").val();
   	                	if (previd && previd!=currid)
   	                		return confirm("При смене категории товара, все значения атрибутов, которые ей не соответствуют будут удалены. Продолжить?") ;
   	                });
       				//Добавление input для productStatus
       		 		 $("body").on("change", "#productStatus", function(){
       					$("#productStatusIc").find("input").each(function(i,v){$(v).remove()});    		 			
       	 		        $(this).find("option:selected").each(function(i, v){
       	 		        	$("<input>").attr({
       	 		        	    type: "hidden",
       	 		        	    name: "productStatus["+i+"]",
       	 		        	    value: $(v).val()
       	 		        	}).appendTo("#productStatusIc");								    		 		            
       	 		        });    		 			
       	 		
       	 			});
       		 		$("body").on("change",  "#productOption", function(e){
						$("#productOptionIc").find("input").each(function(i,v){$(v).remove()});    		 			
		 		        $(this).find("option:selected").each(function(i, v){
		 		        	$("<input>").attr({
		 		        	    type: "hidden",
		 		        	    name: "productOptionsForForm["+i+"]",
		 		        	    value: $(v).val()
		 		        	}).appendTo("#productOptionIc");								    		 		            
		 		        });    		 			
		 		
		 			});
	       		 	$("body").on("change", "#inputSImg", function () {
		    				// Get content from Summernote
		    				var content = $("#summernote").code();
		    				// Add content from summernote to textarea
		    				$("#summernote").html( content );    				
			    			var form = new FormData(document.forms.pform);
			    			var path= $(this).data("path");
			    			var formser;
			    			if (form != "undefined" && form != null) formser = form;
		                    $.ajax({
		                    	type: "POST",
		                        url: path,
		                        data: formser,
		                        cache: false,
		                        contentType: false,
		                        processData: false		                        
		                    }).done(function (html) {
		                                $("#dImageTable").html(html);
		                                var s = $("#pImagesTable tbody > tr:last-child").position();
		        			    	    $("#editModalBody" ).scrollTop( s.top );
		        			    	    //for clean the file input
		        			    	    $("#inputSImg").replaceWith($("#inputSImg").clone(true));
		        			    	    
		                    });
	   		    	 });
	       		     $("body").on("click", ".row-move-up",  function () { 
	    			    var row = $(this).closest("tr");
	    			    var rowOther = row.next();
	    			    row.insertAfter(row.next());
	    			    var inp = $(row).find(".image-url");
	    			    var inpOther = $(rowOther).find(".image-url");
	    			    var indexOther = $(rowOther).index();
	    			    var index = $(row).index();
	    			    $(inp).attr("name","defaultSku.images["+index+"]");
	    			    $(inp).attr("id","defaultSku.images"+index);
	    			    $(inpOther).attr("name","defaultSku.images["+indexOther+"]");
	    			    $(inpOther).attr("id","defaultSku.images"+indexOther);	    			    
    			      });	    			   
	       		  $("body").on("click", ".row-move-down", function () { 
    				    var row = $(this).closest('tr');
    				    var rowOther = row.prev(); 
    				    row.prev().insertAfter(row);
	    			    var inp = $(row).find(".image-url");
	    			    var inpOther = $(rowOther).find(".image-url");
	    			    var indexOther = $(rowOther).index();
	    			    var index = $(row).index();
	    			    $(inp).attr("name","defaultSku.images["+index+"]");
	    			    $(inp).attr("id","defaultSku.images"+index);
	    			    $(inpOther).attr("name","defaultSku.images["+indexOther+"]");
	    			    $(inpOther).attr("id","defaultSku.images"+indexOther);	    			    
    			    }); 
	       		  $("body").on("click", ".open-deleteImageDialog", function () {
		        	   var row = $(this).closest('tr');
		        	   var index = $(row).index();
		        	   $(row).remove();
		        	   $('#pImagesTable tbody tr').slice(index).each( function () {
		        		 var inp = $(this).find(".image-url");
		        		 var currIndex = $(this).index();
		        		 $(inp).attr("name","defaultSku.images["+currIndex+"]");
	    			     $(inp).attr("id","defaultSku.images"+currIndex);
		        	   });
		          });
	            });
	            //Открытие окна удаления
		        $(document).on("click", ".open-deleteDialog", function () {
		    	     var Id = $(this).data("id");
		    	     var prName = $(this).data("name");
		    	     var action;
		    	     $("#delete-modal-footer #ID").val(Id);
		    	     $("#delete-modal-body #prName").html(prName);
		    	});    	    
		        $(document).on("click", ".open-editDialog", function () {
		          var id = $(this).data("id");
		          var path = $(this).data("path");
		    	  if (typeof id == 'undefined') id=null;  
  		          $("#editModalContent").html("");
                  $.ajax({
                    url: path+((id != null)?"?ID="+id:"") ,
                    cache: false
                  }).done(function (html) {
                            $("#editModalContent").html(html);
    	                    $("#summernote").summernote({
    	    				    lang: "ru-RU"
    	    				     });
	                        $(".selectpicker").selectpicker();
	                        $(".datetimepicker").datetimepicker({
	                            locale: "ru"
	                        });
	                        //$('#active-start-date').data("DateTimePicker").date($("active-start-date-input").val());
    	                    $("#name").focus();
                  });
		    	});  
  		        $(document).on("mouseenter", ".mightOverflow", function() { 
  		        	var $t = $(this); 
  		        	var title = $t.attr("title");
  		        	if (!title){ if (this.offsetWidth < this.scrollWidth) $t.attr("title", $t.text()) } 
  		        	else { if (this.offsetWidth >= this.scrollWidth && title == $t.text()) $t.removeAttr("title")}});	

		   // ]]>
	     </script>
	     <!-- <th:block layout:include="/admin/catalog/attributeCategoryEdit :: scriptEditModal"> -->
  	     <th:block layout:fragment="scriptEditModal">
	     </th:block>
    </th:block>
</body>
</html>