<footer>
	<th:block th:include=" ::page-description" th:remove="tag">
	</th:block>
    <div class="footer-top-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
               <div class="col-md-3 col-sm-6">
                  <div class="footer-menu">
					<h2 class="footer-wid-title">Магазин</h2>
                    <ul>
                        <li><a th:href="@{${'/'+beans.entityUrlPrefixes.getProperty('__${T(com.akartkam.inShop.util.Constants).PAGE_CLASS}__')+'/how-to-buy'}}"><i class="fa fa-question-circle fa-fw">&nbsp;</i>Как купить</a></li>
                        <li><a th:href="@{${'/'+beans.entityUrlPrefixes.getProperty('__${T(com.akartkam.inShop.util.Constants).PAGE_CLASS}__')+'/how-to-place-order'}}"><i class="fa fa-money fa-fw">&nbsp;</i>Как оформить заказ</a></li>
                        <li><a th:href="@{${'/'+beans.entityUrlPrefixes.getProperty('__${T(com.akartkam.inShop.util.Constants).PAGE_CLASS}__')+'/how-to-place-order'}}"><i class="fa fa-truck fa-fw">&nbsp;</i>Оплата и доставка</a></li>
                        <li><a th:href="@{/cart}" class="modalcart"><i class="fa fa-shopping-cart fa-fw"></i><span th:utext="#{menu.cart}">Корзина</span></a></li>
                    </ul>
                  </div>
               </div>
                <div class="col-md-3 col-sm-6">
                  <div class="footer-menu">
					<h2 class="footer-wid-title">Меню</h2>
                    <ul>
                        <li><a th:href="@{/}"><span th:utext="#{mainMenu.main}">Главная</span></a></li>
                        <li><a th:href="@{${'/'+beans.entityUrlPrefixes.getProperty('__${T(com.akartkam.inShop.util.Constants).PAGE_CLASS}__')+'/o-kompanii'}}">О компании</a></li>
                        <li><a th:href="@{/brand-list}"><span th:utext="#{mainMenu.brands}"/></a></li>
                        <li><a th:href="@{${'/'+beans.entityUrlPrefixes.getProperty('__${T(com.akartkam.inShop.util.Constants).PAGE_CLASS}__')+'/store-list'}}"><span th:utext="#{mainMenu.stores}"/></a></li>
                    </ul>					
                  </div>               
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="footer-menu">
					<h2 class="footer-wid-title">Контакты</h2>
                    <ul>
                        <li><a>&phone; 8(831) 217-09-53</a></li>
                        <li><a href="mailto:forpost-2017@mail.ru">forpost-2017@mail.ru</a></li>
                    </ul>					
                  </div>               
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="footer-menu">
					<h2 class="footer-wid-title">Присоединяйтесь</h2>
					<div class="pluso" data-background="transparent" data-options="medium,square,line,horizontal,counter,theme=01" data-services="vkontakte,facebook,twitter,google,moimir">
						<script type="text/javascript">(function() {
							  if (window.pluso)if (typeof window.pluso.start == "function") return;
							  if (window.ifpluso==undefined) { window.ifpluso = 1;
							    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
							    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
							    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
							    var h=d[g]('body')[0];
							    h.appendChild(s);
							  }})();
						</script>
					</div>
                  </div>                               
                </div>
            </div>
        </div>
    </div> <!-- End footer top area -->
    
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright">
                        <p>&copy; 2017 akartkam. <a href="mailto: akartkam@gmail.com">akartkam@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End footer bottom area -->
    <!-- Latest jQuery form server -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    
    <!-- Bootstrap JS form CDN -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <!-- jQuery sticky menu -->
    <script type="text/javascript" src="../../../../resources/js/lib/owl.carousel.min.js" th:src="@{/resources/js/lib/owl.carousel.min.js}"></script>
    <script type="text/javascript" src="../../../../resources/js/lib/jquery.sticky-kit.min.js" th:src="@{/resources/js/lib/jquery.sticky-kit.min.js}"></script>
    
    <!-- jQuery easing -->
    <script type="text/javascript" src="../../../../resources/js/lib/jquery.easing.1.3.min.js" th:src="@{/resources/js/lib/jquery.easing.1.3.min.js}"></script>
    
    <!-- Main Script -->
    <script type="text/javascript" src="../../../../resources/js/main.js" th:src="@{/resources/js/main.js}"></script>
    
    <script type="text/javascript" src="../../../../resources/js/cartOperations.js" th:src="@{/resources/js/cartOperations.js}"></script>
    <script type="text/javascript" src="../../../../resources/js/inShop-common.js" th:src="@{/resources/js/inShop-common.js}"></script>
    
    <!-- Slider -->
    <script type="text/javascript" src="../../../../resources/js/lib/bxslider.min.js" th:src="@{/resources/js/lib/bxslider.min.js}"></script>
	<script type="text/javascript" src="../../../../resources/js/lib/script.slider.js" th:src="@{/resources/js/lib/script.slider.js}"></script>
	
	<!-- jQuery SmartMenus-->
	<script type="text/javascript" src="../../../../resources/js/lib/jquery.smartmenus.min.js" th:src="@{/resources/js/lib/jquery.smartmenus.min.js}"></script>
	<script type="text/javascript" src="../../../../resources/js/lib/jquery.smartmenus.bootstrap.min.js" th:src="@{/resources/js/lib/jquery.smartmenus.bootstrap.min.js}"></script>
	
	<!-- jquery.modal.min.js-->
	<script type="text/javascript" src="../../../../resources/js/lib/jquery.modal.min.js" th:src="@{/resources/js/lib/jquery.modal.min.js}"></script>
		
	<!-- zoomsl-3.0.js --> 
	<script src="../../../../resources/js/lib/zoomsl-3.0.js" th:src="@{/resources/js/lib/zoomsl-3.0.js}"></script>					 	

	<!-- jquery.elevateZoom-3.0.8.min.js 
	<script src="../../../../resources/js/lib/jquery.elevateZoom-3.0.8.min.js" th:src="@{/resources/js/lib/jquery.elevateZoom-3.0.8.min.js}"></script>-->					 	
	<!-- lightbox.min.js 
	<script src="../../../../resources/js/lib/lightbox.min.js" th:src="@{/resources/js/lib/lightbox.min.js}"></script>-->	
	<script type="text/javascript" src="../../../../resources/js/lib/jPages.min.js" th:src="@{/resources/js/lib/jPages.min.js}"></script>
	<script type="text/javascript" src="../../../../resources/js/lib/jquery.lazyload.min.js" th:src="@{/resources/js/lib/jquery.lazyload.min.js}"></script>
    <script type="text/javascript" src="../../../../resources/js/lib/readmore.min.js" th:src="@{/resources/js/lib/readmore.min.js}"></script>
	<!-- TynySort -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tinysort/2.3.6/tinysort.min.js"></script>
<!-- 	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tinysort/2.3.6/tinysort.charorder.js"></script> -->
	
	<script type="text/javascript" src="../../../../resources/js/lib/jquery.equalheights.min.js" th:src="@{/resources/js/lib/jquery.equalheights.min.js}"></script>
    <!-- Select2 -->
    <script src="../../../../resources/js/lib/select2.full.min.js" th:src="@{/resources/js/lib/select2.full.min.js}"></script>
    <script src="../../../../resources/js/lib/ru.js" th:src="@{/resources/js/lib/ru.js}"></script>   	
    <script src="../../../../resources/js/sku-search.js" th:src="@{/resources/js/sku-search.js}"></script>
    <script src="../../../../resources/js/orderOperations.js" th:src="@{/resources/js/orderOperations.js}"></script>
	<script th:inline="javascript" type="text/javascript">
       //<![CDATA[ 
              var pricePieceUnitDelemiter = /*[[${#messages.msg('product.default.pricePieceUnitDelemiter')}]]*/
              var pricePieceUnit = /*[[${#messages.msg('product.default.pricePieceUnit')}]]*/ 
              var pricePackageUnit = /*[[${#messages.msg('product.default.pricePackageUnit')}]]*/
              var defaultClientnErrorMessage = /*[[${#messages.msg('error.default.clientMessage')}]]*/
              var root = /*[[@{/}]]*/
     		  $(document).ready(function() {
   	             makeSkuSelect2 ($("#main-search"), /*[[@{/product-search}]]*/'');
   	             $("body").on("select2:select", "#main-search", function (e){
   	               window.location = root+"product-by-sku/"+$(this).val(); 
   	             });
   			  });               
       // ]]>
	</script>
	<th:block layout:fragment="script"></th:block>				 	
		
</footer>