<header>
	<div class="header-area"> 
	    <div class="container">
	        <div class="row">
	            <div class="col-md-8">
	                <div class="user-menu">
	                    <ul>
	                        <li><a href="#"><i class="fa fa-building"></i>О компании</a></li>
	                        <li><a href="#"><i class="fa fa-heart"></i>Покупателям</a></li>
	                        <li><a th:href="@{/cart}" class="modalcart"><i class="fa fa-shopping-cart"></i><span th:utext="#{menu.cart}">Корзина</span></a></li>
	                    </ul>
	                </div>
	            </div>
	            <div class="col-md-4">
	            </div>
	        </div>
	    </div>
	</div> <!-- End header area -->
    <div class="site-branding-area">
        <div class="container-fluid">
            <div class="row vertical-align">
                <div class="col-md-2 col-sm-4" style="justify-content: flex-end;">
                    <div class="logo">
                        <h1><a href="./"><img th:src="@{/images/common/forpost_logo.png}"/></a></h1>
						<!--<div>
							<a href=""><span style="font-size: 12px;">средства реабилитации, медицинская техника, ортопедические изделия</span><a>
						</div>-->
                    </div>
                </div>
                <div class="col-md-2 col-sm-4" >
					<div class="company-phones">
						<span>&phone; 8(831) 217-09-97</span><br/>
						<span>&phone; 8(831) 217-09-98</span>
						<div class="header-callback">
							<a href="#">Заказать звонок</a>
						</div>						
					</div>						
				</div>                
                <div class="col-md-2 col-sm-4">
					<div class="company-address">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;&nbsp;
						<span>г.Нижний Новгород,</span> 
						<span>ул.Нартова, д.6, 603104</span>
						<div class="header-callback"> 
							<a href="mailto:forpost1998@mail.ru">forpost1998@mail.ru</a>
						</div>
					</div>						
                </div>
                <div class="clearfix visible-md-block visible-sm-block"></div>     
                <div class="col-md-4 col-sm-12">
                    <select id="main-search"></select>
			    <!--style="position: relative; transform: translateY(50%);"-->
<!--                     <form class="form-inline form-search pull-right" style="width: 100%;" id="product-search" action="#" th:action="@{/product-search}" method="GET"> -->

<!-- 		       		    <div class="input-group"> -->
<!-- 		       		    	<label class="sr-only" for="searchInput">Search</label> -->
<!--                          	<input type="text" class="form-control" placeholder="Поиск товара..."/> -->
<!--                          	<div class="input-group-btn"> -->
<!--                          	    <button type="submit"><i class="fa fa-search"></i></button> -->
<!--                          	</div> -->
<!--                   		</div>   			     -->
<!--                     </form> -->
                </div>
                <div class="clearfix visible-md-block visible-sm-block"></div>
                <div class="col-md-2 col-sm-12" style="justify-content: flex-start;">
                    <div class="shopping-item" th:with="cart = ${#httpSession.getAttribute(T(com.akartkam.inShop.util.Constants).CART_BEAN_NAME)}">
                        <a th:href="@{/cart}" class="modalcart"><i class="fa fa-shopping-cart"></i> <span class="cart-amunt" 
                           th:utext="${{cart != null? cart.total: beans.currencyNumberFormatter.print(0)}}"></span> 
                        <span class="product-count" th:utext="${cart != null? cart.quantityTotal: 0}"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End site branding area -->
    			  		
</header>