<header>
	<div class="header-area"> 
	    <div class="container">
	        <div class="row">
	            <div class="col-md-8">
	                <div class="user-menu">
	                    <ul>
	                        <li><a href="#"><i class="fa fa-user"></i>О компании</a></li>
	                        <li><a href="#"><i class="fa fa-heart"></i>Покупателям</a></li>
	                        <li><a href="cart.html"><i class="fa fa-user"></i>Корзина</a></li>
	                    </ul>
	                </div>
	            </div>
	            <div class="col-md-4">
	            </div>
	        </div>
	    </div>
	</div> <!-- End header area -->
    <div class="site-branding-area">
        <div class="container-fluid">
            <div class="row vertical-align">
                <div class="col-sm-2" style="justify-content: flex-start;">
                    <div class="logo">
                        <h1><a href="./"><img src="img/forpost_logo.png"/></a></h1>
						<!--<div>
							<a href=""><span style="font-size: 12px;">средства реабилитации, медицинская техника, ортопедические изделия</span><a>
						</div>-->
                    </div>
                </div>
                <div class="col-sm-2">
					<div class="company-phones">
						<span>&phone; 8(831) 217-09-97</span><br/>
						<span>&phone; 8(831) 217-09-98</span>
						<div class="header-callback">
							<a href="#">Заказать звонок</a>
						</div>						
					</div>						
				</div>                
                <div class="col-sm-2">
					<div class="company-address">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;&nbsp;
						<span>г.Нижний Новгород,</span> 
						<span>ул.Нартова, д.6, 603104</span>
						<div class="header-callback"> 
							<a href="mailto:forpost1998@mail.ru">forpost1998@mail.ru</a>
						</div>
					</div>						
                </div>                
                <div class="col-sm-4">
			    <!--style="position: relative; transform: translateY(50%);"-->
						<div class="input-group">
							<input type="text" style="width: 100%" placeholder="Поиск товара..."/>
							<div class="input-group-btn ">
								<button type="button" class="search-button btn btn-default" ><i class="fa fa-search"></i></button>
							</div>
						</div>                        
                </div>
                <div class="col-sm-2" style="justify-content: flex-end;">
                    <div class="shopping-item">
                        <a href="cart.html">Корзина - <span class="cart-amunt">5369 р.</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">2</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End site branding area -->
</header>