<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">    
		    <div class="mainmenu-area sticky-menu"> 
		        <div class="container-fluid">
		           <div class="row">
		                <div class="navbar-header">
		                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		                        <span class="sr-only">Toggle navigation</span>
		                        <span class="icon-bar"></span>
		                        <span class="icon-bar"></span>
		                        <span class="icon-bar"></span>
		                    </button>
		                </div>
		                <div class="navbar-collapse collapse">
		                    <ul class="nav navbar-nav">
		                        <li class="active"><a th:href="@{/}"><span th:utext="#{mainMenu.main}">Главная</span></a></li>
		                        <li><a th:href="@{${'/'+beans.entityUrlPrefixes.getProperty('__${T(com.akartkam.inShop.util.Constants).PAGE_CLASS}__')+'/o-kompanii'}}">О компании</a></li>
<!-- 		                        <li><a href="#">Акции</a></li> -->
		                        <li><a th:href="@{/brand-list}"><span th:utext="#{mainMenu.brands}"/></a></li>
		                        <li><a th:href="@{${'/'+beans.entityUrlPrefixes.getProperty('__${T(com.akartkam.inShop.util.Constants).PAGE_CLASS}__')+'/store-list'}}"><span th:utext="#{mainMenu.stores}"/></a></li>
		                        <li><a href="#">Контакты</a></li>
								<li><a href="#">Покупателям<span class="caret"></span></a>
									<ul class="dropdown-menu">
									  <li><a href="#">Оформление заказа</a></li>
									  <li><a href="#">Оплата и доставка</a></li>
									</ul>
								</li>
							</ul>			
		                </div>  
		            </div>
		        </div>
		    </div>  <!-- End mainmenu area -->
	    </div>
	</div>
</div>
