table { 
		table-layout: fixed; 
}
	
tbody {
	font-size: 9pt;
}
tfoot {
    display: table-header-group;
}
tfoot input {
       width: 100%;
       padding: 3px;
       box-sizing: border-box;			        
} 

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* for zoomsl-3.0*/
.round-loupe{
   border-radius: 75px;
   border: 5px solid #F0F0F0;
}
