<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layouts/admin-default">
	<head>
	    <th:block th:remove="all">
			<title>inShop Admin Category</title>
		    <meta charset="utf-8"/>
		    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		    <meta name="viewport" content="width=device-width, initial-scale=1"/>
		    <meta name="description" content=""/>
		    <meta name="author" content=""/>
		    <!-- Bootstrap Core CSS -->
		    <link href="../../../resources/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" th:href="@{/resources/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
			<!-- Custom css -->	    
	    	<link href="../../../resources/css/sb-admin-2.css" rel="stylesheet" th:href="@{/resources/css/sb-admin-2.css}"/>
		    <!-- Custom Fonts -->
	    	<link href="../../../resources/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" th:href="@{/resources/bower_components/font-awesome/css/font-awesome.min.css}"/>
    	</th:block>
	    	<link href="../../../resources/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" th:href="@{/resources/bower_components/bootstrap/dist/css/bootstrap-theme.min.css}"/>
			<!-- Treegrid -->
		 	<link href="../../../resources/css/jquery.treegrid.css" rel="stylesheet" th:href="@{/resources/css/jquery.treegrid.css}"/>
	    	    	
	</head>
<body>
   <th:block layout:fragment="breadcrumb">
   	 <li class="active" th:text="#{admin.catalog.attributecategory}"></li>
   </th:block>
   <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true" layout:fragment="deleteForm">
	  <div class="modal-dialog">
	    <div class="modal-content" id="deleteModalContent">
 	        <form th:action="@{/admin/catalog/attributecategory/delete}">
	            <div class="modal-header">
	              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	              <h4 class="modal-title" id="deleteModalLabel"><span th:text="#{admin.catalog.category.delete.modalcaption}">Удаление</span></h4>
	            </div>
	            <div class="modal-body" id = "delete-modal-body">
	                <span th:text="#{admin.catalog.category.delete.modalmessage}">Подтвердите удаление категории: </span>
	                <span style="font-weight:bold" id = "ctgName"> Категория </span>
	            </div>
	            <div class="modal-footer" id = "delete-modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
	                <button type="submit" id="categoryID" name="categoryID" value="" class="btn btn-primary">Удалить</button>
		        </div> 
            </form>  	      
	     </div> 
	  </div> 
	</div>
    <div layout:fragment="editForm" >
    </div>
    <th:block th:remove="all">
	   <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content" id="editModalContent">
	            <div class="modal-header">
	              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	              <h4 class="modal-title" id="myModalLabel">Modal title</h4>
	            </div>
	            <div class="modal-body">
	                <h3>Modal Body</h3>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	                <button type="button" class="btn btn-primary">Save changes</button>	      
		        </div> 
		     </div> 
		  </div> 
	    </div>
    </th:block>
    <div class="container-fluid">
		<div class="row" >
		  <div class="col-lg-12" > 
	       <div class="panel panel-default" layout:fragment="content">
	           <div class="panel-heading">
	               <span th:text="#{admin.catalog.attributecategory}" >Categories</span>
	           </div> 	 
	             <div class="panel-body">  
				      <table class="tree table table-striped table-bordered table-hover table-condensed table-responsive" id="categoryDataTable" data-checkid="">
				        <thead >
					      <tr >
					          <th class="col-md-1"></th>
				              <th class="col-md-8" th:text="#{admin.catalog.attributecategory.name}">Name</th>
				              <th class="col-md-1" th:text="#{admin.catalog.attributecategory.order}">Order</th>
				              <th class="col-md-1 text-center" th:text="#{admin.catalog.attributecategory.enabled}">Enabled?</th>
				              <th class="col-md-1"></th>
				  	      </tr>
				 	    </thead>
				 	    <tbody>      
					          <tr th:each="ct : ${allAttributeCategories}"
					              th:class="${'treegrid-'+{ct.id}+{{!#strings.containsIgnoreCase(ct.class.name,'AttributeCategory')} ? ' treegrid-parent-'+{ct.attributeCategory.id} : ''}+' '+{{!ct.enabled} ? 'text-muted' : ''}}">
					            <td class="text-center">						
								    <input class="checkCategory" type="checkbox" th:id="${'check-'+ct.id}" th:value="${ct.id}"/>
							    </td>
								<td th:text="${ct.name}">category 1</td>
								<td th:text="${ct.ordering}">1</td>
				            	<td class="text-center"><i th:class="${{ct.enabled} ? 'fa fa-check-circle' : ''}"></i></td>
				            	<td class="text-center">
					                <div class="row">
						          	   <form role="form">
										  <!--  data-toggle="modal" data-target="#editModal" -->
	  				            	  		 <div class="btn-group" role="group" > 
				                                  <button type="submit" class="open-editDialog btn btn-outline btn-default btn-xs" 
				                                          name="categoryID" th:value="${ct.id}"
				                                          th:formaction="@{/admin/catalog/attributecategory/edit}"> 
				                                    <i class="fa fa-pencil"></i>
				                                  </button>	
				                                  <button type="submit" class="open-editDialog btn btn-outline btn-default btn-xs" 
				                                          name="copyCategoryID" th:value="${ct.id}"
				                                          th:formaction="@{/admin/catalog/attributecategory/add}"> 
				                                    <i class="fa fa-copy"></i>
				                                  </button>
					                              <button th:disabled="${!ct.enabled}" type="button" data-toggle="modal" data-target="#deleteModal" 
					                                      class="open-deleteDialog btn btn-outline btn-default btn-xs"
					                                      th:attr="data-id=${ct.id}, data-name=${ct.name}"> 
					                                <i class="fa fa-trash-o"></i>
					                              </button>	
			                            	 </div>  
			                           </form>
			                         </div>  
	                             </td>
					        </tr>
					        <th:block th:remove="all">
								<tr class="treegrid-1" th:remove="all">
									<td class="text-center">						
									       <input class="checkCategory" type="checkbox" id='check-1' value="1"/>
								    </td>					         
									<td class="mightOverflow domain-col">Root node about rebit than eat the wolf then eat the bear then eat the elefant</td>
									<td class="text-center">Yes</td>
									<td class="text-center"></td>
								</tr>
								<tr class="treegrid-2 treegrid-parent-1" th:remove="all">
									<td class="text-center">						
									       <input class="checkCategory" type="checkbox" id='check-2' value="2"/>
								    </td>					         
									<td>Node 1-1</td>
									<td> </td>
									<td> </td>
								</tr>
								<tr class="treegrid-3 treegrid-parent-1" th:remove="all">
									<td class="text-center">						
									       <input class="checkCategory" type="checkbox" id='check-3' value="3"/>
								    </td>					         
									<td>Node 1-2</td>
									<td></td>
									<td > </td>
								</tr>
								<tr class="treegrid-4 treegrid-parent-3" th:remove="all">
									<td class="text-center">						
									       <input type="checkbox"/>
								    </td>					         
									<td>Node 1-2-1</td>
									<td></td>
									<td > </td>
								</tr>
								<tr class="treegrid-5 treegrid-parent-3" th:remove="all">
									<td class="text-center">						
									       <input type="checkbox"/>
								    </td>					         
									<td>Node 1-2-1</td>
									<td></td>
									<td > </td>
								</tr>
								<tr class="treegrid-6 treegrid-parent-3" th:remove="all">
									<td class="text-center">						
									       <input type="checkbox"/>
								    </td>					         
									<td>Node 1-2-1</td>
									<td></td>
									<td > </td>
								</tr>
								<tr class="treegrid-7 treegrid-parent-3" th:remove="all">
									<td class="text-center">						
									       <input type="checkbox"/>
								    </td>					         
									<td>Node 1-2-1</td>
									<td></td>
									<td > </td>
								</tr>
								<tr class="treegrid-8 treegrid-parent-3" th:remove="all">
									<td class="text-center">						
									       <input type="checkbox"/>
								    </td>					         
									<td>Node 1-2-1</td>
									<td></td>
									<td > </td>
								</tr>								
							</th:block>
				        </tbody>
				      </table> 
				     </div> 
			         <div class="panel-footer">
				      <div class="btn-toolbar" role="toolbar" aria-label="...">
	 			   		  <div class="btn-group" role="group" aria-label="..."> 
					        <button type="button" class="btn btn-outline btn-default btn-sm" onclick="$('#categoryDataTable').treegrid('expandAll');">
					          <i class="fa fa-expand"></i>
					        </button>
					        <button type="button" class="btn btn-outline btn-default btn-sm" onclick="$('#categoryDataTable').treegrid('collapseAll');">
					          <i class="fa fa-compress"></i>
					        </button>
					      </div>
					      <div class="btn-group" role="group" aria-label="...">
							  <form role="form">
						   		 <div class="btn-group" role="group" aria-label="..."> 
							        <button type="submit" class="btn btn-outline btn-default btn-sm"
							                th:formaction="@{/admin/catalog/attributecategory/add}">
							          <i class="fa fa-plus-circle"></i>
							          <span> </span>
							          <span th:text="#{admin.catalog.attributecategory.addcategory.buttoncaption}">Add category</span> 
							        </button>
							     </div>
						   		 <div class="btn-group" role="group" aria-label="..."> 
							        <button type="submit" class="btn btn-outline btn-default btn-sm"
							                th:formaction="@{/admin/catalog/attributecategory/attribute/add}">
							          <i class="fa fa-plus-circle"></i>
							          <span> </span>
							          <span th:text="#{admin.catalog.attributecategory.addattribute.buttoncaption}">Add attribute</span> 
							        </button>
							     </div>
							  </form>
					      </div> 
					  </div>	  
			        </div>
               </div>    
	       </div>
	    </div>
    </div> 
    <!-- jQuery -->
    <script src="../../../resources/bower_components/jquery/dist/jquery.min.js" th:src="@{/resources/bower_components/jquery/dist/jquery.min.js}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../../../resources/bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{/resources/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
    <th:block layout:fragment="script"> 
		<!-- Treegrid -->
	    <script src="../../../resources/bower_components/jquery/dist/jquery.treegrid.min.js" th:src="@{/resources/bower_components/jquery/dist/jquery.treegrid.min.js}"></script>
	    <script src="../../../resources/bower_components/jquery/dist/jquery.cookie.js" th:src="@{/resources/bower_components/jquery/dist/jquery.cookie.js}"></script>
		<script src="../../../resources/bower_components/jquery/dist/jquery.treegrid.bootstrap3.js" th:src="@{/resources/bower_components/jquery/dist/jquery.treegrid.bootstrap3.js}"></script>
	    <script type="text/javascript">
	      //<![CDATA[
	           $(document).ready(function() {
    		    $("#categoryDataTable").treegrid({
    		    		treeColumn: 1, 
		    			saveState: true,
		    		});
	            });
		        $(document).on("click", ".open-deleteDialog", function () {
		    	     var ctgId = $(this).data("id");
		    	     var ctgName = $(this).data("name");
		    	     $("#delete-modal-footer #categoryID").val(ctgId);
		    	     $("#delete-modal-body #ctgName").html(ctgName);
		    	});
		   // ]]>
	     </script>
	     <th:block layout:include="admin/attributeCategoryEdit :: scriptEditModal">
	     </th:block>
    </th:block>
</body>
</html>