<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
	<head>
		<title>Admin inShop</title>
	    <meta charset="utf-8"/>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	    <meta name="description" content=""/>
	    <meta name="author" content=""/>
	
	    <title>inShop Admin</title>
	    <!-- Bootstrap Core CSS -->
	    <link href="../../../resources/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" th:href="@{/resources/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
		<!-- Treegrid -->
	 	<link href="../../../resources/css/jquery.treegrid.css" rel="stylesheet" th:href="@{/resources/css/jquery.treegrid.css}"/>
	    <!-- Custom Fonts -->
    	<link href="../../../resources/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" th:href="@{/resources/bower_components/font-awesome/css/font-awesome.min.css}"/>
	</head>
<title>inShop Admin site</title>
<body>
	<div class="clearfix" th:fragment="content">
      <table class="tree">
        <thead>
	      <tr>
            <th th:text="#{admin.catalog.category.name}">Name</th>
            <th th:text="#{admin.catalog.category.description}">Description</th>
            <th th:text="#{admin.catalog.category.enabled}">Enabled?</th>
  	      </tr>
 	    </thead>
 	    <tbody>      
	          <tr th:each="ct : ${allCategories}" th:class="${'treegrid-'+{ct.id}+{{ct.parent != null} ? ' treegrid-parent-'+{ct.parent.id} : ''}}"> 
            <!-- table tree-2 table-bordered table-striped table-condensed
                <tr th:each="ct : ${allCategories}" th:class="${'treegrid-'+{ct.id}}"> -->
				<td th:text="${ct.name}">Root category 1</td>
            	<td th:text="${ct.description}">Root category description 1</td>
            	<td th:text="${ct.enabled}? #{bool.true} : #{bool.false}">Yes</td>
	        </tr>
			<tr class="treegrid-1" th:remove="all">
				<td>Root node</td><td>Additional info</td>
			</tr>
			<tr class="treegrid-2 treegrid-parent-1" th:remove="all">
				<td>Node 1-1</td><td>Additional info</td>
			</tr>
			<tr class="treegrid-3 treegrid-parent-1" th:remove="all">
				<td>Node 1-2</td><td>Additional info</td>
			</tr>
			<tr class="treegrid-4 treegrid-parent-3" th:remove="all">
				<td>Node 1-2-1</td><td>Additional info</td>
			</tr>
        </tbody>
      </table>	
	</div>
    <!-- jQuery -->
    <script src="../../../resources/bower_components/jquery/dist/jquery.min.js" th:src="@{/resources/bower_components/jquery/dist/jquery.min.js}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../../../resources/bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{/resources/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
	<!-- Treegrid -->
    <script src="../../../resources/bower_components/jquery/dist/jquery.treegrid.min.js" th:src="@{/resources/bower_components/jquery/dist/jquery.treegrid.min.js}"></script>
	<script src="../../../resources/bower_components/jquery/dist/jquery.treegrid.bootstrap3.js" th:src="@{/resources/bower_components/jquery/dist/jquery.treegrid.bootstrap3.js}"></script>
    <script type="text/javascript">
      $(document).ready(function() {
    	  $('.tree').treegrid('getRootNodes').treegrid('expand'); 
        /*$(".tree").treegrid({
            expanderExpandedClass: 'fa fa-minus',
            expanderCollapsedClass: 'fa fa-plus'
        });*/
      });
    </script>	
</body>
</html>