<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
	<head>
		<title>inShop Admin Category</title>
	    <meta charset="utf-8"/>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	    <meta name="description" content=""/>
	    <meta name="author" content=""/>
	    <!-- Bootstrap Core CSS -->
	    <link href="../../../resources/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" th:href="@{/resources/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
		<!-- Custom css -->	    
    	<link href="../../../resources/css/sb-admin-2.css" rel="stylesheet" th:href="@{/resources/css/sb-admin-2.css}"/>
	    <!-- Custom Fonts -->
    	<link href="../../../resources/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" th:href="@{/resources/bower_components/font-awesome/css/font-awesome.min.css}"/>
   		<th:block th:fragment="css">
			<!-- Treegrid -->
		 	<link href="../../../resources/css/jquery.treegrid.css" rel="stylesheet" th:href="@{/resources/css/jquery.treegrid.css}"/>
	    	<!-- DataTables CSS -->
	    	<link href="../../../resources/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" th:href="@{/resources/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css}"/>
	    	<!-- DataTables Responsive CSS -->
	    	<link href="../../../resources/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet" th:href="@{/resources/bower_components/datatables-responsive/css/dataTables.responsive.css}"/>   	
	    	<link href="../../../resources/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" th:href="@{/resources/bower_components/bootstrap/dist/css/bootstrap-theme.min.css}"/>    	
	    	<!-- summernote -->
			<link href="../../../resources/css/summernote.css" rel="stylesheet" type="text/css" th:href="@{/resources/css/summernote.css}"/>
		</th:block> 
	</head>
<body >
   <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <th:block th:remove="all">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;times;</button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <h3>Modal Body</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>	      
	        </div> 
	      </th:block>
	     </div> <!-- /.modal-content -->
	    </div> <!-- /.modal-dialog -->
    </div> <!-- /.modal -->  
    <div class="container">
		<div class="row" >
		  <div class="col-lg-12" >
	   <!-- <div class="panel panel-default" th:fragment="content">
	           <div class="panel-heading">
	               <span th:text="#{admin.catalog.category}" >Categories</span>
	           </div> -->	 
	    <!--   <div class="panel-body">   
	             <div class="dataTable_wrapper"> -->
				      <table class="tree table table-striped table-bordered table-hover table-condensed table-responsive" id="categoryDataTable" th:fragment="content">
				        <thead >
					      <tr >
				              <th  th:text="#{admin.catalog.category.name}">Name</th>
				              <th  th:text="#{admin.catalog.category.description}">Description</th>
				             <!--   <th  th:text="#{admin.catalog.category.order}">Order</th> -->
				              <th class="text-center" th:text="#{admin.catalog.category.enabled}">Enabled?</th>
				            <th></th>

				  	      </tr>
				 	    </thead>
				 	    <tbody>      
					          <tr th:each="ct : ${allCategories}" th:class="${'treegrid-'+{ct.id}+{{ct.parent != null} ? ' treegrid-parent-'+{ct.parent.id} : ''}}">
								<td class="col-md-5" th:text="${ct.name}">Root category 1</td>
				            	<td class="col-md-5" th:text="${ct.description}">Root category description 1</td>
				            	<!--  <td th:text="${ct.ordering}">1</td> -->
				            	<td class="col-md-1 text-center"><i th:class="${{ct.enabled} ? 'fa fa-check-circle' : ''}"></i></td>
				            	<td class="col-md-1 text-center">
	                              <button type="button" class="open-editDialog btn btn-outline btn-default btn-xs" 
	                                      data-toggle="modal" data-target="#editModal" 
	                                      th:attr="data-id=${ct.id}"> 
	                                <i class="fa fa-pencil"></i>
	                              </button>		
	                              <!--  th:href="${'category/edit/'+ct.id}"> -->	 
				            	</td>
					        </tr>
					        <th:block th:remove="all">
								<tr class="treegrid-1" th:remove="all">
									<td>Root node</td><td>Additional info</td>
									<td align="center">Yes</td>
								</tr>
								<tr class="treegrid-2 treegrid-parent-1" th:remove="all">
									<td>Node 1-1</td><td>Additional info</td>
								</tr>
								<tr class="treegrid-3 treegrid-parent-1" th:remove="all">
									<td>Node 1-2</td><td>Additional info</td>
								</tr>
								<tr class="treegrid-4 treegrid-parent-3" th:remove="all">
									<td>Node 1-2-1</td><td>Additional info</td>
								</tr>
							</th:block>
				        </tbody>
				      </table>
				  <!--  </div> -->   
		 <!--  </div> -->   
		<!-- </div> -->   
	       </div>
	    </div>
    </div> 
    <!-- jQuery -->
    <script src="../../../resources/bower_components/jquery/dist/jquery.min.js" th:src="@{/resources/bower_components/jquery/dist/jquery.min.js}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../../../resources/bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{/resources/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
    <th:block th:fragment="script">
		<!-- Treegrid -->
	    <script src="../../../resources/bower_components/jquery/dist/jquery.treegrid.min.js" th:src="@{/resources/bower_components/jquery/dist/jquery.treegrid.min.js}"></script>
		<script src="../../../resources/bower_components/jquery/dist/jquery.treegrid.bootstrap3.js" th:src="@{/resources/bower_components/jquery/dist/jquery.treegrid.bootstrap3.js}"></script>
		<!--<script src="../../../resources/js/inShop.js" th:src="@{/resources/js/inShop.js}"></script>-->
	     <!-- DataTables JavaScript -->
	    <script src="../../../resources/bower_components/datatables/media/js/jquery.dataTables.min.js" th:src="@{/resources/bower_components/datatables/media/js/jquery.dataTables.min.js}"></script>
	    <script src="../../../resources/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js" th:src="@{/resources/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js}"></script>
	    <!-- summernote -->
	    <script src="../../../resources/js/summernote.js" th:src="@{/resources/js/summernote.js}"></script>
	    <script src="../../../resources/js/summernote-ru-RU.js" th:src="@{/resources/js/summernote-ru-RU.js}"></script> 
	    <script type="text/javascript">
		      $(document).ready(function() {
		    		$(".tree").treegrid({
		    			initialState: "collapsed",
		    			expanderExpandedClass : "fa fa-minus-circle",
		    			expanderCollapsedClass : "fa fa-plus-circle"
		    		});
		    		$("#editModal").on("show.bs.modal", function (e) {
							if ($("#editModal").data("allowed") == "true") {    			
			    		        $("#editModalContent").text("");
			                    $.ajax({
			                        url: "category/edit/"+ $("#editModal").data("id"),
			                        cache: false
			                    }).done(function (html) {
			                                $("#editModalContent").append(html);
			                                $('#summernote').summernote({
			            					    lang: "ru-RU"
			              				     });
			                                $("#editModal").data("allowed","false")
			                       });
							}  
		                });    	                
			        $(".open-editDialog").on("click", function () {
			    	  var Id = $(this).data("id");
			    	  $("#editModal").data("id",Id);
			    	  $("#editModal").data("allowed","true");
			    	});	                
		            $('#categoryDataTable').DataTable({
		            	"language": {
		                   	"processing": "Подождите...",
		                   	  "search": "Поиск:",
		                   	  "lengthMenu": "Показать _MENU_ записей",
		                   	  "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
		                   	  "infoEmpty": "Записи с 0 до 0 из 0 записей",
		                   	  "infoFiltered": "(отфильтровано из _MAX_ записей)",
		                   	  "infoPostFix": "",
		                   	  "loadingRecords": "Загрузка записей...",
		                   	  "zeroRecords": "Записи отсутствуют.",
		                   	  "emptyTable:": "В таблице отсутствуют данные",
		                   	  "paginate": {
		                   	    "first": "Первая",
		                   	    "previous": "Предыдущая",
		                   	    "next": "Следующая",
		                   	    "last": "Последняя"
		                   	  },
		                   	  "aria": {
		                   	    "sortAscending": ": активировать для сортировки столбца по возрастанию",
		                   	    "sortDescending": ": активировать для сортировки столбца по убыванию"
		                   	  }
		                  },
		                responsive: true,
		                ordering:  false
		       
		        	});
		    	});
	     </script>
     </th:block>
</body>
</html>