<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layouts/admin-default">
	<head>
	    <th:block th:remove="all">
			<title>inShop Admin Category</title>
		    <meta charset="utf-8"/>
		    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		    <meta name="viewport" content="width=device-width, initial-scale=1"/>
		    <meta name="description" content=""/>
		    <meta name="author" content=""/>
		    <!-- Bootstrap Core CSS -->
		    <link href="../../../resources/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" th:href="@{/resources/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
			<!-- Custom css -->	    
	    	<link href="../../../resources/css/sb-admin-2.css" rel="stylesheet" th:href="@{/resources/css/sb-admin-2.css}"/>
		    <!-- Custom Fonts -->
	    	<link href="../../../resources/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" th:href="@{/resources/bower_components/font-awesome/css/font-awesome.min.css}"/>
    	</th:block>
	    	<!-- DataTables CSS -->
	    	<link href="../../../resources/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" th:href="@{/resources/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css}"/>
	    	<!-- DataTables Responsive CSS -->
	    	<link href="../../../resources/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet" th:href="@{/resources/bower_components/datatables-responsive/css/dataTables.responsive.css}"/>   	
	    	<link href="../../../resources/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" th:href="@{/resources/bower_components/bootstrap/dist/css/bootstrap-theme.min.css}"/>    	
			<!-- Treegrid -->
		 	<link href="../../../resources/css/jquery.treegrid.css" rel="stylesheet" th:href="@{/resources/css/jquery.treegrid.css}"/>
	    	<!-- summernote -->
			<link href="../../../resources/css/summernote.css" rel="stylesheet" type="text/css" th:href="@{/resources/css/summernote.css}"/>
	</head>
<body>
   <th:block layout:fragment="breadcrumb">
   	 <li class="active" th:text="#{admin.catalog.category}"></li>
   </th:block>
   <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true" layout:fragment="deleteForm">
	  <div class="modal-dialog">
	    <div class="modal-content" id="deleteModalContent">
 	        <form th:action="@{/admin/catalog/category/delete}">
	            <div class="modal-header">
	              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	              <h4 class="modal-title" id="deleteModalLabel"><span th:text="#{admin.catalog.category.delete.modalcaption}">Удаление</span></h4>
	            </div>
	            <div class="modal-body" id = "delete-modal-body">
	                <span th:text="#{admin.catalog.category.delete.modalmessage}">Подтвердите удаление категории: </span>
	                <span style="font-weight:bold" id = "ctgName"> Категория </span>
	            </div>
	            <div class="modal-footer" id = "delete-modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
	                <button type="submit" id="categoryID" name="categoryID" value="" class="btn btn-primary">Удалить</button>
		        </div> 
            </form>  	      
	     </div> 
	  </div> 
	</div>
    <div layout:fragment="editForm" >
    </div>
    <th:block th:remove="all">
	   <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content" id="editModalContent">
	            <div class="modal-header">
	              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	              <h4 class="modal-title" id="myModalLabel">Modal title</h4>
	            </div>
	            <div class="modal-body">
	                <h3>Modal Body</h3>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	                <button type="button" class="btn btn-primary">Save changes</button>	      
		        </div> 
		     </div> 
		  </div> 
	    </div>
    </th:block>
    <div class="container">
		<div class="row" >
		 <!--  <div class="col-lg-12" > 
	       <div class="panel panel-default" >
	           <div class="panel-heading">
	               <span th:text="#{admin.catalog.category}" >Categories</span>
	           </div> 	 
	             <div class="panel-body"> -->   
	              <div class="dataTable_wrapper" layout:fragment="content"> 
	             <form th:action="@{/admin/catalog/category/edit}">
				      <table class="tree table table-striped table-bordered table-hover table-condensed table-responsive" id="categoryDataTable">
				        <thead >
					      <tr >
				              <th  th:text="#{admin.catalog.category.name}">Name</th>
				              <th  th:text="#{admin.catalog.category.description}">Description</th>
				             <!--   <th  th:text="#{admin.catalog.category.order}">Order</th> -->
				              <th class="text-center" th:text="#{admin.catalog.category.enabled}">Enabled?</th>
				            <th></th>

				  	      </tr>
				 	    </thead>
				 	    <tbody>      
					          <tr th:each="ct : ${allCategories}" 
					              th:class="${'treegrid-'+{ct.id}+{{ct.parent != null} ? ' treegrid-parent-'+{ct.parent.id} : ''}+' '+{{!ct.enabled} ? 'text-muted' : ''}}">
								<td class="col-md-5" th:text="${ct.name}">Root category 1</td>
				            	<td class="col-md-5" th:text="${ct.description}">Root category description 1</td>
				            	<!--  <td th:text="${ct.ordering}">1</td> -->
				            	<td class="col-md-1 text-center"><i th:class="${{ct.enabled} ? 'fa fa-check-circle' : ''}"></i></td>
				            	<td class="col-md-1 text-center">
								  <!--  data-toggle="modal" data-target="#editModal" -->
	                              <button type="submit" class="open-editDialog btn btn-outline btn-default btn-xs" 
	                                      name="categoryID" th:value="${ct.id}"> 
	                                <i class="fa fa-pencil"></i>
	                              </button>		
	                              <button th:disabled="${!ct.enabled}" type="button" data-toggle="modal" data-target="#deleteModal" 
	                                      class="open-deleteDialog btn btn-outline btn-default btn-xs"
	                                      th:attr="data-id=${ct.id}, data-name=${ct.name}"> 
	                                <i class="fa fa-trash-o"></i>
	                              </button>		
	                              <!--  th:href="${'category/edit/'+ct.id}"> -->	 
				            	</td>
					        </tr>
					        <th:block th:remove="all">
								<tr class="treegrid-1" th:remove="all">
									<td>Root node</td><td>Additional info</td>
									<td align="center">Yes</td>
								</tr>
								<tr class="treegrid-2 treegrid-parent-1" th:remove="all">
									<td>Node 1-1</td><td>Additional info</td>
								</tr>
								<tr class="treegrid-3 treegrid-parent-1" th:remove="all">
									<td>Node 1-2</td><td>Additional info</td>
								</tr>
								<tr class="treegrid-4 treegrid-parent-3" th:remove="all">
									<td>Node 1-2-1</td><td>Additional info</td>
								</tr>
							</th:block>
				        </tbody>
				      </table>
				   </form>  
				   <div class="btn-group" role="group" aria-label="..."> 
					   <form th:action="@{/admin/catalog/category/add}">
					      <button type="submit" class="btn btn-primary btn-sm">
					          <i class="fa fa-plus-circle"></i>
					          <span> </span>
					          <span th:text="#{admin.catalog.category.add.buttoncaption}"></span> 
					      </button>
					   </form>
				   </div>
				   <p><hr/></p>
			<!-- </div>   
		       </div>   
		    </div> -->   
	       </div>
	    </div>
    </div> 
    <!-- jQuery -->
    <script src="../../../resources/bower_components/jquery/dist/jquery.min.js" th:src="@{/resources/bower_components/jquery/dist/jquery.min.js}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../../../resources/bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{/resources/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
    <th:block layout:fragment="script"> 
		<!-- Treegrid -->
	    <script src="../../../resources/bower_components/jquery/dist/jquery.treegrid.min.js" th:src="@{/resources/bower_components/jquery/dist/jquery.treegrid.min.js}"></script>
	    <script src="../../../resources/bower_components/jquery/dist/jquery.cookie.js" th:src="@{/resources/bower_components/jquery/dist/jquery.cookie.js}"></script>
		<script src="../../../resources/bower_components/jquery/dist/jquery.treegrid.bootstrap3.js" th:src="@{/resources/bower_components/jquery/dist/jquery.treegrid.bootstrap3.js}"></script>
	     <!-- DataTables JavaScript -->
	    <script src="../../../resources/bower_components/datatables/media/js/jquery.dataTables.min.js" th:src="@{/resources/bower_components/datatables/media/js/jquery.dataTables.min.js}"></script>
	    <script src="../../../resources/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js" th:src="@{/resources/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js}"></script>
	    <!-- summernote -->
	    <script src="../../../resources/js/summernote.js" th:src="@{/resources/js/summernote.js}"></script>
	    <script src="../../../resources/js/summernote-ru-RU.js" th:src="@{/resources/js/summernote-ru-RU.js}"></script> 
	    <script type="text/javascript">
		      $(document).ready(function() {
		    		$('#categoryDataTable').DataTable({
		            	"language": {
		                   	"processing": "Подождите...",
		                   	  "search": "Поиск:",
		                   	  "lengthMenu": "Показать _MENU_ записей",
		                   	  "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
		                   	  "infoEmpty": "Записи с 0 до 0 из 0 записей",
		                   	  "infoFiltered": "(отфильтровано из _MAX_ записей)",
		                   	  "infoPostFix": "",
		                   	  "loadingRecords": "Загрузка записей...",
		                   	  "zeroRecords": "Записи отсутствуют.",
		                   	  "emptyTable:": "В таблице отсутствуют данные",
		                   	  "paginate": {
		                   	    "first": "Первая",
		                   	    "previous": "Предыдущая",
		                   	    "next": "Следующая",
		                   	    "last": "Последняя"
		                   	  },
		                   	  "aria": {
		                   	    "sortAscending": ": активировать для сортировки столбца по возрастанию",
		                   	    "sortDescending": ": активировать для сортировки столбца по убыванию"
		                   	  }
		                  },
		                responsive: true,
		                ordering:  false
		        	});
		    		$(".tree").treegrid({
		    			initialState : "collapsed",
		    			saveState: true,
		    		});
		    		
		    		/*
		    		,
		    		$("#editModal").on("show.bs.modal", function (e) {
							if ($("#editModal").data("allowed") == "true") {    			
			    		        $("#editModalContent").text("");
			                    $.ajax({
			                        url: "category/edit/"+ $("#editModal").data("id"),
			                        cache: false
			                    }).done(function (html) {
			                                $("#editModalContent").html(html);
			                                $('#summernote').summernote({
			            					    lang: "ru-RU"
			              				     });
			                                $("#editModal").data("allowed","false")
			                       });
							}  
		                });    	                
			        $(".open-editDialog").on("click", function () {
			    	  var Id = $(this).data("id");
			    	  $("#editModal").data("id",Id);
			    	  $("#editModal").data("allowed","true");
			    	});
			        $.urlParam = function(name){
			            var results = new RegExp('[\?&amp;]' + name + '=([^&amp;#]*)').exec(window.location.href);
			            if (results==null){
			               return null;
			            }
			            else{
			               return results[1] || 0;
			            }
			        }
			        if ($.urlParam('errorId')){
			        	$('#editModal').modal('show');
			        }*/
		    	});
		        $(document).on("click", ".open-deleteDialog", function () {
		    	     var ctgId = $(this).data("id");
		    	     var ctgName = $(this).data("name");
		    	     $("#delete-modal-footer #categoryID").val(ctgId);
		    	     $("#delete-modal-body #ctgName").html(ctgName);
		    	});
	     </script>
	     <th:block layout:include="admin/categoryEdit :: scriptEditModal">
	     </th:block>
    </th:block>
</body>
</html>