<!doctype html>
<html>
  <head>
	<title>inShop Admin Category</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!-- Bootstrap Core CSS -->
    <link href="../../../resources/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" th:href="@{/resources/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/bootstrap-select.min.css" rel="stylesheet" th:href="@{/resources/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
   </head>
  <body>
     <form method="post" role="form" action="#" >
	  <select name="attributesSelected" class="selectpicker show-menu-arrow" multiple 
	          data-live-search="true">
	    <optgroup label="Condiments" data-max-options="2">
	      <option selected value="Mustard">Mustard</option>
	      <option selected value="Ketchup">Ketchup</option>
	      <option value="Ketchup">Ketchup</option>
	      <option value="Ketchup">Ketchup</option>
	      <option value="Ketchup">Ketchup</option>
	      <option value="Relish">Relish</option>
	    </optgroup>
	    <optgroup label="Breads" data-max-options="2">
	      <option>Plain</option>
	      <option>Steamed</option>
	      <option>Toasted</option>
	    </optgroup>
	  </select>
	  <button type="submit">Submit</button>
	 </form> 
      <!-- jQuery -->
      <script src="../../../resources/bower_components/jquery/dist/jquery.min.js" th:src="@{/resources/bower_components/jquery/dist/jquery.min.js}"></script>
      <!-- Bootstrap Core JavaScript -->
      <script src="../../../resources/bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{/resources/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
      <script src="../../../resources/js/bootstrap-select.min.js" th:src="@{/resources/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
      <script src="../../../resources/js/defaults-ru_RU.js" th:src="@{/resources/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>

  </body>
</html>