<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Непредвиденная ошибка</title>
</head>
<body>
    <div align="center">
		<img src="../../../resources/img/gingerCat.png" th:src="@{/resources/img/gingerCat.png}"></img>
	</div> 
	<p style="color: #999; font-size: 36pt;" align="center">404</p>
    <p style="color: #999; font-size: 24pt;" align="center">Такой страницы не найдено!</p>
	<div th:utext="'&lt;!--'" th:remove="tag"></div>
	<div th:utext="'Failed URL: ' +  ${url}" th:remove="tag">${url}</div>
	<div th:utext="'Exception: ' + ${exception.message}" th:remove="tag">${exception.message}</div>
	<ul th:remove="tag">
		<li th:each="ste : ${exception.stackTrace}" th:remove="tag"><span
			th:utext="${ste}" th:remove="tag">${ste}</span></li>
	</ul>
	<div th:utext="'--&gt;'" th:remove="tag"></div>
</body>
</html>