<th:block layout:decorator="layouts/productListFullPageLayout">
	<head>
		<th:block th:fragment="meta" th:remove="all">
			<meta name="description" th:content="${#strings.isEmpty(category.metaDescription)? category.description: category.metaDescription}"/>
			<meta name="keywords" th:content="${#strings.isEmpty(category.metaKeywords)? category.description: category.metaKeywords}"/>
		</th:block>
        <title th:fragment="content-title" th:utext="${#strings.isEmpty(category.metaTitle)? category.name: category.metaTitle}"></title>
    </head>
    <div layout:fragment="content">
 		 <ol class="breadcrumb">
  			<li><a th:href="@{/}"><span th:utext="#{mainMenu.main}">Главная</span></a></li>
  			<li th:each="rcat, rcatStat: ${category.buildCategoryHierarchy(null, true)}" th:class="${rcatStat.count==rcatStat.size? 'active':''}">
  				<a aid:phref="${rcat}" th:if="${rcatStat.count!=rcatStat.size}"><span th:utext="${rcat.name}"></span></a>
  				<span th:unless="${rcatStat.count!=rcatStat.size}" th:utext="${rcat.name}"></span>
  			</li>
		</ol> 
		<div class="container-fluid" id="filtered-content">
		    <div class="row" th:fragment="filtered-content">
		    	<div class="col-sm-9 col-md-10 col-lg-10">
					<div class="row">
					  <div class="col-lg-12">
						<div class="content-header">
							<h5 th:utext="${category.description}"></h5>
						</div>
					  </div>
					</div>
					<div class="row">
						<div class="col-lg-12" th:include="catalog/partials/sortForSmallSingleProduct">
						</div>
					</div>
					<div class="row">
						<div id="pagination-container" class="product-list-container col-lg-12"
						     th:with="productList = ${filteredProducts != null? filteredProducts: category.getAllProducts(null)}">
							<div th:each="product: ${productList}" th:if="${product.enabled}" 
							     class="col-md-3 col-sm-6 col-lg-15 product-col" th:object="${product}" 
							     th:include="catalog/partials/smallSingleProduct(pagination='true')">					
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="pagination-holder text-center">
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3 col-md-2 col-lg-2">
					<div class="hidden-xs">
						<div th:replace="catalog/partials/productFilter"></div>
					</div>
				</div>
			</div>
		</div>  
    </div>
   	<th:block th:fragment="page-description" th:remove="all">
   	   	<div class="page-description">
			<h1 th:utext="${#strings.isEmpty(category.h1)? category.name: category.h1}"></h1>
			<th:block th:remove="tag" th:utext="${category.longDescription}"></th:block>
		</div>
	</th:block>
</th:block>    