<th:block layout:decorator="layouts/fullPageLayout">
	<head>
		<th:block th:fragment="meta" th:remove="all">
			<meta name="description" th:content="${#strings.isEmpty(category.metaDescription)? category.name: category.metaDescription}"/>
			<meta name="keywords" th:content="${#strings.isEmpty(category.metaKeywords)? category.name: category.metaKeywords}"/>
		</th:block>
        <title th:utext="${category.name}"></title>
    </head>
    <div layout:fragment="content">
 		 <ol class="breadcrumb">
  			<li><a th:href="@{/}"><span th:utext="#{mainMenu.main}">Главная</span></a></li>
  			<li th:each="rcat, rcatStat: ${category.buildCategoryHierarchy(null)}" th:class="${rcatStat.count==rcatStat.size? 'active':''}">
  				<a aid:phref="${rcat}" th:if="${rcatStat.count!=rcatStat.size}"><span th:utext="${rcat.name}"></span></a>
  				<span th:unless="${rcatStat.count!=rcatStat.size}" th:utext="${rcat.name}"></span>
  			</li>
		</ol> 
		<div class="container-fluid">
			<div class="row">
				<div class="content-header">
					<h5 th:utext="${category.description}"></h5>
				</div>
			</div>
			<div class="row">
				<div id="pagination-container">
					<div th:each="product: ${category.getAllProducts(null)}" class="col-md-3 col-sm-6 col-lg-15" th:object="${product}" th:include="catalog/partials/smallSingleProduct(pagination='true')">					
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="pagination-holder text-center">
					</div>
				</div>
			</div>
		</div>  
    </div>
   	<th:block th:fragment="page-description" th:remove="all">
		<h1 th:utext="${#strings.isEmpty(category.h1)? category.name: category.h1}"></h1>
		<th:block th:remove="tag" th:utext="${category.longDescription}"></th:block>
	</th:block>
    <th:block layout:fragment="script">
        <script>	
			$(function(){
			  $(".product-f-image img").lazyload({
			        event : "turnPage",
			        effect : "fadeIn"
			  });				
				
			  var intemPerPage=4;
			  if(window.innerWidth > 600) { 
				  intemPerPage = 8;
			  }; 
			  if (window.innerWidth > 1200) { 		  
				  intemPerPage = 12;
			  }; 
			  if (window.innerWidth > 1500) {
				  intemPerPage = 15;
			  };					
			  $("div.pagination-holder").jPages({
			    containerID : "pagination-container",
			    perPage     : intemPerPage,
			    previous	: "«",
			    next		: "»",
			    callback    : function( pages, items ){
					            items.showing.find("img").trigger("turnPage");
					            /*items.oncoming.find("img").trigger("turnPage");*/
					          }			    
			  });
			
			});   
		</script>
    </th:block>
</th:block>    