<th:block layout:decorator="layouts/fullPageLayout">
	<head>
		<th:block th:fragment="meta" th:remove="all">
			<meta name="description" th:content="${#strings.isEmpty(product.metaDescription)? product.longDisplayName: product.metaDescription}"/>
			<meta name="keywords" th:content="${#strings.isEmpty(product.metaKeywords)? product.longDisplayName: product.metaKeywords}"/>
		</th:block>
        <title th:utext="${#strings.isEmpty(product.metaTitle)? product.name: product.metaTitle}"></title>
    </head>
    <div layout:fragment="content">
 		 <ol class="breadcrumb">
  			<li><a th:href="@{/}"><span th:utext="#{mainMenu.main}">Главная</span></a></li>
  			<li th:each="rcat, rcatStat: ${product.category.buildCategoryHierarchy(null, true)}">
  				<a aid:phref="${rcat}"><span th:utext="${rcat.name}"></span></a>
  			</li>
  			<li class="active">
  				<span th:utext="${product.name}"></span>
  			</li>
		</ol> 
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="media">
						<div class="media-left">
							<div th:each="ps, psStatus: ${#lists.toList(product.defaultSku.productStatus)}" th:class="#{${'product.status.class.'+ps}}" 
     							th:style="${psStatus.index == 0?'top: -10px;': psStatus.index == 1? 'top: 33px;': 'top: 66px;'}">		
							</div>
							<div class="media-object">
								<img style="border:1px solid #e8e8e6;" class="quick-review-product-zoom" th:alt="${product.name}" 
									 th:src="@{${!#lists.isEmpty(product.allImages)? product.allImages[0]: ''}}"  th:onerror="'this.src=\'' + @{/resources/img/noimage.png} + '\';'"
									 th:attr="data-large=@{${!#lists.isEmpty(product.allImages)? product.allImages[0]: ''}}" width="300" height="400"
									 data-help="Используйте колесико мыши для Zoom +/-"/>	
								<div id="quick-review-product-gallery" class="gallery" style="width:330px;">
								    <img th:each="image, imageStat: ${product.allImages}" class="imzoom-gallery" th:classappend="${imageStat.index == 0}? 'active'" width="75"
									     th:src="@{${image}}" th:alt="${product.name}"
									     th:attr="data-large=@{${image}}"/>		
								</div>
							</div>
						</div>
						<div class="media-body single-product-info">
						   <h1 class="media-heading" th:utext="${product.longDisplayName}"></h1>
				           <div class="product-attributes">
				           	   <aid:addtitional_sku_attr_values product="${product}" />
							   <div id="sku-attr-data" hidden="hidden" th:attr="data-sku-attr=${additSkuAttrValues}" />				               
					           <table cellspacing="0">
					               <tbody>
									   <tr>
									   	   <th><span th:utext="#{brand.name}"></span></th>
									   	   <td></td>
									   	   <td><a th:utext="${product.brand.name}" aid:phref="${product.brand}"></a></td>
									   </tr>
									   <tr th:if="${!#strings.isEmpty(product.model)}">
									   	   <th><span th:utext="#{product.model}"></span></th>
									   	   <td></td>
									   	   <td><span th:utext="${product.model}"></span></td>									   
									   </tr>
									   <tr>
									       <th:block th:unless="${product.hasAdditionalSkus()}">
										   	   <th><span th:utext="#{product.articul}"></span></th>
										   	   <td></td>
										   	   <td><span th:utext="${product.defaultSku.code}"></span></td>
									   	   </th:block>
									   	   <th:block th:if="${product.hasAdditionalSkus()}">
									   	   	   <th><span th:utext="#{product.articuls}"></span></th>
									   	   	   <td></td>
									   	   	   <td><span th:utext="${product.skuCodes}"></span></td>
									   	   </th:block>									   
									   </tr>
					                   <tr th:each="av : ${product.attributeValues}">
					                       <th><span th:utext="${av.attribute.name}"></span></th>
					                       <td></td>
					                       <td><span th:utext="${av.value}"></span>&nbsp;<span th:if="${av.attribute.unit != null}" th:utext="#{${'unit.' + av.attribute.unit}}"></span></td>
					                   </tr>
					                   <tr th:each="at : ${product.additionalSkuAttributes}">
					                       <th><span th:utext="${at.name}"></span></th>
					                       <td></td>
					                       <td><span class="addit-sku-attr-value" th:id="${'attr_'+at.id}"></span>&nbsp;<span class="unit" th:id="${'attr_unit_'+at.id}"></span></td>
					                   </tr>		                   
					                   <tr>
					                   	   <th><span th:utext="#{sku.quantityPerPackage}"></span></th>	
					                   	   <td></td>
					                   	   <td><span th:utext="${product.defaultSku.quantityPerPackage}"></span>&nbsp;<span class="price-piece-unit" th:utext="#{product.default.pricePieceUnit}"></span></td>
					                   </tr>
					               </tbody>
					           </table>
				           </div>
				           <form method="POST" th:action="${'javascript: void(0)'}" id="single-product-form"
		           	             th:attr="data-add-to-cart-path=@{'/cart/add'}, data-buy1click-path=@{'/checkout/buy1click'}">
				               <input type="hidden" name="productId" th:value="${product.id}" />
					           <div class="product-inventory">
						           <table cellspacing="0">
						               <tbody>
						                   <tr>
						                   	   <td colspan="3">
						                   	      <div style="max-width: 18vw;">
										             <div th:object="${product}" th:replace="catalog/partials/productOptions :: productOptions"></div>
										          </div>
						                   	   </td>
						                   </tr>
										   <tr th:unless="${#bools.isTrue(product.isNotShowPriceForUnit)}">
										   	   <th><span th:utext="#{sku.priceForUnit}"></span></th>
										   	   <td></td>
										   	   <td>
										   	      <ins id="priceForUnit" th:utext="${{product.defaultSku.price}}">$700.00</ins>
										   	      <del id="priceForUnitOld" th:utext="${{product.defaultSku.isOnSale()? product.defaultSku.retailPrice: '' }}">$100.00</del>
										   	   </td>
										   </tr>
										   <tr th:if="${product.defaultSku.quantityPerPackage != 1 || #bools.isTrue(product.isNotShowPriceForUnit)}">
										   	   <th><span th:utext="#{sku.priceForPackageUnit}"></span></th>
										   	   <td></td>
										   	   <td><ins id="priceForPkg" th:utext="${{product.defaultSku.priceForPackage}}">$700.00</ins></td>
										   </tr>
										   <tr>
										   	   <th></th>
										   	   <td></td>
										   	   <td></td>
										   </tr>
										   <tr>
										   	   <th><span th:utext="#{sku.quantity}"></span></th>
			                       			   <td></td>
			                       			   <td>
			                       			     <div class="quantity">
			                       			     	<input type="number" name="quantity" value="1" size="4" min="1" step="1"/>
			                       			     </div>
			                       			   </td>
										   </tr>
						               </tbody>
						           </table>				           
							   </div>
							   <div class="product-buttons">
							        <button type="button" class="add-to-cart" th:utext="#{button.toCart}">В корзину</button>
					                <button type="button" class="buy1click" th:utext="#{button.buy1click}">Купить в 1 клик</button>
							   </div>
  							   <div class="pluso" data-background="transparent" data-options="medium,square,line,horizontal,counter,theme=04" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir,email,print">
									<script type="text/javascript">(function() {
										  if (window.pluso)if (typeof window.pluso.start == "function") return;
										  if (window.ifpluso==undefined) { window.ifpluso = 1;
										    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
										    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
										    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
										    var h=d[g]('body')[0];
										    h.appendChild(s);
										  }})();
																			
									</script>  							   
  							   </div>							
						   </form>
						</div>									
					</div>	
                    <div role="tabpanel" class="product-description-tab">
                        <ul class="product-tab" role="tablist">
                            <li role="presentation" class="active"><a href="#prod-descr" aria-controls="prod-descr" role="tab" data-toggle="tab" th:utext="#{product.description}"></a></li>
                            <li th:if="${!#strings.isEmpty(product.instructionContent)}" role="presentation"><a href="#prod-instr" aria-controls="prod-instr" role="tab" data-toggle="tab" th:utext="#{product.instruction}"></a></li>
                            <li role="presentation"><a href="#feedback" aria-controls="feedback" role="tab" data-toggle="tab" th:utext="#{product.feedBack}"></a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="prod-descr" th:utext="${product.defaultSku.longDescription}">
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="prod-instr" th:utext="${product.instructionContent}">
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="feedback">
                            	<th:block th:include="rating/partials/submitReview">
                            	</th:block>
                            </div>
                        </div>
                    </div>

				</div>
			</div>
		</div>  
    </div>
    <th:block layout:fragment="script">
        <script>	
			$(function(){
	        	$(".quick-review-product-zoom").imagezoomsl({ 
        			//magnifiersize: [200, 250],
                   	zoomrange: [2,8],
                   	zoomstart: 2,
                   	innerzoom: true,
                    magnifierborder: "none"
        		});
				changeProductOption();
			});
			
		</script>
    </th:block>
</th:block>    