<th:block layout:decorator="layouts/fullPageLayoutNoSideMenu">
    <div layout:fragment="content">
 		 <ol class="breadcrumb">
  			<li><a th:href="@{/}"><span th:utext="#{mainMenu.main}">Главная</span></a></li>
  			<li th:utext="#{order.checkout}"></li>
		</ol>
		<div class="container-fluid">
			<div class="row" style="margin-bottom: 20px;">
				<div class="col-md-12 col-sm-12 col-lg-12">
					<h3 th:utext="#{order.checkout}"></h3>				
				</div>
			</div>
			<div  class="row" th:with="cart = ${__${T(com.akartkam.inShop.util.Constants).CART_BEAN_NAME}__}">
			  <span th:if="${cart == null || cart.cartItemsCount == 0}" style="font-size: 18px; font-weight: bold; text-align: center;" th:utext="#{cart.empty}"></span>
			  <th:block th:remove="${cart == null || cart.cartItemsCount == 0}? all : tag">
				  <div class="col-md-6 col-sm-6 col-lg-6">
				    <form class="form-horizontal" id="checkout-form" th:object="${checkoutForm}">
					  <div class="form-group">
					    <label for="firstName" class="col-sm-2 control-label"><span th:utext="#{person.firstName}"></span><span class="required">*</span></label>
					    <div class="col-sm-10">
					      <input type="text" th:field="*{firstName}"/>
					      <p class="text-danger" style="font-size: 8pt;" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Incorrect firstName</p>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="lastName" class="col-sm-2 control-label"><span th:utext="#{person.lastName}"></span><span class="required">*</span></label>
					    <div class="col-sm-10">
					      <input type="text" th:field="*{lastName}" />
					      <p class="text-danger" style="font-size: 8pt;" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Incorrect lastName</p>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="phone" class="col-sm-2 control-label"><span th:utext="#{person.phone}"></span><span class="required">*</span></label>
					    <div class="col-sm-10">
					      <input type="tel" th:field="*{phone}" />
					      <p class="text-danger" style="font-size: 8pt;" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Incorrect phone</p>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="email" class="col-sm-2 control-label"><span>Email</span><span class="required">*</span></label>
					    <div class="col-sm-10">
					      <input type="email" th:field="*{email}" />
					      <p class="text-danger" style="font-size: 8pt;" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect email</p>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="city" class="col-sm-2 control-label"><span th:utext="#{city}"></span></label>
					    <div class="col-sm-10">
					      <input type="text" name="city" id="city" th:value="#{default.city}"/>
					    </div>
					  </div>					  
					  <div class="form-group">
					    <label for="address" class="col-sm-2 control-label"><span th:utext="#{address}"></span></label>
					    <div class="col-sm-10">
					      <textarea rows="3" th:field="*{address}"></textarea>
					    </div>
					  </div>
					  <div class="form-group">
					    <label class="col-sm-2 control-label" th:utext="#{order.delivery}">Delivery</label>
					    <div class="col-sm-10">
					     <div class="radio" th:each="dv : ${AllDeliveries}">
					      <label>
					      	<input class="inp-delivery" th:field="*{delivery}" th:value="${dv.id}" type="radio"/>
					      	<span th:utext="${dv.name}"></span>
					      </label>
					     </div>
					    </div>
					  </div>
					  <div class="form-group">
					  	<div class="col-sm-12" id="co-delivery-detail">
					  	
					  	</div>
					  </div>				  					  
				    </form>				  
				  </div>
				  <div class="col-md-6 col-sm-6 col-lg-6">
					<div th:replace="cart/partials/cartProductsTable :: cartTable"></div>			  
				  </div>
			  </th:block>
			</div>
		</div>		 
	</div>
</th:block>