<th:block layout:decorator="layouts/fullPageLayoutNoSideMenu">
    <div layout:fragment="content">
 		 <ol class="breadcrumb">
  			<li><a th:href="@{/}"><span th:utext="#{mainMenu.main}">Главная</span></a></li>
  			<li th:utext="#{order.checkout}"></li>
		</ol>
		<div class="container-fluid">
			<div class="row" th:with="cart = ${__${T(com.akartkam.inShop.util.Constants).CART_BEAN_NAME}__}">
			  <span th:if="${cart == null || cart.cartItemsCount == 0}" style="font-size: 24px; font-weight: bold; text-align: center;" th:utext="#{cart.empty}"></span>
			  <th:block th:remove="${cart == null || cart.cartItemsCount == 0}? all : tag">
				  <div class="col-lg-6">
				  </div>
				  <div class="col-lg-6">
					<div th:replace="cart/partials/cartProductsTable :: cartTable"></div>			  
	<!-- 					<div th:replace="cart/partials/cartProductsTable(isShortMode='true')"></div> -->
				  </div>
			  </th:block>
			</div>
		</div>		 
	</div>
</th:block>